section>article {
    margin-top: 50px;
}

@media (max-width: 480px) {
    section>article {
        margin-top: 210px;
    }

    .nav_setting {
        position: fixed;
        top: 90px;
    }

    .nav_setting>div{
        width: calc(100% - 40px) !important;
    }
}

.rotate_icon_0 {
    transition: 0.3s;
    transform: rotate(0deg);
}

.rotate_icon_180 {
    transition: 0.3s;
    transform: rotate(180deg);
}

.accordion-panel {
    transition: 0.3s;
}