<section class="gradient-background layout-vertical py-20" style="height: 100vh;">
    <!-- Article -->
    <article class="layout-horizontal gap-20 px-20 w-fill h-fill overflow-hidden align-top-center">
        <div class="w-fill-column-3 h-fill pt-20">
            <div
                class="w-fill h-fill layout-vertical gap-10 p-10 rounded-8 border border-card-default card-background-default">
                <p class="text-subtitle text-primary">Cài đặt</p>

                <div class="search-dropdown-control w-fill">
                    <div class="control search-control">
                        <input type="search" placeholder="Tìm kiếm" spellcheck="false">
                        <button type="button" class="input-button clear-content-button">
                            <i class="icon-size-16 icon text-primary icon-ic_fluent_dismiss_16_regular"></i>
                        </button>
                        <button type="button" class="input-button search-button">
                            <i class="icon-size-16 icon text-primary icon-ic_fluent_search_16_regular"></i>
                        </button>
                    </div>
                    <div class="dropdown-menu">
                        <div class="list-item">
                            <div class="text-body">Item 1</div>
                        </div>
                        <div class="list-item">
                            <div class="text-body">Item 2</div>
                        </div>
                        <div class="list-item">
                            <div class="text-body">Item 3</div>
                        </div>
                    </div>
                </div>

                <div class="layout-vertical gap-10 w-fill">
                    <div (click)="tab('general-settings')"
                        class="list-item layout-horizontal gap-10 align-center-left {{tabSetting == 'general-settings' ? 'active' :''}}">
                        <i class="icon-size-20 icon text-accent-default icon-ic_fluent_settings_20_regular"></i>
                        <p class="text-body text-primary">Chung</p>
                    </div>
                    <div (click)="tab('account-settings')"
                        class="list-item layout-horizontal gap-10 align-center-left {{tabSetting == 'account-settings' ? 'active' :''}}">
                        <i class="icon-size-20 icon text-accent-default icon-ic_fluent_person_20_regular"></i>
                        <p class="text-body text-primary">Tài khoản</p>
                    </div>
                    <div (click)="tab('appearance-settings')"
                        class="list-item layout-horizontal gap-10 align-center-left {{tabSetting == 'appearance-settings' ? 'active' :''}}">
                        <i class="icon-size-20 icon text-accent-default icon-ic_fluent_tv_20_regular"></i>
                        <p class="text-body text-primary">Giao diện</p>
                    </div>
                    <!-- <div class="list-item layout-horizontal gap-10 align-center-left">
                        <i class="icon-size-20 icon text-accent-default icon-ic_fluent_shield_20_regular"></i>
                        <p class="text-body text-primary">Riêng tư và an toàn</p>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="w-fill-column-6 h-fill my-20">

            <div class="w-fill h-fill" *ngIf="tabSetting == 'general-settings'">
                <div class="w-fill h-fill layout-vertical gap-20 overflow-scroll-vertical">


                    <div class="layout-horizontal gap-20 w-fill">
                        <div class="layout-vertical">
                            <div style="width: 230px; height: 120px;">
                                <img class="w-fill h-fill object-fit-cover rounded-8"
                                    [src]="(selectedFilesCover.length > 0)?previewCoverImages:user.profile.cover_photo || 'assets/image/splash.png'"
                                    alt="">
                            </div>
                            <img style="width: 90px; height: 90px; margin-top: -45px; margin-left: 20px;"
                                class="border border-card-default rounded-circle object-fit-cover"
                                [src]="(selectedFilesProfile.length > 0)?previewProfileImages:user.profile.profile_photo"
                                alt="">
                        </div>
                        <div class="layout-vertical gap-5" style="width: 300px;">
                            <p class="text-subtitle text-primary">{{display_name || user.profile.display_name}}</p>
                            <p class="text-primary text-caption">{{biography || user.profile.biography}}</p>
                        </div>
                    </div>
                    <div class="layout-vertical w-fill gap-20">

                        <div class="layout-vertical w-fill gap-5">
                            <p class="text-body-strong text-primary">Thông tin người dùng</p>

                            <div class="accordion active border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center"
                                        (click)="tabChild('display_name')">
                                        <i
                                            class="icon-size-20 icon text-primary icon-ic_fluent_contact_card_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Tên hiển thị</p>
                                            <p class="text-caption text-secondary">{{display_name ||
                                                user.profile.display_name}}</p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i
                                                class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>

                                    <div class="accordion-panel open layout-vertical" style="max-height: fit-content;"
                                        *ngIf="tabAccordion == 'display_name'">
                                        <div class="p-15 layout-horizontal align-center-space-between">
                                            <div class="control text-control w-hug">
                                                <input type="text" spellcheck="false" name="display_name"
                                                    [(ngModel)]="display_name">
                                            </div>

                                            <button class="button-standard button-text-only"
                                                (click)="updateUser({'display_name':display_name})">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion active border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center"
                                        (click)="tabChild('date_of_birth')">
                                        <i
                                            class="icon-size-20 icon text-primary icon-ic_fluent_calendar_date_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Ngày sinh</p>
                                            <p class="text-caption text-secondary">{{date_of_birth ||
                                                user.profile.date_of_birth ||
                                                'Trống'}}</p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i
                                                class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>

                                    <div class="accordion-panel open layout-vertical" style="max-height: fit-content;"
                                        *ngIf="tabAccordion == 'date_of_birth'">
                                        <div class="p-15 layout-horizontal align-center-space-between">
                                            <div class="control text-control w-hug">
                                                <input type="date" spellcheck="false" name="date_of_birth"
                                                    [(ngModel)]="date_of_birth">
                                            </div>
                                            <button class="button-standard button-text-only"
                                                (click)="updateUser({'date_of_birth':date_of_birth})">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion active border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center"
                                        (click)="tabChild('biography')">
                                        <i
                                            class="icon-size-20 icon text-primary icon-ic_fluent_person_note_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Tiểu sử</p>
                                            <p class="text-caption text-secondary">{{biography || user.profile.biography
                                                || 'Trống'}}
                                            </p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i
                                                class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>

                                    <div class="accordion-panel open layout-vertical" style="max-height: fit-content;"
                                        *ngIf="tabAccordion == 'biography'">
                                        <div class="p-15 layout-horizontal align-bottom-space-between gap-15">
                                            <textarea style="min-height: 110px;"
                                                class="control text-area-control w-fill" spellcheck="false"
                                                name="biography" [(ngModel)]="biography"></textarea>
                                            <button class="button-standard button-text-only"
                                                (click)="updateUser({'biography':biography})">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="layout-vertical w-fill gap-5">
                            <p class="text-body-strong text-primary">Trang cá nhân</p>

                            <div class="accordion active border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center"
                                        (click)="tabChild('profile_photo')">
                                        <i
                                            class="icon-size-20 icon text-primary icon-ic_fluent_person_square_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Ảnh đại diện</p>
                                            <p class="text-caption text-secondary">Điều chỉnh ảnh đại diện của bạn</p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i
                                                class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>

                                    <div class="accordion-panel open layout-vertical" style="max-height: fit-content;"
                                        *ngIf="tabAccordion == 'profile_photo'">
                                        <!-- <div
                                            class="p-15 layout-horizontal align-center-space-between border-bottom border-card-default">
                                            <p class="text-body text-primary">Chụp ảnh</p>
                                            <button class="button-standard button-text-only">Mở máy ảnh</button>
                                        </div> -->
                                        <div class="p-15 layout-horizontal align-center-space-between">
                                            <p class="text-body text-primary">Chọn ảnh từ thiết bị</p>
                                            <div class="layout-horizontal gap-15">
                                                <label class="button-standard button-text-only">Mở thư mục
                                                    <input class="display-none" type="file" [ngModel]="fileProfile"
                                                        (change)="onFileImageProfileSelected($event)" accept="image/*">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion active border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center"
                                        (click)="tabChild('cover_photo')">
                                        <i class="icon-size-20 icon text-primary icon-ic_fluent_image_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Ảnh bìa</p>
                                            <p class="text-caption text-secondary">Điều chỉnh ảnh bìa của bạn</p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i
                                                class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>

                                    <div class="accordion-panel open layout-vertical" style="max-height: fit-content;"
                                        *ngIf="tabAccordion == 'cover_photo'">
                                        <!-- <div
                                            class="p-15 layout-horizontal align-center-space-between border-bottom border-card-default">
                                            <p class="text-body text-primary">Chụp ảnh</p>
                                            <button class="button-standard button-text-only">Mở máy ảnh</button>
                                        </div> -->
                                        <div class="p-15 layout-horizontal align-center-space-between">
                                            <p class="text-body text-primary">Chọn ảnh từ thiết bị</p>
                                            <div class="layout-horizontal gap-15">
                                                <label class="button-standard button-text-only">Mở thư mục
                                                    <input class="display-none" type="file" [ngModel]="fileCover"
                                                        (change)="onFileImageCoverSelected($event)" accept="image/*">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-fill h-fill" *ngIf="tabSetting == 'account-settings'">
                <div class="w-fill h-fill layout-vertical gap-20 overflow-scroll-vertical">

                    <div class="layout-vertical w-fill gap-20">

                        <div class="layout-vertical w-fill gap-5">
                            <p class="text-body-strong text-primary">Thông tin tài khoản</p>

                            <div class="accordion active border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center"
                                        (click)="tabChild('username')">
                                        <i
                                            class="icon-size-20 icon text-primary icon-ic_fluent_contact_card_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Tên tài khoản</p>
                                            <p class="text-caption text-secondary">{{username ||
                                                user.username ||
                                                'Trống'}}</p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i
                                                class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>

                                    <div class="accordion-panel open layout-vertical" style="max-height: fit-content;"
                                        *ngIf="tabAccordion == 'username'">
                                        <div
                                            class="p-15 layout-horizontal align-center-space-between border-bottom border-card-default">
                                            <div class="control text-control">
                                                <input type="text" spellcheck="false" name="username"
                                                    [(ngModel)]="username">
                                            </div>
                                            <button class="button-standard button-text-only"
                                                (click)="updateUser({'username':username})">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="border border-card-default card-background-default rounded-4  layout-horizontal gap-15 p-15 align-center-center">
                                <i class="icon-size-20 icon text-primary icon-ic_fluent_key_20_regular"></i>
                                <div class="layout-vertical w-fill">
                                    <p class="text-body text-primary">Mật khẩu</p>
                                    <p class="text-caption text-secondary">Thay đổi mật khẩu của bạn</p>
                                </div>

                                <div class="dialog visible" *ngIf="tabAccordion == 'password'">
                                    <div class="dialog-panel layout" style="width: 375px;">
                                        <form (submit)="updatePassword(frm.value)" #frm="ngForm"
                                            class="solid-background-senary w-fill rounded-4 p-20 gap-20 layout-vertical border border-card-default">
                                            <p class="text-subtitle text-primary">Đổi mật khẩu</p>
                                            <div class="layout-vertical w-fill gap-5">
                                                <p class="text-body text-primary">Mật khẩu cũ</p>
                                                <div class="control password-control w-fill">
                                                    <input type="password" spellcheck="false" name="old_password"
                                                        ngModel required>
                                                    <button type="button" class="input-button show-password-button">
                                                        <i class="icon-size-16 icon icon-ic_fluent_eye_16_regular"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="layout-vertical w-fill gap-5">
                                                <p class="text-body text-primary">Mật khẩu mới</p>
                                                <div class="control password-control w-fill">
                                                    <input type="password" spellcheck="false" name="new_password"
                                                        ngModel #new_password="ngModel" required minlength="8">
                                                    <button type="button" class="input-button show-password-button">
                                                        <i class="icon-size-16 icon icon-ic_fluent_eye_16_regular"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <p *ngIf="new_password.errors?.['minlength']"
                                                class="validation-message validation-caution text-body text-primary">
                                                <i class="icon-size-16 icon icon-ic_fluent_warning_16_filled"></i>
                                                <span class="text-body-strong">Password</span>
                                                <span>Phải trên 8 ký tự</span>
                                            </p>
                                            <div class="layout-vertical w-fill gap-5">
                                                <p class="text-body text-primary">Xác nhận mật khẩu mới</p>
                                                <div class="control password-control w-fill">
                                                    <input type="password" spellcheck="false" ngModel name="confirm" #confirm="ngModel"
                                                        required>
                                                    <button type="button" class="input-button show-password-button">
                                                        <i class="icon-size-16 icon icon-ic_fluent_eye_16_regular"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <p *ngIf="new_password.value !== confirm.value"
                                                class="validation-message validation-caution text-body text-primary">
                                                <i class="icon-size-16 icon icon-ic_fluent_warning_16_filled"></i>
                                                <span class="text-body-strong">Password</span>
                                                <span>Không khớp</span>
                                            </p>
                                            <div class="layout-horizontal gap-10 w-fill align-center-right">
                                                <button type="button" class="button-standard button-text-only"
                                                    (click)="tabChild('password')">
                                                    Hủy
                                                </button>
                                                <button type="submit" class="button-accent button-text-only"
                                                [disabled]="frm.invalid || !checkPasswords(frm)">
                                                    Xác nhận
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <button type="button" class="button-standard button-text-only"
                                    (click)="tabChild('password')">
                                    Đổi mật khẩu
                                </button>
                            </div>

                            <div class="accordion active border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center"
                                        (click)="tabChild('email')">
                                        <i class="icon-size-20 icon text-primary icon-ic_fluent_mail_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Email</p>
                                            <p class="text-caption text-secondary">{{email ||
                                                user.email ||
                                                'Trống'}}</p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i
                                                class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>

                                    <div class="accordion-panel open layout-vertical" style="max-height: fit-content;"
                                        *ngIf="tabAccordion == 'email'">
                                        <div
                                            class="p-15 layout-horizontal align-center-space-between border-bottom border-card-default">
                                            <div class="control text-control">
                                                <input type="text" spellcheck="false" name="email" [(ngModel)]="email">
                                            </div>
                                            <button class="button-standard button-text-only"
                                                (click)="updateUser({'email':email})">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion active border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center"
                                        (click)="tabChild('phone_number')">
                                        <i class="icon-size-20 icon text-primary icon-ic_fluent_phone_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Số điện thoại</p>
                                            <p class="text-caption text-secondary">{{phone_number ||
                                                user.phone_number ||
                                                'Trống'}}</p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i
                                                class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>

                                    <div class="accordion-panel open layout-vertical" style="max-height: fit-content;"
                                        *ngIf="tabAccordion == 'phone_number'">
                                        <div
                                            class="p-15 layout-horizontal align-center-space-between border-bottom border-card-default">
                                            <div class="control text-control">
                                                <input type="text" spellcheck="false" name="phone_number"
                                                    [(ngModel)]="phone_number">
                                            </div>
                                            <button class="button-standard button-text-only"
                                                (click)="updateUser({'phone_number':phone_number})">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="accordion active border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center" (click)="tabChild('display_name')">
                                        <i class="icon-size-20 icon text-primary icon-ic_fluent_image_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Ảnh bìa</p>
                                            <p class="text-caption text-secondary">Điều chỉnh ảnh bìa của bạn</p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>
                                
                                    <div class="accordion-panel open layout-vertical" style="max-height: fit-content;" *ngIf="tabAccordion == 'display_name'">
                                        <div class="p-15 layout-horizontal align-center-space-between border-bottom border-card-default">
                                            <p class="text-body text-primary">Chụp ảnh</p>
                                            <button class="button-standard button-text-only">Mở máy ảnh</button>
                                        </div>
                                        <div class="p-15 layout-horizontal align-center-space-between">
                                            <p class="text-body text-primary">Chọn ảnh từ thiết bị</p>
                                            <button class="button-standard button-text-only">Mở thư mục</button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-fill h-fill" *ngIf="tabSetting == 'appearance-settings'">
                <div class="w-fill h-fill layout-vertical gap-20 overflow-scroll-vertical">

                    <div class="layout-vertical w-fill gap-20">

                        <div class="layout-vertical w-fill gap-5">
                            <p class="text-body-strong text-primary">Hiển thị</p>

                            <div class="accordion active border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center"
                                        (click)="tabChild('theme')">
                                        <i class="icon-size-20 icon text-primary icon-ic_fluent_sparkle_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Chủ đề</p>
                                            <p class="text-caption text-secondary">Tùy chỉnh giao diện</p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i
                                                class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>

                                    <div class="accordion-panel open layout-vertical" style="max-height: fit-content;"
                                        *ngIf="tabAccordion == 'theme'">
                                        <div class="p-15 gap-15 layout-horizontal">
                                            <div class="layout-vertical gap-10" style="width: 150px;">
                                                <label class="layout-vertical label-radio-control">
                                                    <div class="layout-vertical w-fill p-20 gap-20 solid-background-base border border-card-default rounded-4 align-bottom-right"
                                                        data-theme="light">
                                                        <div class="layout-vertical gap-10 w-fill">
                                                            <div class="w-fill rounded-4"
                                                                style="height: 3px; background-color: var(--text-secondary);">
                                                            </div>
                                                            <div class="w-fill rounded-4"
                                                                style="height: 3px; background-color: var(--text-secondary);">
                                                            </div>
                                                            <div class="w-fill rounded-4"
                                                                style="height: 3px; background-color: var(--text-secondary);">
                                                            </div>
                                                            <div class="w-fill rounded-4"
                                                                style="height: 3px; background-color: var(--text-secondary);">
                                                            </div>
                                                        </div>
                                                        <div class="accent-default rounded-4"
                                                            style="width: 30px; height: 20px;"></div>
                                                    </div>
                                                    <div class="w-fill layout-horizontal align-center-left gap-10">
                                                        <input class="radio-control" type="radio" name="option"
                                                            (change)='selectTheme("light")'
                                                            [checked]="theme === 'light'">
                                                        <span class="text-primary">Sáng</span>
                                                    </div>
                                                </label>
                                            </div>

                                            <div class="layout-vertical gap-10" style="width: 150px;">
                                                <label class="layout-vertical label-radio-control">
                                                    <div class="layout-vertical w-fill p-20 gap-20 solid-background-base border border-card-default rounded-4 align-bottom-right"
                                                        data-theme="dark">
                                                        <div class="layout-vertical gap-10 w-fill">
                                                            <div class="w-fill rounded-4"
                                                                style="height: 3px; background-color: var(--text-secondary);">
                                                            </div>
                                                            <div class="w-fill rounded-4"
                                                                style="height: 3px; background-color: var(--text-secondary);">
                                                            </div>
                                                            <div class="w-fill rounded-4"
                                                                style="height: 3px; background-color: var(--text-secondary);">
                                                            </div>
                                                            <div class="w-fill rounded-4"
                                                                style="height: 3px; background-color: var(--text-secondary);">
                                                            </div>
                                                        </div>
                                                        <div class="accent-default rounded-4"
                                                            style="width: 30px; height: 20px;"></div>
                                                    </div>
                                                    <div class="w-fill layout-horizontal align-center-left gap-10">
                                                        <input class="radio-control" type="radio" name="option"
                                                            (change)='selectTheme("dark")' [checked]="theme === 'dark'">
                                                        <span class="text-primary">Tối</span>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div
                                class="border border-card-default card-background-default rounded-4 layout-horizontal gap-15 p-15 align-center-center">
                                <i class="icon-size-20 icon text-primary icon-ic_fluent_local_language_20_regular"></i>
                                <div class="layout-vertical w-fill">
                                    <p class="text-body text-primary">Ngôn ngữ</p>
                                    <p class="text-caption text-secondary">Chọn ngôn ngữ hiển thị</p>
                                </div>
                                <div class="dropdown-control">
                                    <button type="button" class="button button-standard button-text-with-icon  w-fill">
                                        <i class="icon-size-16 icon icon-ic_fluent_chevron_down_16_regular"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <div class="list-item">
                                            <div class="text-body">Tiếng Việt</div>
                                        </div>
                                        <div class="list-item">
                                            <div class="text-body">English</div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- <script>
        const tabs = document.querySelectorAll('[data-tab]');
        const panels = document.querySelectorAll('[id]');
        tabs.forEach(tab => {
            tab.addEventListener('click', () => {
                const target = tab.getAttribute('data-tab');
                panels.forEach(panel => {
                    if (panel.id === target) {
                        panel.style.display = 'flex';
                    } else {
                        panel.style.display = 'none';
                    }
                });
                tabs.forEach(tab => {
                    tab.classList.remove('active');
                });
                tab.classList.add('active');
            });
        });

        function selectTheme(radio, theme) {
            if (radio.checked) {
                document.documentElement.setAttribute('data-theme', theme);
            }
        }
    </script> -->
    <!-- End Article -->
</section>