<section class="gradient-background layout-vertical py-20" style="height: 100vh;">
    <!-- Article -->
    <article class="layout-horizontal gap-20 px-20 w-fill h-fill overflow-hidden align-top-center">
        <div class="w-fill-column-3 h-fill pt-20">
            <div
                class="w-fill h-fill layout-vertical gap-10 p-10 rounded-8 border border-card-default card-background-default">
                <p class="text-subtitle text-primary">Cài đặt</p>

                <div class="search-dropdown-control w-fill">
                    <div class="control search-control">
                        <input type="search" placeholder="Tìm kiếm" spellcheck="false">
                        <button type="button" class="input-button clear-content-button">
                            <i class="icon-size-16 icon text-primary icon-ic_fluent_dismiss_16_regular"></i>
                        </button>
                        <button type="button" class="input-button search-button">
                            <i class="icon-size-16 icon text-primary icon-ic_fluent_search_16_regular"></i>
                        </button>
                    </div>
                    <div class="dropdown-menu">
                        <div class="list-item">
                            <div class="text-body">Item 1</div>
                        </div>
                        <div class="list-item">
                            <div class="text-body">Item 2</div>
                        </div>
                        <div class="list-item">
                            <div class="text-body">Item 3</div>
                        </div>
                    </div>
                </div>

                <div class="layout-vertical gap-10 w-fill">
                    <div (click)="tab('general-settings')"
                        class="list-item layout-horizontal gap-10 align-center-left {{tabSetting == 'general-settings' ? 'active' :''}}">
                        <i class="icon-size-20 icon text-accent-default icon-ic_fluent_settings_20_regular"></i>
                        <p class="text-body text-primary">Chung</p>
                    </div>
                    <div (click)="tab('account-settings')"
                        class="list-item layout-horizontal gap-10 align-center-left {{tabSetting == 'account-settings' ? 'active' :''}}">
                        <i class="icon-size-20 icon text-accent-default icon-ic_fluent_person_20_regular"></i>
                        <p class="text-body text-primary">Tài khoản</p>
                    </div>
                    <div (click)="tab('appearance-settings')"
                        class="list-item layout-horizontal gap-10 align-center-left {{tabSetting == 'appearance-settings' ? 'active' :''}}">
                        <i class="icon-size-20 icon text-accent-default icon-ic_fluent_tv_20_regular"></i>
                        <p class="text-body text-primary">Giao diện</p>
                    </div>
                    <!-- <div class="list-item layout-horizontal gap-10 align-center-left">
                        <i class="icon-size-20 icon text-accent-default icon-ic_fluent_shield_20_regular"></i>
                        <p class="text-body text-primary">Riêng tư và an toàn</p>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="w-fill-column-6 h-fill my-20">

            <app-general-settings class="w-fill h-fill mb-20" *ngIf="tabSetting == 'general-settings'">
               
            </app-general-settings>

            <app-account-settings class="w-fill h-fill" *ngIf="tabSetting == 'account-settings'">
            
            </app-account-settings>

            <app-appearance-settings class="w-fill h-fill" *ngIf="tabSetting == 'appearance-settings'">
            
            </app-appearance-settings>
        </div>
    </article>
</section>