section>article{
    margin-top: 25px;
}

.rotate_icon_0{
    transition: 0.3s;
    transform: rotate(0deg);
}

.rotate_icon_180{
    transition: 0.3s;
    transform: rotate(180deg);
}

.accordion-panel{
    transition : 0.3s;
}