.control {
    width: 200px;
    height: 32px;
    min-height: 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 5px 3px 10px;
    background-color: var(--control-default);
    border-bottom: 1px inset var(--control-stroke-secondary);
    border-left: 1px inset var(--control-stroke-default);
    border-top: 1px inset var(--control-stroke-default);
    border-right: 1px inset var(--control-stroke-default);
    overflow: hidden;
    outline: none;
}

.control:not(.disabled):hover {
    background-color: var(--control-hover);
}

.control:focus-within {
    background-color: var(--control-input-active);
    border-bottom: 1px inset var(--accent-default);
}

.control.disabled {
    background-color: var(--control-disabled);
    border: 1px inset var(--control-stroke-default);
    color: var(--text-disabled);
}

.control.disabled > input:disabled {
    color: var(--text-disabled);
}

.control > input {
    font-family: var(--font-family);
    padding: 0px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    font-weight: 400;
    outline: none;
    border: none;
    background-color: unset;
    color: var(--text-primary);
    flex: 1;
    width: 100%;
}

.control > input::placeholder {
    color: var(--text-secondary);
}

.control > .input-button {
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    background-color: unset;
    border: none;
    outline: none;
    color: var(--text-secondary);
}

.control > .input-button:hover {
    background-color: var(--subtle-secondary);
    box-shadow: inset 0px 0px 1px var(--subtle-secondary);
}

.control > .input-button.active {
    background-color: var(--accent-default);
    color: var(--text-on-accent-primary);
    border: 1px inset var(--control-stroke-on-accent-default);
}

.control > input::-webkit-search-cancel-button {
    display: none;
}

.control > input::-webkit-inner-spin-button {
    display: none;
}

.control > input::-webkit-outer-spin-button {
    display: none;
}

.control > input::-ms-reveal, .control > input::-ms-clear {
    display: none;
}

.search-dropdown-control {
    width: 200px;
    height: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.search-dropdown-control > * {
    width: 100%;
    flex: 1;
}

.search-dropdown-control.visible {
    overflow: visible;
}

.search-dropdown-control.visible > .control {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search-dropdown-control.visible > .dropdown-menu {
    background-color: var(--acrylic-background-default);
    backdrop-filter: blur(60px);
    border-radius: 0px 0px 7px 7px;
    border: 1px inset var(--control-stroke-default);
    border-top: unset;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.password-control > .show-password-button {
    display: none;
}

.dropdown-control {
    min-width: 128px;
    height: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.dropdown-control > .button {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-control.visible {
    overflow: visible;
}

.dropdown-control.visible > .dropdown-menu {
    margin-top: 8px;
    background-color: var(--acrylic-background-default);
    backdrop-filter: blur(60px);
    box-shadow: 0px 8px 16px 0px var(--shadow-flyout);
    border-radius: 7px;
    padding: 5px 5px;
    border: 1px inset var(--control-stroke-default);
    display: flex;
    flex-direction: column;
}

.list-item {
    background-color: var(--subtle-transparent);
    padding: 7px 11px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    color: var(--text-primary);
}

.list-item:hover {
    background-color: var(--subtle-secondary);
    box-shadow: inset 0px 0px 1px var(--subtle-secondary);
}

.list-item.disabled {
    background-color: var(--subtle-disabled);
    color: var(--text-disabled);
}
.list-item.active::before {
    content: "";
    width: 4px;
    height: 16px;
    border-radius: 100px;
    background-color: var(--accent-default);
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

textarea {
    resize: none;
    padding: 3px 3px 3px 10px !important;
    color: var(--text-primary);
    min-height: 110px;
}