/* Text Color */
.x-text-primary {
    color: var(--text-primary);
}

.x-text-secondary {
    color: var(--text-secondary);
}

.x-text-tertiary {
    color: var(--text-tertiary);
}

.x-text-disabled {
    color: var(--text-disabled);
}

.x-accent-text-primary {
    color: var(--accent-text-primary);
}

.x-accent-text-secondary {
    color: var(--accent-text-secondary);
}

.x-accent-text-tertiary {
    color: var(--accent-text-tertiary);
}

.x-accent-text-disabled {
    color: var(--accent-text-disabled);
}

.x-text-on-accent-primary {
    color: var(--text-on-accent-primary);
}

.x-text-on-accent-secondary {
    color: var(--text-on-accent-secondary);
}

.x-text-on-accent-disabled {
    color: var(--text-on-accent-disabled);
}

.x-text-on-accent-selected {
    color: var(--text-on-accent-selected);
}

/* Control Color */
.x-control-default {
    background-color: var(--control-default);
}

.x-control-secondary {
    background-color: var(--control-secondary);
}

.x-control-tertiary {
    background-color: var(--control-tertiary);
}

.x-control-quarternary {
    background-color: var(--control-quarternary);
}

.x-control-disabled {
    background-color: var(--control-disabled);
}

.x-control-transparent {
    background-color: var(--control-transparent);
}

.x-control-input-active {
    background-color: var(--control-input-active);
}

.x-control-alt-secondary {
    background-color: var(--control-alt-secondary);
}

.x-control-alt-tertiary {
    background-color: var(--control-alt-tertiary);
}

.x-control-alt-quarternary {
    background-color: var(--control-alt-quarternary);
}

.x-control-alt-disabled {
    background-color: var(--control-alt-disabled);
}

.x-control-alt-transparent {
    background-color: var(--control-alt-transparent);
}

.x-control-solid-default {
    background-color: var(--control-solid-default);
}

.x-control-strong-default {
    background-color: var(--control-strong-default);
}

.x-control-strong-disabled {
    background-color: var(--control-strong-disabled);
}

/* Subtle Color */

.x-subtle-transparent {
    background-color: var(--subtle-transparent);
}

.x-subtle-secondary {
    background-color: var(--subtle-secondary);
}

.x-subtle-tertiary {
    background-color: var(--subtle-tertiary);
}

.x-subtle-disabled {
    background-color: var(--subtle-disabled);
}

/* Control Fill Color */

.x-control-on-image-fill-default {
    background-color: var(--control-on-image-fill-default);
}

.x-control-on-image-fill-secondary {
    background-color: var(--control-on-image-fill-secondary);
}

.x-control-on-image-fill-tertiary {
    background-color: var(--control-on-image-fill-tertiary);
}

.x-control-on-image-fill-disabled {
    background-color: var(--control-on-image-fill-disabled);
}

/* Accent Color */

.x-accent-default {
    background-color: var(--accent-default);
}

.x-accent-secondary {
    background-color: var(--accent-secondary);
}

.x-accent-tertiary {
    background-color: var(--accent-tertiary);
}

.x-accent-disabled {
    background-color: var(--accent-disabled);
}

.x-accent-selected-text-background {
    background-color: var(--accent-selected-text-background);
}

/* Control Stroke Color */

.x-control-stroke-default {
    border-color: var(--control-stroke-default);
}

.x-control-stroke-secondary {
    border-color: var(--control-stroke-secondary);
}

.x-control-stroke-on-accent-default {
    border-color: var(--control-stroke-on-accent-default);
}

.x-control-stroke-on-accent-secondary {
    border-color: var(--control-stroke-on-accent-secondary);
}

.x-control-stroke-on-accent-tertiary {
    border-color: var(--control-stroke-on-accent-tertiary);
}

.x-control-stroke-on-accent-disabled {
    border-color: var(--control-stroke-on-accent-disabled);
}

.x-control-stroke-for-strong-fill-when-on-image {
    border-color: var(--control-stroke-for-strong-fill-when-on-image);
}

/* Card Stroke Color */

.x-card-stroke-default {
    border-color: var(--card-stroke-default);
}

.x-card-stroke-default-solid {
    border-color: var(--card-stroke-default-solid);
}

/* Control Strong Stroke Color */

.x-control-strong-stroke-default {
    border-color: var(--control-strong-stroke-default);
}

.x-control-strong-stroke-disabled {
    border-color: var(--control-strong-stroke-disabled);
}

/* Surface Stroke Color */

.x-surface-stroke-default {
    border-color: var(--surface-stroke-default);
}

.x-surface-stroke-flyout {
    border-color: var(--surface-stroke-flyout);
}

/* Divider Stroke Color */

.x-divider-stroke-default {
    border-color: var(--divider-stroke-default);
}

/* Card Background Color */

.x-card-background-default {
    background-color: var(--card-background-default);
}

.x-card-background-secondary {
    background-color: var(--card-background-secondary);
}

.x-card-background-tertiary {
    background-color: var(--card-background-tertiary);
}

/* Smoke Color */

.x-smoke-default {
    background-color: var(--smoke-default);
}

/* Layer Color */

.x-layer-default {
    background-color: var(--layer-default);
}

.x-layer-alt {
    background-color: var(--layer-alt);
}

/* Solid Background Color */

.x-solid-background-base {
    background-color: var(--solid-background-base);
}

.x-solid-background-secondary {
    background-color: var(--solid-background-secondary);
}

.x-solid-background-tertiary {
    background-color: var(--solid-background-tertiary);
}

.x-solid-background-quarternary {
    background-color: var(--solid-background-quarternary);
}

.x-solid-background-quinary {
    background-color: var(--solid-background-quinary);
}

.x-solid-background-senary {
    background-color: var(--solid-background-senary);
}

.x-solid-background-base-alt {
    background-color: var(--solid-background-base-alt);
}

/* System Color */

.x-system-attention {
    background-color: var(--system-attention);
}

.x-system-success {
    background-color: var(--system-success);
}

.x-system-caution {
    background-color: var(--system-caution);
}

.x-system-critical {
    background-color: var(--system-critical);
}

.x-system-attention-background {
    background-color: var(--system-attention-background);
}

.x-system-success-background {
    background-color: var(--system-success-background);
}

.x-system-caution-background {
    background-color: var(--system-caution-background);
}

.x-system-critical-background {
    background-color: var(--system-critical-background);
}

.x-system-neutral {
    background-color: var(--system-neutral);
}

.x-system-solid-neutral {
    background-color: var(--system-solid-neutral);
}

.x-system-neutral-background {
    background-color: var(--system-neutral-background);
}

.x-system-solid-neutral-background {
    background-color: var(--system-solid-neutral-background);
}

.x-system-solid-attention-background {
    background-color: var(--system-solid-attention-background);
}