

.textarea-chat {
    max-height: 110px;
    overflow-y: scroll;
}

.textarea-chat::-webkit-scrollbar {
    width: 5px;
}

.textarea-chat::-webkit-scrollbar-thumb {
    background-color: #a6e7ff;
    border-radius: 10px;
}

.textarea-chat::-webkit-scrollbar-thumb:hover {
    background-color: #005FB8E6;
    cursor: pointer;
}


article {
    margin-top: 45px;
}

.box-chat {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.mess-hover .mess-menu {
    display: none;
    position: absolute;
    overflow: visible;
    z-index: 1;
    width: 150px;
}

.mess-hover:hover .mess-menu {
    display: flex;
}

.textarea-chat {
    resize: none;
    max-height: 200px;
}

.border-focus {
    outline: 3px solid rgb(0, 0, 0, 0.9);
    outline-offset: 3px;
}

.layout-1 {
    display: grid;
    gap: 10px;
}

.layout-2,
.layout-3,
.layout-4,
.layout-5,
.layout-6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.layout-3-2,
.layout-3-3,
.layout-3-4,
.layout-3-5,
.layout-3-6 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.layout-1>div {
    margin: auto;
    max-width: 600px;
}

.layout-3>div:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
}

.layout-5>div:nth-child(1),
.layout-6>div:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 6;
}

.layout-5>div:nth-child(2),
.layout-6>div:nth-child(2) {
    grid-row-start: 6;
    grid-row-end: 12;
}

.layout-5>div:nth-child(3),
.layout-6>div:nth-child(3) {
    grid-row-start: 1;
    grid-row-end: 4;
}

.layout-5>div:nth-child(4),
.layout-6>div:nth-child(4) {
    grid-row-start: 4;
    grid-row-end: 8;
}

.layout-5>div:nth-child(5),
.layout-6>div:nth-child(5) {
    grid-row-start: 8;
    grid-row-end: 12;
}

.layout-6>div:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
}

.user-online::after,
.user-offline::after,
.user-idle::after {
    content: '';
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 10px;
    height: 10px;
    border-radius: 100px;
}

.user-online::after {
    background-color: rgb(55, 255, 0);
}

.user-offline::after {
    background-color: rgb(255, 0, 0);
}

.user-idle::after {
    background-color: rgb(255, 255, 0);
}

.mess-menu-left {
    left: -180px;
}

.mess-menu-right {
    right: -180px;
}

.dialog_detail_chat {
    width: 500px;
}

.main_chat {
    height: calc(100vh - 85px);
}

@media (max-width: 850px) {
    .mess-hover .mess-menu {
        width: 55px;
    }

    .mess-menu-left {
        left: -90px;
    }

    .mess-menu-right {
        right: -90px;
    }

    .mess-hover {
        width: calc(100% - 75px) !important;
    }
}

@media (max-width: 580px) {
    .dialog_detail_chat {
        width: calc(100vw - 40px) !important;
    }
}

@media (max-width: 480px) {
    section>article {
        margin-top: 90px;
    }

    .main_chat {
        height: calc(100vh - 130px);
    }
}