<nav class="h-fill solid-background-senary">
    <div class="layout-vertical h-fill pb-10" style="min-width: 200px;">
        <div class="h-fill">
            <div class="nav layout-vertical gap-10">
                <a class="list-item layout-horizontal align-center-left gap-10 text-body" [routerLink]="['/admin']"><i
                        class="ms-15 accent-text-tertiary icon-size-24 icon icon-ic_fluent_home_24_regular"></i>{{'admin.dashboard_title'|translate}}</a>
                <a class="list-item layout-horizontal align-center-left gap-10 text-body"[routerLink]="['/admin/user']"><i
                        class="ms-15 accent-text-tertiary icon-size-24 icon icon-ic_fluent_person_24_regular"></i> {{'admin.dashboard_title'|translate}}</a>
                <a class="list-item layout-horizontal align-center-left gap-10 text-body" [routerLink]="['/admin/shop']"><i
                        class="ms-15 accent-text-tertiary icon-size-24 icon icon-ic_fluent_content_view_28_regular"></i>{{'admin.shop_title'|translate}}</a>
                <a class="list-item layout-horizontal align-center-left gap-10 text-body"[routerLink]="['/admin/report']"><i
                        class="ms-15 accent-text-tertiary icon-size-24 icon icon-ic_fluent_chat_warning_24_regular"></i>{{'admin.report_title'|translate}}</a>
                <a class="list-item layout-horizontal align-center-left gap-10 text-body"[routerLink]="['/admin/event']"><i
                        class="ms-15 accent-text-tertiary icon-size-24 icon icon-ic_fluent_calendar_48_regular"></i> {{'admin.event_title'|translate}}</a>
            </div>
        </div>
        <div class="h-hug layout-vertical gap-10">
            <a class="list-item layout-horizontal align-center-left gap-10 text-body" [routerLink]="['/']">
                <i class="ms-15 accent-text-tertiary icon-size-24 icon icon-ic_fluent_home_24_regular"></i>
                Trang chủ
            </a>
            <a class="list-item layout-horizontal align-center-left gap-10 text-body" (click)="logout();">
                <i class="ms-15 accent-text-tertiary icon-size-24 icon icon-ic_fluent_door_arrow_left_24_regular"></i>
                Đăng xuất
            </a>
        </div>
    </div>
</nav>