<nav class="h-fill solid-background-senary">
    <div class="layout-vertical h-fill" style="min-width: 200px;">
        <div class="h-fill">
            <div class="nav layout-vertical">
                <a class="layout-horizontal gap-10 px-25 py-10 text-body text-primary"><i
                        class="accent-text-tertiary icon-size-24 icon icon-ic_fluent_home_24_regular"></i>Dashboard</a>
                <a class="layout-horizontal gap-10 px-25 py-10 text-body text-primary"><i
                        class="accent-text-tertiary icon-size-24 icon icon-ic_fluent_person_24_regular"></i>User</a>
                <a class="layout-horizontal gap-10 px-25 py-10 text-body text-primary"><i
                        class="accent-text-tertiary icon-size-24 icon icon-ic_fluent_content_view_28_regular"></i>Content</a>
                <a class="layout-horizontal gap-10 px-25 py-10 text-body text-primary"><i
                        class="accent-text-tertiary icon-size-24 icon icon-ic_fluent_chat_warning_24_regular"></i>Report</a>
                <a class="layout-horizontal gap-10 px-25 py-10 text-body text-primary"><i
                        class="accent-text-tertiary icon-size-24 icon icon-ic_fluent_calendar_48_regular"></i>Event</a>
            </div>
        </div>
        <div class="h-hug">
            <a class="layout-horizontal gap-10 px-25 py-10" href="#">
                <i class="accent-text-tertiary icon-size-24 icon icon-ic_fluent_door_arrow_left_24_regular"></i>
                Logout
            </a>
        </div>
    </div>
</nav>