<div class="layout p-10 rounded-8 card-background-default border border-card-default" id="create-post-section">
    <div class="layout-horizontal gap-10 w-fill">
        <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
        <!-- (submit)="post(value.value)" -->
        <form class="layout-vertical gap-10 w-fill" enctype="multipart/form-data" #value="ngForm"
            (submit)="post(value.value)">
            <textarea class="control text-area-control w-fill overflow-scroll-vertical textarea-post"
                placeholder="placeholder" [(ngModel)]="content" name="content" ngModel id="post-input"
                spellcheck="false" required style="max-height: 110px;" (input)="resizeTextarea($event)"></textarea>

            <div *ngIf="previewPostImages.length > 0" class="p-10 position-relative border rounded-6">
                <div class="layout-wrap gap-10">
                    <div *ngFor="let previewImage of previewPostImages; let i = index" class="w-fill-column-6">
                        <img [src]="previewImage" alt="Image preview" width="100%" class="rounded-4">
                        <button type="button" (click)="removePostImage(i)"
                            class="button-standard button-icon-only position-absolute top-0 end-0">
                            <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_regular"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div *ngIf="showPoll"
                class="w-fill rounded-4 p-10 gap-10 card-background-secondary border border-card-default layout-vertical">
                <p class="text-body text-primary">Tạo bình chọn</p>
                <div class="w-fill layout-vertical gap-10">
                    <div class="layout-horizontal gap-10 w-fill"
                        *ngFor="let option of poll_input; let i = index; trackBy: trackByFn">
                        <div class="control text-control w-fill">
                            <input type="text" placeholder="placeholder" spellcheck="false" [(ngModel)]="poll_input[i]"
                                name="poll-option-{{i}}">
                        </div>
                        <button type="button" class="button-subtle button-icon-only" (click)="removeChoice(i)">
                            <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_filled"></i>
                        </button>
                    </div>
                    <div class="layout align-center-space-between">
                        <button type="button" class="button-standard button-text-only w-hug" (click)="addChoice()">
                            Thêm lựa chọn
                        </button>
                        <input type="date" class="control" name="end_at" ngModel>
                    </div>
                </div>
            </div>

            <div class="layout-horizontal w-fill">
                <div class="layout horizontal w-fill gap-10">
                    <input class="display-none" type="file" [ngModel]="filePost" (change)="onFilePostSelected($event)"
                        accept="image/*" id="post_media_input" multiple>
                    <label for="post_media_input"
                        class="layout align-center-center border-none subtle-transparent text-accent-default">
                        <i class="icon-size-20 icon icon-ic_fluent_image_20_regular"></i>
                    </label>
                    <button type="button" class="border-none subtle-transparent text-accent-default">
                        <i class="icon-size-20 icon icon-ic_fluent_emoji_20_regular"></i>
                    </button>
                    <button type="button" class="speech-to-text border-none subtle-transparent text-accent-default"
                        data-target="post-input">
                        <i class="icon-size-20 icon icon-ic_fluent_mic_20_regular"></i>
                    </button>
                    <button type="button" class="border-none subtle-transparent text-accent-default">
                        <i class="icon-size-20 icon icon-ic_fluent_attach_20_regular"></i>
                    </button>

                    <button type="button" class="border-none subtle-transparent text-accent-default"
                        (click)="showPolls()">
                        <i *ngIf="showPoll" class='icon-size-20 icon icon-ic_fluent_data_histogram_20_filled'></i>
                        <i *ngIf="!showPoll" class='icon-size-20 icon icon-ic_fluent_data_histogram_20_regular'></i>
                    </button>

                </div>
                <button type="submit" class="button-accent button-text-with-icon"
                    [disabled]="spaceCheck.test(value.value.content)">
                    Đăng bài
                    <i class="icon-size-16 icon icon-ic_fluent_send_16_filled"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div *ngFor="let post of listPost"
    class="layout-vertical gap-20 pt-20 ps-20 pe-20 pb-10 card-background-default border border-card-default rounded-8">

    <div class="layout-horizontal gap-20">
        <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
        <div class="layout-vertical w-fill">
            <p class="text-body-strong text-primary">{{post.profile.display_name}}</p>
            <p class="text-body text-secondary">{{formatTime(post.created_at)}}</p>
        </div>
        <button type="button" class="button-subtle button-icon-only">
            <i class="icon-size-24 icon icon-ic_fluent_more_horizontal_24_filled"></i>
        </button>
    </div>

    <div class="layout w-fill">
        <p class="text-body text-primary w-fill text-wrap" style="white-space: pre-line;">{{post.content}}</p>
    </div>

    <div class="layout w-fill h-fill" *ngIf="post.medias.length>0">
        <div class="w-fill h-fill {{(post.medias.length<6)?'layout-'+post.medias.length:'layout-6'}}">
            <div class="w-fill h-fill  border border-card-default rounded-6 overflow-hidden"
                *ngFor="let img of post.medias | slice:0:5" (click)="toggleDialog(post.id)">
                <img class="w-fill h-fill object-fit-cover object-position-center" [src]="getPathImg(img)" alt="Image">
            </div>
        </div>
    </div>

    <div class="position-fixed top-0 start-0 {{(idDialog == post.id) ? 'display-block' : 'display-none'}}"
        style="width: 100%; height: 100vh; z-index: 10; background-color: rgba(0, 0, 0, 0.3);">
        <div class="dialog-panel position-absolute top-50 start-50 translate-middle" style="max-width: 80%;">
            <div class="solid-background-senary rounded-8 overflow-hidden layout-horizontal border border-card-default"
                style="height: 550px !important;">
                <div class="w-fill h-fill" style="min-width: 600px;" *ngIf="post.medias.length>0">

                    <div class="layout w-fill h-fill {{(post.medias.length>0) ? 'display-flex' : 'display-none'}}">
                        <div class="carousel w-fill h-fill rounded-4">
                            <div class="carousel-indicators" #indicatorsContainer *ngIf="post.medias.length>1">
                                <button type="button" class="border-none rounded-circle"
                                    *ngFor="let img of post.medias; let i = index">
                                </button>
                            </div>
                            <div class="carousel-inner  h-fill" #carouselInner>
                                <div class="carousel-item" *ngFor="let img of post.medias">
                                    <img id="aa" [src]="img.path" alt="Image 1" class="h-fill"
                                        style="object-fit: contain !important; background-color: rgb(27, 27, 27);">
                                </div>
                            </div>

                            <button *ngIf="post.medias.length>1" type="button"
                                class="carousel-button-previous p-5 rounded-circle" #prevButton>
                                <i class="icon-size-20 icon icon-ic_fluent_chevron_left_20_filled"></i>
                            </button>

                            <button *ngIf="post.medias.length>1" type="button"
                                class="carousel-button-next p-5 rounded-circle" #nextButton>
                                <i class="icon-size-20 icon icon-ic_fluent_chevron_right_20_filled"></i>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="layout-vertical h-fill border-left" style="width: 500px;">
                    <div class="layout-vertical w-flll border-bottom border-card-default p-10">
                        <div class=" w-fill layout-horizontal align-center-space-between">
                            <div class="layout-horizontal gap-10">
                                <img src="assets/image/avatar.png" alt="" style="width: 40px; height: 40px;">
                                <div class="layout-vertical w-fill">
                                    <p class="text-body-strong text-primary">{{post.profile.display_name}}</p>
                                    <p class="text-caption text-secondary">{{formatTime(post.created_at)}}</p>
                                </div>
                            </div>
                            <button type="button" class="button-subtle button-icon-only" (click)="toggleDialog(0)">
                                <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_regular"></i>
                            </button>
                        </div>
                    </div>
                    <div class="layout-vertical w-fill h-fill overflow-scroll-vertical">
                        <div class="layout w-fill h-hug p-10">
                            <p class="text-body text-primary text-wrap" style="white-space: pre-line;">{{post.content}}
                            </p>
                        </div>
                        <div class="layout-horizontal w-fill py-5 border-top border-card-default">
                            <div class="layout-horizontal w-fill align-center-left">
                                <button type="button" class="button-subtle button-text-with-icon text-secondary"
                                    (click)="likePost(post.id)">
                                    {{post.likes_count}}
                                    <i *ngIf="!post.liked"
                                        class="icon-size-20 icon icon-ic_fluent_heart_20_regular"></i>
                                    <i *ngIf="post.liked" class="icon-size-20 icon icon-ic_fluent_heart_20_filled"></i>
                                </button>
                                <button type="button" class="button-subtle button-text-with-icon text-secondary">
                                    {{post.comments_count}}
                                    <i class="icon-size-20 icon icon-ic_fluent_chat_empty_20_regular"></i>
                                </button>
                                <button type="button" class="button-subtle button-text-with-icon text-secondary">
                                    {{post.shares_count}}
                                    <i class="icon-size-20 icon icon-ic_fluent_share_20_regular"></i>
                                </button>
                            </div>
                            <button type="button" class="button-subtle button-icon-only text-secondary">
                                <i class="icon-size-20 icon icon-ic_fluent_bookmark_20_regular"></i>
                            </button>
                        </div>
                        <div *ngIf="getCommentByPostId(post.id)" class="layout-vertical w-fill h-fill">

                            <div *ngFor="let item of getCommentByPostId(post.id)"
                                class="layout-horizontal w-fill h-hug p-10 gap-15">
                                <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                                <div class="layout-vertical w-fill gap-5">
                                    <p class="text-body-strong text-primary">{{item.user.profile.display_name}}</p>
                                    <div
                                        class="layout-vertical card-background-secondary border border-card-default rounded-8 p-10 gap-5">
                                        <div *ngIf="item.media">
                                            <img [src]="item.media" class="rounded-4 w-fill" alt="">
                                        </div>
                                        <div class="w-fill layout-horizontal align-center-space-between">
                                            <p class="text-body text-primary w-fill">{{item.content}}</p>
                                            <button type="button" class="button-subtle button-icon-only w-hug">
                                                <i class="icon-size-16 icon icon-ic_fluent_heart_16_regular"></i>
                                                <!-- <i class="icon-size-16 icon icon-ic_fluent_heart_16_filled" style="color: #C42B1C;"></i> -->
                                            </button>
                                        </div>
                                    </div>
                                    <p class="text-caption text-secondary">{{formatTime(item.created_at)}} - 100 lượt
                                        like</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="layout w-fill border-top border-card-default">
                        <div class="layout-horizontal gap-10 p-10 w-fill">
                            <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">

                            <form class="layout-vertical gap-10 w-fill" enctype="multipart/form-data" #frm="ngForm"
                                (submit)="postComment(frm.value)">

                                <div *ngIf="selectedFilesComment.length > 0"
                                    class="p-10 position-relative border rounded-6">
                                    <div class="layout-wrap gap-10">
                                        <div class="w-fill layout-horizontal align-center-space-between">
                                            <img [src]="previewCommentImages" alt="Image preview" width="80%"
                                                class="rounded-4">
                                            <button type="button" (click)="removeCommentImage()"
                                                class="button-standard button-icon-only">
                                                <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_regular"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <textarea class="control text-area-control w-fill" placeholder="placeholder"
                                    name="content" ngModel #commentInput id="comment-input" spellcheck="false"
                                    style="max-height: 110px;">
                                </textarea>
                                <input type="hidden" name="post_id" ngModel [(ngModel)]="post.id">
                                <input type="hidden" name="user_id" ngModel [(ngModel)]="post.profile.user_id">

                                <div class="layout-horizontal w-fill">
                                    <div class="layout horizontal w-fill gap-10">
                                        <input class="display-none" type="file" [ngModel]="fileComment"
                                            (change)="onFileCommentSelected($event)" accept="image/*"
                                            id="comment_media_input">
                                        <label for="comment_media_input"
                                            class="layout align-center-center border-none subtle-transparent text-accent-default">
                                            <i class="icon-size-20 icon icon-ic_fluent_image_20_regular"></i>
                                        </label>
                                        <button type="button"
                                            class="border-none subtle-transparent text-accent-default">
                                            <i class="icon-size-20 icon icon-ic_fluent_emoji_20_regular"></i>
                                        </button>
                                        <button type="button"
                                            class="speech-to-text border-none subtle-transparent text-accent-default"
                                            data-target="comment-input">
                                            <i class="icon-size-20 icon icon-ic_fluent_mic_20_regular"></i>
                                        </button>
                                    </div>
                                    <button type="submit" class="button-accent button-text-with-icon"
                                        [disabled]="spaceCheck.test(frm.value.content)">Đăng
                                        <i class="icon-size-16 icon icon-ic_fluent_send_16_filled"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="post.post_type == 'with_poll'"
        class="layout-vertical p-10 gap-10 rounded-8 card-background-secondary border border-card-default">
        <p class="text-body text-primary">Bình chọn - kết thúc vào {{post.poll.end_at | date:'dd-MM-yyyy'}}</p>
        <div class="layout-vertical gap-10">

            <div class="layout-horizontal gap-10" *ngFor="let option of post.poll.options">
                <button type="button" class="button-standard button-text-only w-fill text-left">
                    {{option.option}}
                </button>
                <p class="text-body text-primary">0%</p>
            </div>

        </div>
    </div>

    <div class="layout-horizontal w-fill px-5">
        <div class="layout-horizontal w-fill">
            <button type="button" class="button-subtle button-text-with-icon text-secondary"
                (click)="likePost(post.id)">
                {{post.likes_count}}
                <i *ngIf="!post.liked" class="icon-size-20 icon icon-ic_fluent_heart_20_regular"></i>
                <i *ngIf="post.liked" class="icon-size-20 icon icon-ic_fluent_heart_20_filled"></i>
            </button>
            <button type="button" class="button-subtle button-text-with-icon text-secondary"
                (click)="toggleDialog(post.id)">
                {{post.comments_count}}
                <i class="icon-size-20 icon icon-ic_fluent_chat_empty_20_regular"></i>
            </button>
            <button type="button" class="button-subtle button-text-with-icon text-secondary">
                {{post.shares_count}}
                <i class="icon-size-20 icon icon-ic_fluent_share_20_regular"></i>
            </button>
        </div>
        <button type="button" class="button-subtle button-icon-only text-secondary">
            <i class="icon-size-20 icon icon-ic_fluent_bookmark_20_regular"></i>
        </button>
    </div>

    <!-- <div *ngIf="getCommentByPostId(post.id)"
        class="layout-vertical w-fill overflow-scroll-vertical border-top border-bottom border-card-default" style="max-height: 300px;">

        <div *ngFor="let item of getCommentByPostId(post.id)" class="layout-horizontal w-fill h-hug p-10 gap-15">
            <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
            <div class="layout-vertical w-fill gap-5">
                <p class="text-body-strong text-primary">{{item.user.profile.display_name}}</p>
                <div
                    class="layout-horizontal align-center-space-between card-background-secondary border border-card-default rounded-8 p-10 gap-5">
                    <p class="text-body text-primary w-fill">{{item.content}}</p>
                    <button type="button" class="button-subtle button-icon-only w-hug">
                        <i class="icon-size-16 icon icon-ic_fluent_heart_16_regular"></i>
                        <i class="icon-size-16 icon icon-ic_fluent_heart_16_filled" style="color: #C42B1C;"></i>
                    </button>
                </div>
                <p class="text-caption text-secondary">{{formatTime(item.created_at)}} - 100 lượt like</p>
            </div>
        </div>

    </div> -->
    <!-- 
    <div class="layout">
        <div class="layout-horizontal gap-10 w-fill">
            <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
            
            <form class="layout-vertical gap-10 w-fill" enctype="multipart/form-data" #frm="ngForm"
                (submit)="postComment(frm)">
                <textarea class="control text-area-control w-fill" placeholder="placeholder" name="content" ngModel #commentInput
                    id="comment-input" spellcheck="false" style="max-height: 110px;">
                </textarea>
                <input type="hidden" name="post_id" ngModel [(ngModel)]="post.id">
                <input type="hidden" name="user_id" ngModel [(ngModel)]="post.profile.user_id">
                <div class="layout-horizontal w-fill">
                    <div class="layout horizontal w-fill gap-10">
                        <input class="display-none" type="file" id="post_media_input" multiple>
                        <label for="post_media_input"
                            class="layout align-center-center border-none subtle-transparent text-accent-default">
                            <i class="icon-size-20 icon icon-ic_fluent_image_20_regular"></i>
                        </label>
                        <button type="button" class="border-none subtle-transparent text-accent-default">
                            <i class="icon-size-20 icon icon-ic_fluent_emoji_20_regular"></i>
                        </button>
                        <button type="button" class="speech-to-text border-none subtle-transparent text-accent-default"
                            data-target="comment-input">
                            <i class="icon-size-20 icon icon-ic_fluent_mic_20_regular"></i>
                        </button>
                    </div>
                    <button type="submit" class="button-accent button-text-with-icon"
                    [disabled]="spaceCheck.test(frm.value.content)">
                        Đăng
                        <i class="icon-size-16 icon icon-ic_fluent_send_16_filled"></i>
                    </button>
                </div>
            </form>
        </div>
    </div> -->

</div>