<section class="gradient-background layout-horizontal" style="height: 100vh;">
    <app-nav class="h-fill"></app-nav>

    <article class="py-20 m-20 w-fill overflow-scroll-vertical">

        <div class="mb-20 layout-horizontal gap-20 w-fill">
            <div class="w-fill-column-3">
                <div
                    class="solid-background-senary rounded-6 px-15 py-10 border">
                    <div class="layout-horizontal align-center-space-between">
                        <div>
                            <h5
                                class="text-subtitle accent-text-primary">{{totalUsers}}</h5>
                            <p class="text-body text-secondary">Total number of
                                users</p>
                        </div>
                        <div
                            class="solid-background-secondary p-5 rounded-pill">
                            <i
                                class="accent-text-primary icon-size-20 icon icon-ic_fluent_person_20_filled"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-fill-column-3">
                <div
                    class="solid-background-senary rounded-6 px-15 py-10 border">
                    <div class="layout-horizontal align-center-space-between">
                        <div>
                            <h5
                                class="text-subtitle accent-text-primary">{{totalPost}}</h5>
                            <p class="text-body text-secondary">Total number of
                                post</p>
                        </div>
                        <div
                            class="solid-background-secondary p-5 rounded-pill">
                            <i
                                class="accent-text-primary icon-size-20 icon icon-ic_fluent_person_20_filled"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-fill-column-3">
                <div
                    class="solid-background-senary rounded-6 px-15 py-10 border">
                    <div class="layout-horizontal align-center-space-between">
                        <div>
                            <h5
                                class="text-subtitle accent-text-primary">{{totalReport}}</h5>
                            <p class="text-body text-secondary">Total number of
                                report</p>
                        </div>
                        <div
                            class="solid-background-secondary p-5 rounded-pill">
                            <i
                                class="accent-text-primary icon-size-20 icon icon-ic_fluent_person_20_filled"></i>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="w-fill-column-3">
                <div
                    class="solid-background-senary rounded-6 px-15 py-10 border">
                    <div class="layout-horizontal align-center-space-between">
                        <div>
                            <h5
                                class="text-subtitle accent-text-primary">100</h5>
                            <p class="text-body text-secondary">Total number of
                                group</p>
                        </div>
                        <div
                            class="solid-background-secondary p-5 rounded-pill">
                            <i
                                class="accent-text-primary icon-size-20 icon icon-ic_fluent_person_20_filled"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layout-horizontal gap-20 mb-20">
            <div id="chart2"
                class="w-fill-column-8 solid-background-senary rounded-6 p-15"></div>
            <div id="chart9"
                class="w-fill-column-4 solid-background-senary rounded-6 p-15 layout-vertical align-center-center"></div>
        </div>
        <div class="layout-horizontal gap-20">
            <div id="chart13"
                class="w-fill-column-4 solid-background-senary rounded-6 p-15 layout-vertical align-center-center"></div>
            <div id="chart1"
                class="w-fill-column-8 solid-background-senary rounded-6 p-15"></div>
        </div>
    </article>
</section>

<!-- <script src="assets/js/jquery.min.js"></script>
<script src="assets/js/apexcharts.min.js"></script> -->