<!-- Create Post Section Type:Default-->
<div class="layout p-10 rounded-8 card-background-default border border-card-default" id="create-post-section">
    <div class="layout-horizontal gap-10 w-fill">
        <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
        <form class="layout-vertical gap-10 w-fill" enctype="multipart/form-data">
            <textarea class="control text-area-control w-fill" placeholder="placeholder" name="" id="post-input"
                spellcheck="false" style="max-height: 110px;"></textarea>
            <div class="carousel w-fill rounded-4 p-0">
                <div class="carousel-indicators">
                    <button type="button" class="border-none rounded-circle active">
                    </button>
                    <button type="button" class="border-none rounded-circle">
                    </button>
                    <button type="button" class="border-none rounded-circle">
                    </button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <video src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" controls
                            autoplay></video>

                        <button type="button" class="button-standard button-icon-only w-hug h-hug position-absolute"
                            style="right: 10px; top: 10px; z-index: 1;">
                            <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_filled"></i>
                        </button>
                    </div>
                    <div class="carousel-item">
                        <img src="https://placehold.co/600x400/orange/white" alt="Image 1">
                        <button type="button" class="button-standard button-icon-only w-hug h-hug position-absolute"
                            style="right: 10px; top: 10px; z-index: 1;">
                            <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_filled"></i>
                        </button>
                    </div>
                    <div class="carousel-item">
                        <img src="https://placehold.co/600x400/white/red" alt="Image 3">
                        <button type="button" class="button-standard button-icon-only w-hug h-hug position-absolute"
                            style="right: 10px; top: 10px; z-index: 1;">
                            <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_filled"></i>
                        </button>
                    </div>
                </div>

                <button type="button" class="carousel-button-previous p-5 rounded-circle">
                    <i class="icon-size-20 icon icon-ic_fluent_chevron_left_20_filled"></i>
                </button>


                <button type="button" class="carousel-button-next p-5 rounded-circle">
                    <i class="icon-size-20 icon icon-ic_fluent_chevron_right_20_filled"></i>
                </button>
            </div>
            <div class="layout-horizontal w-fill">
                <div class="layout horizontal w-fill gap-10">
                    <input class="display-none" type="file" name="media[]" id="post_media_input" multiple>
                    <label for="post_media_input"
                        class="layout align-center-center border-none subtle-transparent text-accent-default">
                        <i class="icon-size-20 icon icon-ic_fluent_image_20_regular"></i>
                    </label>
                    <button type="button" class="border-none subtle-transparent text-accent-default">
                        <i class="icon-size-20 icon icon-ic_fluent_emoji_20_regular"></i>
                    </button>
                    <button type="button" class="speech-to-text border-none subtle-transparent text-accent-default"
                        data-target="post-input">
                        <i class="icon-size-20 icon icon-ic_fluent_mic_20_regular"></i>
                    </button>
                    <button type="button" class="border-none subtle-transparent text-accent-default">
                        <i class="icon-size-20 icon icon-ic_fluent_attach_20_regular"></i>
                    </button>
                    <button type="button" class="border-none subtle-transparent text-accent-default">
                        <i class="icon-size-20 icon icon-ic_fluent_data_histogram_20_regular"></i>
                    </button>
                </div>
                <button type="button" class="button-accent button-text-with-icon">
                    Đăng bài
                    <i class="icon-size-16 icon icon-ic_fluent_send_16_filled"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<!-- End Create Post Section Type:Default -->

<!-- Post Section Type:Default -->
<div
    class="layout-vertical gap-20 pt-20 ps-20 pe-20 pb-10 card-background-default border border-card-default rounded-8">
    <div class="layout-horizontal gap-20">
        <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
        <div class="layout-vertical w-fill">
            <p class="text-body-strong text-primary">Châu Thành Cường</p>
            <p class="text-body text-secondary">1 giờ trước</p>
        </div>
        <button type="button" class="button-subtle button-icon-only">
            <i class="icon-size-24 icon icon-ic_fluent_more_horizontal_24_filled"></i>
        </button>
    </div>
    <div class="layout w-fill">
        <p class="text-body text-primary">Lorem ipsum dolor sit amet consectetur. Id suscipit pharetra sagittis amet sed
            elementum nibh consequat. Mattis morbi congue donec mattis tortor porta dignissim.</p>
    </div>
    <div class="layout w-fill">
        <div class="carousel w-fill rounded-4">
            <div class="carousel-indicators">
                <button type="button" class="border-none rounded-circle active">
                </button>
                <button type="button" class="border-none rounded-circle">
                </button>
                <button type="button" class="border-none rounded-circle">
                </button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item">
                    <img src="https://placehold.co/600x400/orange/white" alt="Image 1">
                </div>
                <div class="carousel-item">
                    <img src="https://placehold.co/600x400/blue/cyan" alt="Image 2">
                </div>
                <div class="carousel-item">
                    <img src="https://placehold.co/600x400/white/red" alt="Image 3">
                </div>
            </div>

            <button type="button" class="carousel-button-previous p-5 rounded-circle">
                <i class="icon-size-20 icon icon-ic_fluent_chevron_left_20_filled"></i>
            </button>


            <button type="button" class="carousel-button-next p-5 rounded-circle">
                <i class="icon-size-20 icon icon-ic_fluent_chevron_right_20_filled"></i>
            </button>
        </div>
    </div>
    <div class="layout-horizontal w-fill">
        <div class="layout-horizontal w-fill">
            <button type="button" class="button-subtle button-text-with-icon text-secondary">
                100
                <i class="icon-size-20 icon icon-ic_fluent_heart_20_regular"></i>
            </button>
            <button type="button" class="button-subtle button-text-with-icon text-secondary">
                100
                <i class="icon-size-20 icon icon-ic_fluent_chat_empty_20_regular"></i>
            </button>
            <button type="button" class="button-subtle button-text-with-icon text-secondary">
                100
                <i class="icon-size-20 icon icon-ic_fluent_share_20_regular"></i>
            </button>
        </div>
        <button type="button" class="button-subtle button-icon-only text-secondary">
            <i class="icon-size-20 icon icon-ic_fluent_bookmark_20_regular"></i>
        </button>
    </div>
</div>
<!-- End Post Section Type:Default -->
<!-- Post Section Type:Default -->
<div
    class="layout-vertical gap-20 pt-20 ps-20 pe-20 pb-10 card-background-default border border-card-default rounded-8">
    <div class="layout-horizontal gap-20">
        <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
        <div class="layout-vertical w-fill">
            <p class="text-body-strong text-primary">Châu Thành Cường</p>
            <p class="text-body text-secondary">1 giờ trước</p>
        </div>
        <button type="button" class="button-subtle button-icon-only">
            <i class="icon-size-24 icon icon-ic_fluent_more_horizontal_24_filled"></i>
        </button>
    </div>
    <div class="layout w-fill">
        <p class="text-body text-primary">Lorem ipsum dolor sit amet consectetur. Id suscipit pharetra sagittis amet sed
            elementum nibh consequat. Mattis morbi congue donec mattis tortor porta dignissim.</p>
    </div>
    <div class="layout-vertical p-10 gap-10 rounded-8 card-background-secondary border border-card-default">
        <p class="text-body text-primary">Tạo cuộc bình chọn</p>
        <div class="layout-vertical gap-10">
            <div class="layout-horizontal gap-10">
                <button type="button" class="button-standard button-text-only w-fill text-left">
                    Lựa chọn 1
                </button>
                <p class="text-body text-primary">25%</p>
            </div>
            <div class="layout-horizontal gap-10">
                <button type="button" class="button-standard button-text-only w-fill text-left">
                    Lựa chọn 1
                </button>
                <p class="text-body text-primary">25%</p>
            </div>
            <div class="layout-horizontal gap-10">
                <button type="button" class="button-standard button-text-only w-fill text-left">
                    Lựa chọn 1
                </button>
                <p class="text-body text-primary">25%</p>
            </div>
            <div class="layout-horizontal gap-10">
                <button type="button" class="button-standard button-text-only w-fill text-left">
                    Lựa chọn 1
                </button>
                <p class="text-body text-primary">25%</p>
            </div>

        </div>
    </div>
    <div class="layout-horizontal w-fill">
        <div class="layout-horizontal w-fill">
            <button type="button" class="button-subtle button-text-with-icon text-secondary">
                100
                <i class="icon-size-20 icon icon-ic_fluent_heart_20_regular"></i>
            </button>
            <button type="button" class="button-subtle button-text-with-icon text-secondary">
                100
                <i class="icon-size-20 icon icon-ic_fluent_chat_empty_20_regular"></i>
            </button>
            <button type="button" class="button-subtle button-text-with-icon text-secondary">
                100
                <i class="icon-size-20 icon icon-ic_fluent_share_20_regular"></i>
            </button>
        </div>
        <button type="button" class="button-subtle button-icon-only text-secondary">
            <i class="icon-size-20 icon icon-ic_fluent_bookmark_20_regular"></i>
        </button>
    </div>
</div>
<!-- End Post Section Type:Default -->