<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://chick2004.io.vn/css/index.css">
</head>

<body class="gradient-background layout-vertical p-25" style="height: 100vh;">
    <!-- Article -->
    <article class="layout-horizontal gap-20 px-20 w-fill h-fill overflow-hidden align-center-center">
      
    <div class="w-fill-column-8 h-fill layout-vertical overflow-scroll-vertical gap-20">
        <p class="text-subtitle text-primary">Danh sách bài viết được lưu</p>
        <div class="w-fill h-hug layout-vertical gap-20">

            <div class="w-fill card-background-default border border-card-default p-20 gap-20 rounded-8 layout-horizontal shadow-card">
                
                <div class="rounded-6 border border-card-default overflow-hidden layout w-fill-column-3" style="height: 150px !important;">
                    <img src="/layout/image/3d-glassy-two-deformed-thin-lenses 1.png" alt="" class="w-fill h-fill object-fit-cover">
                </div>

                <div class="layout-vertical w-fill-column-9">
                    <div class="layout-horizontal w-fill align-center-left gap-5">
                        <img src="/layout/image/profile.png" alt="" class="border border-card-default rounded-circle" style="width: 35px; height: 35px;">
                        <p class="text-body-strong text-primary">Châu Thành Cường</p>
                    </div>
                    <div class="text-body text-primary w-fill h-fill">
                        Làm cách nào để mò được tên các Font chữ tuyệt đẹp được các Designer tâm huyết lựa chọn để thiết kế các Poster, các Teaser MV nổi tiếng thì Video hướng dẫn này của 9Sli
                    </div>
                    <div class="layout-horizontal gap-10">
                        <button type="button" class="button-accent button-text-only">Xem chi tiết</button>

                        <button type="button" class="button-standard button-icon-only">
                            <i class="icon-size-16 icon icon-ic_fluent_share_android_16_filled"></i>
                        </button>
                    
                        <button type="button" class="button-standard button-icon-only">
                            <i class="icon-size-16 icon icon-ic_fluent_bookmark_off_20_filled"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="w-fill card-background-default border border-card-default p-20 gap-20 rounded-8 layout-horizontal shadow-card">
                
                <div class="rounded-6 border border-card-default overflow-hidden layout w-fill-column-3" style="height: 150px !important;">
                    <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover">
                </div>

                <div class="layout-vertical w-fill-column-9">
                    <div class="layout-horizontal w-fill align-center-left gap-5">
                        <img src="/layout/image/profile.png" alt="" class="border border-card-default rounded-circle" style="width: 35px; height: 35px;">
                        <p class="text-body-strong text-primary">Châu Thành Cường</p>
                    </div>
                    <div class="text-body text-primary w-fill h-fill">
                        Làm cách nào để mò được tên các Font chữ tuyệt đẹp được các Designer tâm huyết lựa chọn để thiết kế các Poster, các Teaser MV nổi tiếng thì Video hướng dẫn này của 9Sli
                    </div>
                    <div class="layout-horizontal gap-10">
                        <button type="button" class="button-accent button-text-only">Xem chi tiết</button>

                        <button type="button" class="button-standard button-icon-only">
                            <i class="icon-size-16 icon icon-ic_fluent_share_android_16_filled"></i>
                        </button>
                    
                        <button type="button" class="button-standard button-icon-only">
                            <i class="icon-size-16 icon icon-ic_fluent_bookmark_off_20_filled"></i>
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="w-fill card-background-default border border-card-default p-20 gap-20 rounded-8 layout-horizontal shadow-card">
                
                <div class="rounded-6 border border-card-default overflow-hidden layout w-fill-column-3" style="height: 150px !important;">
                    <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover">
                </div>

                <div class="layout-vertical w-fill-column-9">
                    <div class="layout-horizontal w-fill align-center-left gap-5">
                        <img src="/layout/image/profile.png" alt="" class="border border-card-default rounded-circle" style="width: 35px; height: 35px;">
                        <p class="text-body-strong text-primary">Châu Thành Cường</p>
                    </div>
                    <div class="text-body text-primary w-fill h-fill">
                        Làm cách nào để mò được tên các Font chữ tuyệt đẹp được các Designer tâm huyết lựa chọn để thiết kế các Poster, các Teaser MV nổi tiếng thì Video hướng dẫn này của 9Sli
                    </div>
                    <div class="layout-horizontal gap-10">
                        <button type="button" class="button-accent button-text-only">Xem chi tiết</button>

                        <button type="button" class="button-standard button-icon-only">
                            <i class="icon-size-16 icon icon-ic_fluent_share_android_16_filled"></i>
                        </button>
                    
                        <button type="button" class="button-standard button-icon-only">
                            <i class="icon-size-16 icon icon-ic_fluent_bookmark_off_20_filled"></i>
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="w-fill card-background-default border border-card-default p-20 gap-20 rounded-8 layout-horizontal shadow-card">
                
                <div class="rounded-6 border border-card-default overflow-hidden layout w-fill-column-3" style="height: 150px !important;">
                    <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover">
                </div>

                <div class="layout-vertical w-fill-column-9">
                    <div class="layout-horizontal w-fill align-center-left gap-5">
                        <img src="/layout/image/profile.png" alt="" class="border border-card-default rounded-circle" style="width: 35px; height: 35px;">
                        <p class="text-body-strong text-primary">Châu Thành Cường</p>
                    </div>
                    <div class="text-body text-primary w-fill h-fill">
                        Làm cách nào để mò được tên các Font chữ tuyệt đẹp được các Designer tâm huyết lựa chọn để thiết kế các Poster, các Teaser MV nổi tiếng thì Video hướng dẫn này của 9Sli
                    </div>
                    <div class="layout-horizontal gap-10">
                        <button type="button" class="button-accent button-text-only">Xem chi tiết</button>

                        <button type="button" class="button-standard button-icon-only">
                            <i class="icon-size-16 icon icon-ic_fluent_share_android_16_filled"></i>
                        </button>
                    
                        <button type="button" class="button-standard button-icon-only">
                            <i class="icon-size-16 icon icon-ic_fluent_bookmark_off_20_filled"></i>
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="w-fill card-background-default border border-card-default p-20 gap-20 rounded-8 layout-horizontal shadow-card">
                
                <div class="rounded-6 border border-card-default overflow-hidden layout w-fill-column-3" style="height: 150px !important;">
                    <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover">
                </div>

                <div class="layout-vertical w-fill-column-9">
                    <div class="layout-horizontal w-fill align-center-left gap-5">
                        <img src="/layout/image/profile.png" alt="" class="border border-card-default rounded-circle" style="width: 35px; height: 35px;">
                        <p class="text-body-strong text-primary">Châu Thành Cường</p>
                    </div>
                    <div class="text-body text-primary w-fill h-fill">
                        Làm cách nào để mò được tên các Font chữ tuyệt đẹp được các Designer tâm huyết lựa chọn để thiết kế các Poster, các Teaser MV nổi tiếng thì Video hướng dẫn này của 9Sli
                    </div>
                    <div class="layout-horizontal gap-10">
                        <button type="button" class="button-accent button-text-only">Xem chi tiết</button>

                        <button type="button" class="button-standard button-icon-only">
                            <i class="icon-size-16 icon icon-ic_fluent_share_android_16_filled"></i>
                        </button>
                    
                        <button type="button" class="button-standard button-icon-only">
                            <i class="icon-size-16 icon icon-ic_fluent_bookmark_off_20_filled"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </article>
    <!-- End Article -->
</body>
<script src="https://chick2004.io.vn/js/index.js" type="module"></script>

</html>