<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://chick2004.io.vn/css/index.css">
</head>

<body class="gradient-background layout-vertical" style="height: 100vh;">
    <!-- Header -->
    <header
        class="layout-horizontal in-mobile-layout-vertical w-fill gap-20 align-center-center layer-default px-10 in-mobile-gap-5 in-mobile-py-10">
        <!-- Mặc định chia cột 4 - 4 - 4 (3 cột đều) nhưng gộp lại thành 8 - 4 để dễ responsive -->
        <div class="w-fill-column-8 layout-horizontal in-mobile-w-fill">
            <div class="w-fill hide-in-mobile hide-in-tablet">
                <img src="../image/Logo.png" alt="">
            </div>
            <div class="w-fill layout gap-20 in-mobile-gap-10">
                <div class="w-hug show-in-mobile show-in-tablet">
                    <img src="../image/Logo.png" alt="">
                </div>
                <div class="search-dropdown-control w-fill">
                    <div class="control search-control">
                        <input type="search" placeholder="Tìm kiếm" spellcheck="false">
                        <button type="button" class="input-button clear-content-button">
                            <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_regular"></i>
                        </button>
                        <button type="button" class="input-button search-button">
                            <i class="icon-size-16 icon icon-ic_fluent_search_16_regular"></i>
                        </button>
                    </div>
                    <div class="dropdown-menu">
                        <div class="list-item">
                            <div class="text-body">Item 1</div>
                        </div>
                        <div class="list-item">
                            <div class="text-body">Item 2</div>
                        </div>
                        <div class="list-item">
                            <div class="text-body">Item 3</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-fill-column-4 in-mobile-w-fill">
            <div class="layout-horizontal gap-20 align-center-right in-mobile-align-center-space-evenly">
                <a href="#" class="button-subtle button-icon-only text-accent-default">
                    <i class="icon-size-24 icon icon-ic_fluent_home_24_filled"></i>
                </a>
                <a href="#" class="button-subtle button-icon-only text-secondary">
                    <i class="icon-size-24 icon icon-ic_fluent_alert_24_regular"></i>
                </a>
                <a href="#" class="button-subtle button-icon-only text-secondary">
                    <i class="icon-size-24 icon icon-ic_fluent_settings_24_regular"></i>
                </a>
                <a href="#" class="button-subtle button-icon-only text-secondary">
                    <i class="icon-size-24 icon icon-ic_fluent_bookmark_24_regular"></i>
                </a>
                <a href="#" class="button-subtle button-icon-only text-secondary">
                    <i class="icon-size-24 icon icon-ic_fluent_chat_24_regular"></i>
                </a>
                <a href="#" class=" hide-in-desktop show-in-mobile button-subtle button-icon-only text-secondary">
                    <i class="icon-size-24 icon icon-ic_fluent_navigation_24_regular"></i>
                </a>
            </div>
        </div>
    </header>
    <!-- End Header -->
    <!-- Article -->
    <article class="layout-horizontal gap-20 px-20 w-fill h-fill overflow-hidden">
        <div class="w-fill-column-3 layout-vertical gap-20 py-20 overflow-scroll-vertical">
            <div class="layout-vertical card-background-default border rounded-8">
                <div class="w-fill layout-horizontal align-center-space-between px-20 py-15 gap-15">
                    <div class="control search-control w-fill">
                        <input type="search" placeholder="placeholder" spellcheck="false">
                        <button type="button" class="input-button clear-content-button">
                            <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_regular"></i>
                        </button>
                        <button type="button" class="input-button search-button">
                            <i class="icon-size-16 icon icon-ic_fluent_search_16_regular"></i>
                        </button>
                    </div>
                    <div class="w-hug">
                        <a href="" class="text-secondary"><i
                                class="icon-size-24 icon icon-ic_fluent_chat_add_24_regular"></i></a>
                    </div>
                    <div class="w-hug">
                        <a href="" class="text-secondary"><i
                                class="icon-size-24 icon icon-ic_fluent_more_horizontal_24_regular"></i></a>
                    </div>
                </div>
                <div class="layout-horizontal gap-15 px-20 py-15 border-top align-center-center">
                    <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                    <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
                </div>
                <div class="layout-horizontal gap-15 px-20 py-15 border-top align-center-center">
                    <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                    <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
                </div>
                <div class="layout-horizontal gap-15 px-20 py-15 border-top align-center-center">
                    <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                    <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
                </div>
                <div class="layout-horizontal gap-15 px-20 py-15 border-top align-center-center">
                    <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                    <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
                </div>
                <div class="layout-horizontal gap-15 px-20 py-15 border-top align-center-center">
                    <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                    <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
                </div>
                <div class="layout-horizontal gap-15 px-20 py-15 border-top align-center-center">
                    <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                    <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
                </div>
                <div class="layout-horizontal gap-15 px-20 py-15 border-top align-center-center">
                    <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                    <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
                </div>
                <div class="layout-horizontal gap-15 px-20 py-15 border-top align-center-center">
                    <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                    <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
                </div>
                <div class="layout-horizontal gap-15 px-20 py-15 border-top align-center-center">
                    <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                    <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
                </div>
                <div class="layout-horizontal gap-15 px-20 py-15 border-top align-center-center">
                    <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                    <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
                </div>
                <div class="layout-horizontal gap-15 px-20 py-15 border-top align-center-center">
                    <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                    <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
                </div>
                <div class="layout-horizontal gap-15 px-20 py-15 border-top align-center-center">
                    <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                    <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
                </div>
                <div
                    class="w-fill layout-horizontal align-center-space-between px-20 py-15 border-top">
                    <a href="" class="link">Xem thêm</a>
                </div>
            </div>
        </div>
        <div class="w-fill-column-6 layout-vertical gap-20 py-20 overflow-scroll-vertical">
            <div class="layout-vertical card-background-default border rounded-8"
                style="height: 90vh;">
                <div
                    class="h-hug w-fill layout-horizontal align-center-space-between px-20 py-15 gap-15 border-bottom">
                    <div class="w-fill layout-horizontal gap-15 align-center-center">
                        <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                        <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
                    </div>
                    <div class="w-hug">
                        <a href="" class="accent-text-primary"><i
                                class="icon-size-24 icon icon-ic_fluent_call_24_filled"></i></a>
                    </div>
                    <div class="w-hug">
                        <a href="" class="accent-text-primary"><i
                                class="icon-size-24 icon icon-ic_fluent_video_24_filled"></i></a>
                    </div>
                    <div class="w-hug">
                        <a href="" class="accent-text-primary"><i
                                class="icon-size-24 icon icon-ic_fluent_more_circle_24_filled"></i></a>
                    </div>
                    <div class="w-hug">
                        <a href="" class="accent-text-primary"><i
                                class="icon-size-24 icon icon-ic_fluent_panel_24_filled"></i></a>
                    </div>
                </div>
                <div class="h-fill w-fill overflow-scroll-vertical">

                    <div class="w-fill layout align-top-left">
                        <div class="layout-horizontal gap-15 p-20" style="max-width: 60%;">
                            <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                            <div>
                                <p class="text-tertiary text-caption mb-5 layout align-top-left">12/29/2023 12:12</p>
                                <p class="border card-background-default px-15 py-10 rounded-8">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae nulla omnis ex
                                    officiis sint saepe impedit! Ipsa eaque ipsum quisquam facere distinctio blanditiis
                                    ad atque asperiores nostrum a, minima praesentium?
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="w-fill layout align-top-right">
                        <div class="layout-horizontal gap-15 p-20" style="max-width: 60%;">
                            <div>
                                <p class="text-tertiary text-caption mb-5 layout align-top-right">12/29/2023 12:12</p>
                                <p class="border px-15 py-10 rounded-8"
                                    style="background-color: #005FB8E6; color: white;">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae nulla omnis ex
                                    officiis sint saepe impedit! Ipsa eaque ipsum quisquam facere distinctio blanditiis
                                    ad atque asperiores nostrum a, minima praesentium?
                                </p>
                            </div>
                            <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                        </div>
                    </div>

                    <div class="w-fill layout align-top-left">
                        <div class="layout-horizontal gap-15 p-20" style="max-width: 60%;">
                            <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                            <div>
                                <p class="text-tertiary text-caption mb-5 layout align-top-left">12/29/2023 12:12</p>
                                <p class="px-10 py-5 my-5 text-secondary" style="border-left: 3px solid #0000001F;">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </p>
                                <p class="border card-background-default px-15 py-10 rounded-8">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae nulla omnis ex
                                    officiis sint saepe impedit! Ipsa eaque ipsum quisquam facere distinctio blanditiis
                                    ad atque asperiores nostrum a, minima praesentium?
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="w-fill layout align-top-right">
                        <div class="layout-horizontal gap-15 p-20" style="max-width: 60%;">
                            <div>
                                <p class="text-tertiary text-caption mb-5 layout align-top-right">12/29/2023 12:12</p>
                                <p class="px-10 py-5 my-5 text-secondary" style="border-right: 3px solid #005FB8E6;">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </p>
                                <p class="border px-15 py-10 rounded-8"
                                    style="background-color: #005FB8E6; color: white;">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae nulla omnis ex
                                    officiis sint saepe impedit! Ipsa eaque ipsum quisquam facere distinctio blanditiis
                                    ad atque asperiores nostrum a, minima praesentium?
                                </p>
                            </div>
                            <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                        </div>
                    </div>

                </div>
                <div class="h-hug">
                    <div
                        class="w-fill layout-horizontal px-20 py-15 gap-15 align-center-center border-top">
                        <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">

                        <div class="control w-fill" style="padding: 0;">
                            <textarea class="control text-area-control w-fill" style="border: none;" name="" id=""
                                spellcheck="false"></textarea>
                            <button type="button" class="input-button">
                                <i class="icon-size-16 icon icon-ic_fluent_mic_16_regular"></i>
                            </button>
                            <button type="button" class="input-button">
                                <i class="icon-size-16 icon icon-ic_fluent-image_16_regular"></i>
                            </button>
                            <button type="button" class="input-button">
                                <i class="icon-size-16 icon icon-ic_fluent_emoji_16_regular"></i>
                            </button>
                        </div>

                        <button type="button" class="button-accent button-text-with-icon">
                            Send
                            <i class="icon-size-16 icon icon-ic_fluent_send_16_filled"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-fill-column-3 layout-vertical gap-20 py-20 overflow-scroll-vertical">
            <div
                class="layout-vertical card-background-default border rounded-8 align-center-center py-20">
                <img src="/layout/image/avatar.png" alt="" class="mb-15" style="width: 100px; height: 100px;">
                <p class="text-primary text-body">Châu Thành Cường</p>
                <p class="text-primary text-caption">@Chick2004</p>
            </div>
            <div class="layout-vertical card-background-default border rounded-8">

                <a href=""
                    class="layout-horizontal gap-15 px-20 py-15 align-center-center text-accent-default">
                    <i class="icon-size-20 icon icon-ic_fluent_search_20_regular"></i>
                    <p class="text-primary text-body w-fill">Search message</p>
                </a>
                <a href=""
                    class="layout-horizontal gap-15 px-20 py-15 border-top align-center-center text-accent-default">
                    <i class="icon-size-20 icon icon-ic_fluent_alert_20_regular"></i>
                    <p class="text-primary text-body w-fill">Notification</p>
                </a>
                <a href=""
                    class="layout-horizontal gap-15 px-20 py-15 border-top align-center-center text-accent-default">
                    <i class="icon-size-20 icon icon-ic_fluent_pin_20_regular"></i>
                    <p class="text-primary text-body w-fill">Pinned messages</p>
                </a>

            </div>
            <div class="card-background-default border rounded-8 p-10">

                <div class="" style="display: grid; grid-template-columns: repeat(3, 1fr); gap:10px;">

                    <a href="" class="">
                        <img src="/layout/image/hinh.jpg" alt="" class="rounded-4 border w-fill">
                    </a>
                    
                    <a href="" class="">
                        <img src="/layout/image/hinh.jpg" alt="" class="rounded-4 border w-fill">
                    </a>
                    
                    <a href="" class="">
                        <img src="/layout/image/hinh.jpg" alt="" class="rounded-4 border w-fill">
                    </a>
                    
                    <a href="" class="">
                        <img src="/layout/image/hinh.jpg" alt="" class="rounded-4 border w-fill">
                    </a>
                    
                    <a href="" class="">
                        <img src="/layout/image/hinh.jpg" alt="" class="rounded-4 border w-fill">
                    </a>
                    
                    <a href="" class="">
                        <img src="/layout/image/hinh.jpg" alt="" class="rounded-4 border w-fill">
                    </a>
                    
                    <a href="" class="">
                        <img src="/layout/image/hinh.jpg" alt="" class="rounded-4 border w-fill">
                    </a>
                    
                </div>
            </div>
        </div>
    </article>
    <!-- End Article -->
</body>
<script src="https://chick2004.io.vn/js/index.js" type="module"></script>

</html>