<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://chick2004.io.vn/css/index.css">
</head>
<body class="gradient-background layout-vertical align-center-center" style="height: 100vh;" >

    <div class="layout-vertical gap-20 p-20 rounded-8 acrylic-background-default blur-acrylic border border-card-default" style="width: 400px;">
        <div class="w-fill layout-vertical gap-5">
            <p class="text-body-large text-primary">Tạo nhóm trò chuyện</p>
            <p class="text-body text-secondary">
                Tạo nhóm trò chuyện để bắt đầu trò chuyện với nhiều người cùng một lúc
            </p>
        </div>
        <div class="layout py-20 w-fill align-center-center ">
            <div class="background-card-default" style="width: 100px; height: 100px;">
                <img class="border border-card-default w-fill h-fill rounded-circle  object-fit-cover" src="/layout/image/splash.png" alt="">

                <input class="display-none" type="file" accept="image/*" id="image" name="image">
                <label for="image" class="p-0">
                    <button type="button" class="button-accent button-icon-only position-absolute bottom-0 end-0" style="z-index: 1;">
                        <i class="icon-size-16 icon icon-ic_fluent_camera_16_filled"></i>
                    </button>
                </label>
            </div>
        </div>
        <div class="w-fill layout-vertical gap-5">
            <p class="text-body text-primary">Tên nhóm</p>
            <div class="w-fill control text-control">
                <input type="text" placeholder="placeholder" spellcheck="false">
            </div>
        </div>
        <div class="w-fill layout-vertical gap-5">
            <p class="text-body text-primary">Thêm bạn bè</p>
            <div class="search-dropdown-control w-fill">
                <div class="control search-control">
                    <input type="search" placeholder="placeholder" spellcheck="false">
                    <button type="button" class="input-button clear-content-button">
                        <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_regular"></i>
                    </button>
                    <button type="button" class="input-button search-button">
                        <i class="icon-size-16 icon icon-ic_fluent_search_16_regular"></i>
                    </button>
                </div>
                <div class="dropdown-menu">
                    <div class="list-item">
                        <div class="text-body">Item 1</div>
                    </div>
                    <div class="list-item">
                        <div class="text-body">Item 2</div>
                    </div>
                    <div class="list-item">
                        <div class="text-body">Item 3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-fill layout-horizontal gap-20 align-center-right">
            <button type="button" class="button-standard button-text-only">Hủy</button>
            <button type="button" class="button-accent button-text-only">Tạo nhóm</button>
        </div>
    </div>

</body>
<script src="https://chick2004.io.vn/js/index.js" type="module"></script>
</html>