<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://chick2004.io.vn/css/index.css">
</head>
<body class="gradient-background layout-vertical" style="height: 100vh;" >
    <!-- Header -->
    <header class="layout-horizontal in-mobile-layout-vertical w-fill gap-20 align-center-center layer-default px-10 in-mobile-gap-5 in-mobile-py-10" style="min-height: 45px;">
        <!-- Mặc định chia cột 4 - 4 - 4 (3 cột đều) nhưng gộp lại thành 8 - 4 để dễ responsive -->
        <div class="w-fill-column-8 layout-horizontal in-mobile-w-fill">
            <div class="w-fill hide-in-mobile hide-in-tablet">
                <img src="/infinix/layout/image/Logo.png" alt="">
            </div>
            <div class="w-fill layout gap-20 in-mobile-gap-10">
                <div class="w-hug show-in-mobile show-in-tablet">
                    <img src="/infinix/layout/image/Logo.png" alt="">
                </div>
                <div class="search-dropdown-control w-fill">
                    <div class="control search-control">
                        <input type="search" placeholder="Tìm kiếm" spellcheck="false">
                        <button type="button" class="input-button clear-content-button">
                            <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_regular"></i>
                        </button>
                        <button type="button" class="input-button search-button">
                            <i class="icon-size-16 icon icon-ic_fluent_search_16_regular"></i>
                        </button>
                    </div>
                    <div class="dropdown-menu">
                        <div class="list-item">
                            <div class="text-body">Item 1</div>
                        </div>
                        <div class="list-item">
                            <div class="text-body">Item 2</div>
                        </div>
                        <div class="list-item">
                            <div class="text-body">Item 3</div>
                        </div>
                        <div class="divider-horizontal w-fill"></div>
                        <div class="list-item layout-horizontal align-center-left gap-5">
                            <i class="icon-size-16 icon icon-ic_fluent_history_16_filled"></i>
                            <div class="text-body display-inline">Item 1</div>
                        </div>
                        <div class="list-item layout-horizontal align-center-left gap-5">
                            <i class="icon-size-16 icon icon-ic_fluent_history_16_filled"></i>
                            <div class="text-body display-inline">Item 1</div>
                        </div>
                        <div class="list-item layout-horizontal align-center-left gap-5">
                            <i class="icon-size-16 icon icon-ic_fluent_history_16_filled"></i>
                            <div class="text-body display-inline">Item 1</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-fill-column-4 in-mobile-w-fill">
            <div class="layout-horizontal gap-20 align-center-right in-mobile-align-center-space-evenly">
                <a href="#" class="button-subtle button-icon-only text-accent-default">
                    <i class="icon-size-24 icon icon-ic_fluent_home_24_filled"></i>
                </a>
                <a href="#" class="button-subtle button-icon-only text-secondary">
                    <i class="icon-size-24 icon icon-ic_fluent_alert_24_regular"></i>
                </a>
                <a href="#" class="button-subtle button-icon-only text-secondary">
                    <i class="icon-size-24 icon icon-ic_fluent_settings_24_regular"></i>
                </a>
                <a href="#" class="button-subtle button-icon-only text-secondary">
                    <i class="icon-size-24 icon icon-ic_fluent_bookmark_24_regular"></i>
                </a>
                <a href="#" class="button-subtle button-icon-only text-secondary">
                    <i class="icon-size-24 icon icon-ic_fluent_chat_24_regular"></i>
                </a>
                <a href="#" class=" hide-in-desktop show-in-mobile button-subtle button-icon-only text-secondary">
                    <i class="icon-size-24 icon icon-ic_fluent_navigation_24_regular"></i>
                </a>
            </div>
        </div>
    </header>
    <!-- End Header -->
     <!-- Article -->
    <article class="layout-horizontal gap-20 px-20 w-fill h-fill overflow-hidden">
        <div class="w-fill-column-3 layout-vertical pt-20 overflow-scroll-vertical in-tablet-w-fill-column-4 hide-in-mobile">

            <div class="w-fill  h-fill layout-vertical card-background-default rounded-8 overflow-hidden">
                <div class="layout-vertical gap-10 w-fill border-bottom border-card-default  p-10 gap-10">

                    <div class="layout-horizontal gap-10 w-fill">
                        <div class="layout-horizontal gap-10 align-center-left w-fill">
                            <button type="button" class="button-subtle button-icon-only">
                                <i class="icon-size-16 icon icon-ic_fluent_chevron_left_16_regular"></i>
                            </button>
                            <p class="text-body-strong text-primary">Danh sách</p>
                        </div>
                        <div class="dropdown-control" style="min-width: 150px !important;">
                            <button type="button" class="button button-standard button-text-with-icon w-fill">
                                <i class="icon-size-16 icon icon-ic_fluent_chevron_down_16_regular"></i>
                            </button>
                            <div class="dropdown-menu w-fill">
                                <div class="list-item">
                                    <div class="text-body">Bạn bè</div>
                                </div>
                                <div class="list-item">
                                    <div class="text-body">Người theo dõi</div>
                                </div>
                                <div class="list-item">
                                    <div class="text-body">Đang theo dõi</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-dropdown-control w-fill">
                    <div class="control search-control">
                        <input type="search" placeholder="placeholder" spellcheck="false">
                        <button type="button" class="input-button clear-content-button">
                            <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_regular"></i>
                        </button>
                        <button type="button" class="input-button search-button">
                            <i class="icon-size-16 icon icon-ic_fluent_search_16_regular"></i>
                        </button>
                    </div>
                    <div class="dropdown-menu">
                        <div class="list-item">
                            <div class="text-body">Item 1</div>
                        </div>
                        <div class="list-item">
                            <div class="text-body">Item 2</div>
                        </div>
                        <div class="list-item">
                            <div class="text-body">Item 3</div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="w-fill h-fill layout-vertical gap-5 p-5 overflow-scroll-vertical">
                    <div class="layout-horizontal list-item gap-15 px-20 py-10 align-center-center">
                        <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                        <div class="layout-vertical w-fill">
                            <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
                            <p class="text-caption text-tertiary">@chick2004</p>
                        </div>
                    </div>
                    <div class="layout-horizontal list-item gap-15 px-20 py-10 align-center-center">
                        <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                        <div class="layout-vertical w-fill">
                            <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
                            <p class="text-caption text-tertiary">@chick2004</p>
                        </div>
                    </div>
                    <div class="layout-horizontal list-item gap-15 px-20 py-10 align-center-center">
                        <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                        <div class="layout-vertical w-fill">
                            <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
                            <p class="text-caption text-tertiary">@chick2004</p>
                        </div>
                    </div>
                    <div class="layout-horizontal list-item gap-15 px-20 py-10 align-center-center">
                        <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                        <div class="layout-vertical w-fill">
                            <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
                            <p class="text-caption text-tertiary">@chick2004</p>
                        </div>
                    </div>
                    <div class="layout-horizontal list-item gap-15 px-20 py-10 align-center-center">
                        <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                        <div class="layout-vertical w-fill">
                            <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
                            <p class="text-caption text-tertiary">@chick2004</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="w-fill-column-3 layout-vertical gap-20 pt-20 overflow-scroll-vertical hide-in-tablet hide-in-mobile">
            <div class="w-fill h-hug card-background-default border border-card-default rounded-8 layout-vertical">
                <img src="/layout/image/splash.png" alt="" class="w-fill rounded-top-8">
                <div class="layout-vertical py-20 pb-20 gap-20 align-center-center" style="margin-top: -60px;">
                    <img src="/layout/image/profile-photo.png" alt="" class="rounded-circle border border-card-default" style="width: 120px; height: 120px;">
                
                    <div class="layout-vertical gap-5 w-fill align-center-center pb-20 border-bottom border-card-default">
                        <p class="text-primary text-subtitle">Châu Thành Cường</p>
                        <p class="text-primary text-body">@chick2004</p>
                        <p class="text-primary text-caption">Lorem ipsum dolor sit amet consectetur sum dolor sit amet.</p>
                    </div>
                    <div class="layout-horizontal gap-20 w-fill">
                        <div class="w-fill layout-vertical align-center-center">
                            <p class="text-secondary text-body">Bạn bè</p>
                            <p class="text-primary text-body-strong">100</p>
                        </div>
                        <div class="w-fill layout-vertical align-center-center">
                            <p class="text-secondary text-body">Người theo dõi</p>
                            <p class="text-primary text-body-strong">100</p>
                        </div>
                        <div class="w-fill layout-vertical align-center-center">
                            <p class="text-secondary text-body">Đang theo dõi</p>
                            <p class="text-primary text-body-strong">100</p>
                        </div>
                    </div>
                    <div class="layout w-fill px-20">
                        <button type="button" class="button-accent button-text-only w-fill">Chỉnh sửa trang cá nhân</button>
                    </div>
                </div>
            </div>
            <div class="layout-vertical w-fill gap-20 p-20 rounded-8 card-background-default border border-card-default">
                <div class="layout-horizontal pb-10 w-fill border-bottom border-card-default">
                    <p class="text-body text-primary w-fill">100 phương tiện</p>
                    <a href="" class="link text-nowrap">Xem thêm</a>
                </div>
                <div class="layout-vertical w-fill gap-10">
                    <div class="layout-horizontal gap-10" style="height: 70px;">
                        <div class="w-fill h-fill">
                            <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
                        </div>
                        <div class="w-fill h-fill">
                            <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
                        </div>
                        <div class="w-fill h-fill">
                            <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
                        </div>
                        <div class="w-fill h-fill">
                            <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
                        </div>
                    </div>
                    <div class="layout-horizontal gap-10" style="height: 70px;">
                        <div class="w-fill h-fill">
                            <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
                        </div>
                        <div class="w-fill h-fill">
                            <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
                        </div>
                        <div class="w-fill h-fill">
                            <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
                        </div>
                        <div class="w-fill h-fill">
                            <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
                        </div>
                    </div>
                    <div class="layout-horizontal gap-10" style="height: 70px;">
                        <div class="w-fill h-fill">
                            <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
                        </div>
                        <div class="w-fill h-fill">
                            <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
                        </div>
                        <div class="w-fill h-fill">
                            <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
                        </div>
                        <div class="w-fill h-fill">
                            <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
                        </div>
                    </div>
                    <div class="layout-horizontal gap-10" style="height: 70px;">
                        <div class="w-fill h-fill">
                            <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
                        </div>
                        <div class="w-fill h-fill">
                            <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
                        </div>
                        <div class="w-fill h-fill">
                            <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
                        </div>
                        <div class="w-fill h-fill">
                            <img src="/layout/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-fill-column-6 layout-vertical gap-20 pt-20 overflow-scroll-vertical in-tablet-w-fill-column-8 in-mobile-w-fill">
        <!-- End Create Post Section Type:Default -->
    <!-- Post Section Type:Default -->
        <div class="layout-vertical gap-20 pt-20 ps-20 pe-20 pb-10 card-background-default border border-card-default rounded-8">
            <div class="layout-horizontal gap-20">
                <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                <div class="layout-vertical w-fill">
                    <p class="text-body-strong text-primary">Châu Thành Cường</p>
                    <p class="text-body text-secondary">1 giờ trước</p>
                </div>
                <button type="button" class="button-subtle button-icon-only">
                    <i class="icon-size-24 icon icon-ic_fluent_more_horizontal_24_filled"></i>
                </button>
            </div>
            <div class="layout w-fill">
                <p class="text-body text-primary">Lorem ipsum dolor sit amet consectetur. Id suscipit pharetra sagittis amet sed elementum nibh consequat. Mattis morbi congue donec mattis tortor porta dignissim.</p>
            </div>
            <div class="layout w-fill">
                <div class="carousel w-fill rounded-4">
                    <div class="carousel-indicators">
                        <button type="button" class="border-none rounded-circle active">
                        </button>
                        <button type="button" class="border-none rounded-circle">
                        </button>
                        <button type="button" class="border-none rounded-circle">
                        </button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <img src="https://placehold.co/600x400/orange/white" alt="Image 1">
                        </div>
                        <div class="carousel-item">
                            <img src="https://placehold.co/600x400/blue/cyan" alt="Image 2">
                        </div>
                        <div class="carousel-item">
                            <img src="https://placehold.co/600x400/white/red" alt="Image 3">
                        </div>
                    </div>
                    
                    <button type="button" class="carousel-button-previous p-5 rounded-circle">
                        <i class="icon-size-20 icon icon-ic_fluent_chevron_left_20_filled"></i>
                    </button>
                
                
                    <button type="button" class="carousel-button-next p-5 rounded-circle">
                        <i class="icon-size-20 icon icon-ic_fluent_chevron_right_20_filled"></i>
                    </button>
                </div>
            </div>
            <div class="layout-horizontal w-fill">
                <div class="layout-horizontal w-fill">
                    <button type="button" class="button-subtle button-text-with-icon text-secondary">
                        100
                        <i class="icon-size-20 icon icon-ic_fluent_heart_20_regular"></i>
                    </button>
                    <button type="button" class="button-subtle button-text-with-icon text-secondary">
                        100
                        <i class="icon-size-20 icon icon-ic_fluent_chat_empty_20_regular"></i>
                    </button>
                    <button type="button" class="button-subtle button-text-with-icon text-secondary">
                        100
                        <i class="icon-size-20 icon icon-ic_fluent_share_20_regular"></i>
                    </button>
                </div>
                <button type="button" class="button-subtle button-icon-only text-secondary">
                    <i class="icon-size-20 icon icon-ic_fluent_bookmark_20_regular"></i>
                </button>
            </div>
        </div>
    <!-- End Post Section Type:Default -->
    <!-- Post Section Type:Default -->
        <div class="layout-vertical gap-20 pt-20 ps-20 pe-20 pb-10 card-background-default border border-card-default rounded-8">
            <div class="layout-horizontal gap-20">
                <img src="/layout/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                <div class="layout-vertical w-fill">
                    <p class="text-body-strong text-primary">Châu Thành Cường</p>
                    <p class="text-body text-secondary">1 giờ trước</p>
                </div>
                <button type="button" class="button-subtle button-icon-only">
                    <i class="icon-size-24 icon icon-ic_fluent_more_horizontal_24_filled"></i>
                </button>
            </div>
            <div class="layout w-fill">
                <p class="text-body text-primary">Lorem ipsum dolor sit amet consectetur. Id suscipit pharetra sagittis amet sed elementum nibh consequat. Mattis morbi congue donec mattis tortor porta dignissim.</p>
            </div>
            <div class="layout-vertical p-10 gap-10 rounded-8 card-background-secondary border border-card-default">
                <p class="text-body text-primary">Tạo cuộc bình chọn</p>
                <div class="layout-vertical gap-10">
                    <div class="layout-horizontal gap-10">
                        <button type="button" class="button-standard button-text-only w-fill text-left">
                            Lựa chọn 1
                        </button>
                        <p class="text-body text-primary">25%</p>
                    </div>
                    <div class="layout-horizontal gap-10">
                        <button type="button" class="button-standard button-text-only w-fill text-left">
                            Lựa chọn 1
                        </button>
                        <p class="text-body text-primary">25%</p>
                    </div>
                    <div class="layout-horizontal gap-10">
                        <button type="button" class="button-standard button-text-only w-fill text-left">
                            Lựa chọn 1
                        </button>
                        <p class="text-body text-primary">25%</p>
                    </div>
                    <div class="layout-horizontal gap-10">
                        <button type="button" class="button-standard button-text-only w-fill text-left">
                            Lựa chọn 1
                        </button>
                        <p class="text-body text-primary">25%</p>
                    </div>
                    
                </div>
            </div> 
            <div class="layout-horizontal w-fill">
                <div class="layout-horizontal w-fill">
                    <button type="button" class="button-subtle button-text-with-icon text-secondary">
                        100
                        <i class="icon-size-20 icon icon-ic_fluent_heart_20_regular"></i>
                    </button>
                    <button type="button" class="button-subtle button-text-with-icon text-secondary">
                        100
                        <i class="icon-size-20 icon icon-ic_fluent_chat_empty_20_regular"></i>
                    </button>
                    <button type="button" class="button-subtle button-text-with-icon text-secondary">
                        100
                        <i class="icon-size-20 icon icon-ic_fluent_share_20_regular"></i>
                    </button>
                </div>
                <button type="button" class="button-subtle button-icon-only text-secondary">
                    <i class="icon-size-20 icon icon-ic_fluent_bookmark_20_regular"></i>
                </button>
            </div>
        </div>
    <!-- End Post Section Type:Default -->
        </div>
    </article>
     <!-- End Article -->
</body>
<script src="https://chick2004.io.vn/js/index.js" type="module"></script>
</html>