<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://chick2004.io.vn/css/index.css">
</head>
<!-- gradient-background solid-background-base -->
<body class="gradient-background layout-vertical" style="height: 100vh;" >
    <!-- Article -->
    <article class="layout-horizontal gap-20 px-20 w-fill h-fill overflow-hidden align-center-center">
        <div class="layout" style="width: 500px;">



            <div class="layout w-fill border border-card-default p-10 rounded-8">

                <button type="button" class="button-standard button-icon-only position-absolute top-50 translate-middle start-0" style="z-index: 1;">
                    <i class="icon-size-16 icon icon-ic_fluent_chevron_left_16_filled"></i>
                </button>
                <button type="button" class="button-standard button-icon-only position-absolute top-50 translate-middle start-100" style="z-index: 1;">
                    <i class="icon-size-16 icon icon-ic_fluent_chevron_right_16_filled"></i>
                </button>
    
                <div class="layout-horizontal overflow-scroll-horizontal w-fill gap-20 rounded-8">
    
                    <div class="layout-vertical gap-10 rounded-6 border border-card-default flex-shrink-0" style="width: 200px;">
                        <img class="w-fill object-fit-cover rounded-top-6" src="/layout/image/splash.png" alt="" style="height: 150px;">
                        <div class="layout-vertical w-fill gap-10 p-10">
                            <p class="text-body-strong text-primary">Châu Thành Cường</p>
                            <button type="button" class="button-accent button-text-with-icon">
                                Gửi kết bạn
                                <i class="icon-size-16 icon icon-ic_fluent_person_add_16_filled"></i>
                            </button>
                        </div>
                    </div>
    
                    <div class="layout-vertical gap-10 rounded-6 border border-card-default flex-shrink-0" style="width: 200px;">
                        <img class="w-fill object-fit-cover rounded-top-6" src="/layout/image/splash.png" alt="" style="height: 150px;">
                        <div class="layout-vertical w-fill gap-10 p-10">
                            <p class="text-body-strong text-primary">Châu Thành Cường</p>
                            <button type="button" class="button-accent button-text-with-icon">
                                Gửi kết bạn
                                <i class="icon-size-16 icon icon-ic_fluent_person_add_16_filled"></i>
                            </button>
                        </div>
                    </div>
    
                    <div class="layout-vertical gap-10 rounded-6 border border-card-default flex-shrink-0" style="width: 200px;">
                        <img class="w-fill object-fit-cover rounded-top-6" src="/layout/image/splash.png" alt="" style="height: 150px;">
                        <div class="layout-vertical w-fill gap-10 p-10">
                            <p class="text-body-strong text-primary">Châu Thành Cường</p>
                            <button type="button" class="button-accent button-text-with-icon">
                                Gửi kết bạn
                                <i class="icon-size-16 icon icon-ic_fluent_person_add_16_filled"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            


        </div>
    </article>
     <!-- End Article -->
</body>
<script src="https://chick2004.io.vn/js/index.js" type="module"></script>
</html>