<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giao diện cài đặt</title>
    <link rel="stylesheet" href="https://chick2004.io.vn/css/index.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="solid-background-secondary">
    <div class="layout-horizontal gap-20 ">
        <div class="w-fill-column-3">

        </div>


        <div class="w-fill-column-6 rounded-2 layout-vertical gap-10">
            <p class="text-title">Display</p>
            <div class="layout-horizontal gap-10  align-bottom-space-between solid-background-quinary p-20 rounded-8 ">
                <div class="layout-horizontal align-center-center gap-10">
                    <i class="icon icon-ic_fluent_sparkle_32_filled"></i>
                    
                    <div class="text-body">
                        <p>Theme</p>
                        <p class="text-caption">Customize the look and feel</p>
                    </div>
                </div>
                
                <button type="button" class="button-subtle button-text-with-icon">
                   
                    <i class="icon icon-ic_fluent_chevron_down_32_filled"></i>
                </button>
            </div>

            <div class="layout-horizontal gap-10  align-bottom-space-between solid-background-quinary p-20 rounded-8 ">
                <div class="layout-horizontal align-center-center gap-10">
                    <i class="icon-size-20 icon icon-ic_fluent_local_language_20_regular"></i>
                    
                    <div class="text-body">
                        <p>Language</p>
                        <p class="text-caption">Select display language</p>
                    </div>
                </div>
                <div class="dropdown-control">
                    
                    <button type="button" class="button button-standard button-text-with-icon  w-fill">
                        <i class="icon-size-16 icon icon-ic_fluent_chevron_down_16_regular"></i>
                    </button>
                    <div class="dropdown-menu">
                        <div class="list-item">
                            <div class="text-body">English</div>
                        </div>
                        <div class="list-item">
                            <div class="text-body">Vietnamese</div>
                        </div>
                    </div>
                </div>
                
                
            </div>
            

            <p class="text-title">Notification</p>

            <div class="layout-horizontal gap-10  align-bottom-space-between solid-background-quinary p-20 rounded-8 ">
                <div class="layout-horizontal align-center-center gap-10">
                    <i class="icon icon-ic_fluent_alert_28_regular"></i>
                    
                    <div class="text-body">
                        <p>All</p>
                        <p class="text-caption">Mute all notifications</p>
                    </div>
                </div>
                <input type="checkbox" id="checkboxInput">
                <label for="checkboxInput" class="toggleSwitch">
                </label>
                
                
            </div>


            <div class="layout-horizontal gap-10  align-bottom-space-between solid-background-quinary p-20 rounded-8 ">
                <div class="layout-horizontal align-center-center gap-10">
                    <i class="icon icon-ic_fluent_chat_28_regular"></i>
                    
                    <div class="text-body">
                        <p>Message</p>
                        <p class="text-caption">Chat message notifications</p>
                    </div>
                </div>
                
                <button type="button" class="button-subtle button-text-with-icon">
                   
                    <i class="icon icon-ic_fluent_chevron_down_32_filled"></i>
                </button>
            </div>

            <div class="layout-horizontal gap-10  align-bottom-space-between solid-background-quinary p-20 rounded-8 ">
                <div class="layout-horizontal align-center-center gap-10">
                   
                    <i class="icon icon-ic_fluent_speaker_2_28_regular"></i>
                    <div class="text-body">
                        <p>Sound</p>
                        <p class="text-caption">Notification sound</p>
                    </div>
                </div>
                <div class="dropdown-control">
                    
                    <button type="button" class="button button-standard button-text-with-icon  w-fill">
                        <i class="icon-size-16 icon icon-ic_fluent_chevron_down_16_regular"></i>
                    </button>
                    <div class="dropdown-menu">
                        <div class="list-item">
                            <div class="text-body">Sound 1</div>
                        </div>
                        <div class="list-item">
                            <div class="text-body">Sound 2</div>
                        </div>
                    </div>
                </div>
                
                
            </div>





        </div>
    </div>
    
    <script src="https://chick2004.io.vn/js/index.js" type="module"></script>
</body>
</html>
