<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://chick2004.io.vn/css/index.css">
</head>
<body class="layout-wrap gap-25">
    <style>
        .more-image::before {
            content: "+";
            font-size: 50px;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(10px);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
    </style>

    <!-- Một ảnh -->
    <div class="layout-horizontal" style="width: 350px; height: 350px;">


        <!-- Cột -->
            <div class="layout-vertical w-fill h-fill">

                <!-- Ô ảnh -->
                    <div class="w-fill h-fill">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->
                
            </div>
        <!-- Cột -->


    </div>

    <!-- 2 Ảnh -->
    <div class="layout-horizontal" style="width: 350px; height: 350px;">


        <!-- Cột -->
            <div class="layout-vertical w-fill h-fill">

                <!-- Ô ảnh -->
                    <div class="w-fill h-fill">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->

            </div>
        <!-- Cột -->

        <!-- Cột -->
            <div class="layout-vertical w-fill h-fill">

                <!-- Ô ảnh -->
                    <div class="w-fill h-fill">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->

            </div>
        <!-- Cột -->


    </div>

    <!-- 3 Ảnh -->
    <div class="layout-horizontal" style="width: 350px; height: 350px;">


        <!-- Cột -->
            <div class="layout-vertical w-fill h-fill">

                <!-- Ô ảnh -->
                    <div class="w-fill h-fill">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->
                
            </div>
        <!-- Cột -->


        <!-- Cột -->
            <div class="layout-vertical w-fill h-fill">

                <!-- Ô ảnh -->
                    <div class="w-fill h-fill">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->

                <!-- Ô ảnh -->
                    <div class="w-fill h-fill">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->

            </div>
        <!-- Cột -->


    </div>

    <!-- 4 Ảnh -->
    <div class="layout-horizontal" style="width: 350px; height: 350px;">


        <!-- Cột -->
            <div class="layout-vertical w-fill h-fill">
                <!-- Ô ảnh -->
                    <div class="w-fill h-fill">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->
                    <div class="w-fill h-fill">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->
            </div>
        <!-- Cột -->


        <!-- Cột -->
            <div class="layout-vertical w-fill h-fill">

                <!-- Ô ảnh -->
                    <div class="w-fill h-fill">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->

                <!-- Ô ảnh -->
                    <div class="w-fill h-fill">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->

            </div>
        <!-- Cột -->


    </div>


    <!-- 5 Ảnh -->
    <div class="layout-horizontal" style="width: 350px; height: 350px;">


        <!-- Cột -->
            <div class="layout-vertical w-fill h-fill">
                <!-- Ô ảnh -->
                    <div class="w-fill h-fill">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->
                    <div class="w-fill h-fill">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->
            </div>
        <!-- Cột -->


        <!-- Cột -->
            <div class="layout-vertical w-fill h-fill">

                <!-- Ô ảnh -->
                    <div class="w-fill h-fill">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->

                <!-- Ô ảnh -->
                    <div class="w-fill h-fill">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->

                <!-- Ô ảnh -->
                    <div class="w-fill h-fill">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->

            </div>
        <!-- Cột -->

            
    </div>


    <!-- Hơn Ảnh -->
    <div class="layout-horizontal" style="width: 350px; height: 350px;">


        <!-- Cột -->
            <div class="layout-vertical w-fill h-fill">
                <!-- Ô ảnh -->
                    <div class="w-fill h-fill">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->
                    <div class="w-fill h-fill">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->
            </div>
        <!-- Cột -->


        <!-- Cột -->
            <div class="layout-vertical w-fill h-fill">

                <!-- Ô ảnh -->
                    <div class="w-fill h-fill">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->

                <!-- Ô ảnh -->
                    <div class="w-fill h-fill">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->

                <!-- Ô ảnh -->
                    <div class="w-fill h-fill more-image">
                        <img style="border: 1px inset red;"  class=" w-fill h-fill object-fit-cover object-position-center" src="../image/splash.png" alt="Image 1">
                    </div>
                <!-- Ô ảnh -->

            </div>
        <!-- Cột -->

            
    </div>

    
</body>
</html>