<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://chick2004.io.vn/css/index.css">
</head>

<body class="layout-wrap gap-25">
    <style>
        .more-image::before {
            content: "+";
            font-size: 50px;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(10px);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
    </style>

    <div class="layout-horizontal" style="width: 350px; height: 350px;">
        <div class="layout-horizontal w-fill h-fill">
            <div class="w-fill h-fill">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
        </div>
    </div>

    <div class="layout-horizontal" style="width: 350px; height: 350px;">
        <div class="layout-horizontal w-fill h-fill" style="display: grid; grid-template-columns: repeat(2, 1fr);">
            <div class="w-fill h-fill">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
            <div class="w-fill h-fill">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
        </div>
    </div>

    <div class="layout-horizontal" style="width: 350px; height: 350px;">
        <div class="layout-vertical w-fill h-fill" style="display: grid; grid-template-columns: repeat(2, 1fr);">
            <div class="w-fill h-fill" style="grid-row-start: 1; grid-row-end: 3;">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
            <div class="w-fill h-fill">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
            <div class="w-fill h-fill">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
        </div>
    </div>

    <div class="layout-horizontal" style="width: 350px; height: 350px;">
        <div class="layout-vertical w-fill h-fill" style="display: grid; grid-template-columns: repeat(2, 1fr);">
            <div class="w-fill h-fill">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
            <div class="w-fill h-fill">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
            <div class="w-fill h-fill">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
            <div class="w-fill h-fill">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
        </div>
    </div>

    <div class="layout-horizontal" style="width: 350px; height: 350px;">
        <div class="layout-vertical w-fill h-fill" style="display: grid; grid-template-columns: repeat(2, 1fr);">
            <div class="w-fill h-fill" style="grid-row-start: 1; grid-row-end: 6;">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
            <div class="w-fill h-fill" style="grid-row-start: 6; grid-row-end: 12;">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
            <div class="w-fill h-fill" style="grid-row-start: 1; grid-row-end: 4;">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
            <div class="w-fill h-fill" style="grid-row-start: 4; grid-row-end: 8;">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
            <div class="w-fill h-fill" style="grid-row-start: 8; grid-row-end: 12;">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
        </div>
    </div>

    <div class="layout-horizontal" style="width: 350px; height: 350px;">
        <div class="layout-vertical w-fill h-fill" style="display: grid; grid-template-columns: repeat(2, 1fr);">
            <div class="w-fill h-fill" style="grid-row-start: 1; grid-row-end: 6;">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
            <div class="w-fill h-fill" style="grid-row-start: 6; grid-row-end: 12;">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
            <div class="w-fill h-fill" style="grid-row-start: 1; grid-row-end: 4;">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
            <div class="w-fill h-fill" style="grid-row-start: 4; grid-row-end: 8;">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
            <div class="w-fill h-fill more-image" style="grid-row-start: 8; grid-row-end: 12;">
                <img style="border: 1px inset red;" class=" w-fill h-fill object-fit-cover object-position-center"
                    src="../image/splash.png" alt="Image 1">
            </div>
        </div>
    </div>


</body>

</html>