<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://chick2004.io.vn/css/index.css">
</head>
<body class="gradient-background layout-vertical" style="height: 100vh;" >
    <!-- Header -->
    <header class="layout-horizontal w-fill align-center-space-between" style="padding: 10px 150px;">
        <div class="layout-horizontal gap-10">
            <img src="/layout/image/Logo.png" alt="">
            <p class="text-subtitle text-primary">Infinix</p>
        </div>
        <div class="layout-horizontal" style="gap: 50px;">
            <a href="" class="link text-body-large">Home</a>
            <a href="" class="link text-body-large">About us</a>
            <a href="" class="link text-body-large">Contact</a>
            <a href="" class="link text-body-large">FAQs</a>
        </div>
    </header>
    <!-- End Header -->
     <!-- Article -->
    <article class="layout-vertical w-fill h-fill align-center-center             overflow-scroll-vertical gap-25">
        <!-- Article xóa class "overflow-scroll-vertical" và "gap-25" -->

        <!-- Nhập họ tên -->
        <form action="" class="layout-vertical card-background-default border border-card-default rounded-8 p-25 gap-25 shadow-card" style="width: 400px;">
            
            <div class="w-fill layout-horizontal gap-10 align-center-center">
                <img src="/layout/image/Logo.png" alt="">
                <p class="text-subtitle text-primary">Infinix</p>
            </div>

            <p class="text-body-large text-primary">Tạo tài khoản</p>

            <div class="w-fill layout-vertical gap-5">
                <label for="fullname" class="w-fill text-body text-primary">Họ và tên</label>
                <div class="control text-control w-fill ">
                    <input type="text" spellcheck="false" name="fullname" id="fullname">
                </div>
            </div>

            
            <p class="text-body text-tertiary">Bạn đã có tài khoản? <a href="" class="link">Đăng nhập!</a></p>

        </form>

        <!-- Nhập email hoặc số điện thoại -->
        <form action="" class="layout-vertical card-background-default border border-card-default rounded-8 p-25 gap-25 shadow-card" style="width: 400px;">
            
            <div class="w-fill layout-horizontal gap-10 align-center-center">
                <img src="/layout/image/Logo.png" alt="">
                <p class="text-subtitle text-primary">Infinix</p>
            </div>

            <p class="text-body-large text-primary">Tạo tài khoản</p>

            <div class="w-fill layout-vertical gap-5">
                <label for="email_or_phonenumber" class="w-fill text-body text-primary">Email hoặc số điện thoại</label>
                <div class="control text-control w-fill ">
                    <input type="text" spellcheck="false" name="email_or_phonenumber" id="email_or_phonenumber">
                </div>
            </div>

            <p class="text-body text-tertiary">Chúng tôi sẽ gửi mã xác minh tới email hoặc điện thoại của bạn.</p>
            
            <p class="text-body text-tertiary">Bạn đã có tài khoản? <a href="" class="link">Đăng nhập!</a></p>

            <div class="w-fill layout-horizontal align-center-right">
                <button type="button" class="button-accent button-text-only">Tiếp theo</button>
            </div>

        </form>

                <!-- Nhập email hoặc số điện thoại -->
        <form action="" class="layout-vertical card-background-default border border-card-default rounded-8 p-25 gap-25 shadow-card" style="width: 400px;">
            
            <div class="w-fill layout-horizontal gap-10 align-center-center">
                <img src="/layout/image/Logo.png" alt="">
                <p class="text-subtitle text-primary">Infinix</p>
            </div>

            <p class="text-body-large text-primary">Tạo tài khoản</p>

            <div class="w-fill layout-vertical gap-5">
                <label for="email_or_phonenumber" class="w-fill text-body text-primary">Email hoặc số điện thoại</label>
                <div class="control text-control w-fill ">
                    <input type="text" spellcheck="false" name="email_or_phonenumber" id="email_or_phonenumber">
                </div>
            </div>

            <p class="text-body text-tertiary">Chúng tôi sẽ gửi mã xác minh tới email hoặc điện thoại của bạn.</p>
            
            <p class="text-body text-tertiary">Bạn đã có tài khoản? <a href="" class="link">Đăng nhập!</a></p>

            <div class="w-fill layout-horizontal align-center-right">
                <button type="button" class="button-accent button-text-only">Gửi mã xác nhận</button>
            </div>

        </form>

        <!-- Nhập mã xác minh -->
        <form action="" class="layout-vertical card-background-default border border-card-default rounded-8 p-25 gap-25 shadow-card" style="width: 400px;">
            
            <div class="w-fill layout-horizontal gap-10 align-center-center">
                <img src="/layout/image/Logo.png" alt="">
                <p class="text-subtitle text-primary">Infinix</p>
            </div>

            <p class="text-body-large text-primary">Tạo tài khoản</p>

            <div class="w-fill layout-vertical gap-5">
                <label for="verification_code" class="w-fill text-body text-primary">Mã xác minh</label>
                <div class="control text-control w-fill">
                    <input type="text" spellcheck="false" name="verification_code" id="verification_code">
                </div>
            </div>

            <div class="w-fill layout-horizontal align-center-right">
                <button type="button" class="button-accent button-text-only">Xác minh</button>
            </div>

        </form>

        <!-- Nhập mã xác minh -->
        <form action="" class="layout-vertical card-background-default border border-card-default rounded-8 p-25 gap-25 shadow-card" style="width: 400px;">
            
            <div class="w-fill layout-horizontal gap-10 align-center-center">
                <img src="/layout/image/Logo.png" alt="">
                <p class="text-subtitle text-primary">Infinix</p>
            </div>

            <p class="text-body-large text-primary">Tạo tài khoản</p>

            <div class="w-fill layout-vertical gap-5">
                <label for="password" class="w-fill text-body text-primary">Đặt mật khẩu</label>
                <div class="control password-control w-fill">
                    <input type="password" spellcheck="false" name="password" id="password">
                    <button type="button" class="input-button show-password-button">
                        <i class="icon-size-16 icon icon-ic_fluent_eye_16_regular"></i>
                    </button>
                </div>
            </div>

            <div class="w-fill layout-vertical gap-5">
                <label for="confirm_password" class="w-fill text-body text-primary">Xác nhận mật khẩu</label>
                <div class="control password-control w-fill">
                    <input type="password" spellcheck="false" name="confirm_password" id="confirm_password">
                    <button type="button" class="input-button show-password-button">
                        <i class="icon-size-16 icon icon-ic_fluent_eye_16_regular"></i>
                    </button>
                </div>
            </div>

            <div class="w-fill layout-horizontal align-center-right">
                <button type="button" class="button-accent button-text-only">Hoàn tất</button>
            </div>

        </form>
    </article>
     <!-- End Article -->
</body>
<script src="https://chick2004.io.vn/js/index.js" type="module"></script>
</html>