<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://chick2004.io.vn/css/index.css">
</head>

<body class="gradient-background layout-vertical p-25" style="height: 100vh;">
    <!-- Article -->
    <article class="layout-horizontal gap-20 px-20 w-fill h-fill overflow-hidden">


        <div class="layout-vertical solid-background-senary border border-card-default rounded-8 h-hug" style="width: 400px;">
            <button type="button" class="button-subtle button-icon-only w-hug position-absolute" style="right: 20px; top: 20px; z-index: 1;">
                <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_filled"></i>
            </button>
            <div class="w-fill border-bottom border-card-default">
                <p class="text-subtitle text-primary text-center p-20">Báo cáo nội dung</p>
            </div>
            <div class="layout-vertial w-fill border-bottom border-card-default p-20">
                <p class="text-body text-primary mb-5">Nội dung báo cáo</p>
                <textarea class="control text-area-control w-fill" style="min-height: 110px;" name="" id="" spellcheck="false"></textarea>
            </div>
            <div class="w-fill">
                <div class="layout-horizontal p-10 align-center-right w-fill gap-20">
                    <button type="button" class="button-accent button-text-only">Gửi báo cáo</button>
                </div>

            </div>
        </div>


    </article>
    <!-- End Article -->
</body>
<script src="https://chick2004.io.vn/js/index.js" type="module"></script>

</html>