<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://chick2004.io.vn/css/index.css">
</head>
<!-- gradient-background solid-background-base -->
<body class="gradient-background layout-vertical" style="height: 100vh;" >
    <!-- Header -->
    <header class="layout-horizontal in-mobile-layout-vertical w-fill gap-20 align-center-center layer-default px-10 in-mobile-gap-5 in-mobile-py-10" style="min-height: 45px;">
        <!-- Mặc định chia cột 4 - 4 - 4 (3 cột đều) nhưng gộp lại thành 8 - 4 để dễ responsive -->
        <div class="w-fill-column-8 layout-horizontal in-mobile-w-fill">
            <div class="w-fill hide-in-mobile hide-in-tablet">
                <img src="/infinix/layout/image/Logo.png" alt="">
            </div>
            <div class="w-fill layout gap-20 in-mobile-gap-10">
                <div class="w-hug show-in-mobile show-in-tablet">
                    <img src="/infinix/layout/image/Logo.png" alt="">
                </div>
                <div class="search-dropdown-control w-fill">
                    <div class="control search-control">
                        <input type="search" placeholder="Tìm kiếm" spellcheck="false">
                        <button type="button" class="input-button clear-content-button">
                            <i class="icon-size-16 icon text-primary icon-ic_fluent_dismiss_16_regular"></i>
                        </button>
                        <button type="button" class="input-button search-button">
                            <i class="icon-size-16 icon text-primary icon-ic_fluent_search_16_regular"></i>
                        </button>
                    </div>
                    <div class="dropdown-menu">
                        <div class="list-item">
                            <div class="text-body">Item 1</div>
                        </div>
                        <div class="list-item">
                            <div class="text-body">Item 2</div>
                        </div>
                        <div class="list-item">
                            <div class="text-body">Item 3</div>
                        </div>
                        <div class="divider-horizontal w-fill"></div>
                        <div class="list-item layout-horizontal align-center-left gap-5">
                            <i class="icon-size-16 icon text-primary icon-ic_fluent_history_16_filled"></i>
                            <div class="text-body display-inline">Item 1</div>
                        </div>
                        <div class="list-item layout-horizontal align-center-left gap-5">
                            <i class="icon-size-16 icon text-primary icon-ic_fluent_history_16_filled"></i>
                            <div class="text-body display-inline">Item 1</div>
                        </div>
                        <div class="list-item layout-horizontal align-center-left gap-5">
                            <i class="icon-size-16 icon text-primary icon-ic_fluent_history_16_filled"></i>
                            <div class="text-body display-inline">Item 1</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-fill-column-4 in-mobile-w-fill">
            <div class="layout-horizontal gap-20 align-center-right in-mobile-align-center-space-evenly">
                <a href="#" class="button-subtle button-icon-only text-accent-default">
                    <i class="icon-size-24 icon text-primary icon-ic_fluent_home_24_filled"></i>
                </a>
                <a href="#" class="button-subtle button-icon-only text-secondary">
                    <i class="icon-size-24 icon text-primary icon-ic_fluent_alert_24_regular"></i>
                </a>
                <a href="#" class="button-subtle button-icon-only text-secondary">
                    <i class="icon-size-24 icon text-primary icon-ic_fluent_settings_24_regular"></i>
                </a>
                <a href="#" class="button-subtle button-icon-only text-secondary">
                    <i class="icon-size-24 icon text-primary icon-ic_fluent_bookmark_24_regular"></i>
                </a>
                <a href="#" class="button-subtle button-icon-only text-secondary">
                    <i class="icon-size-24 icon text-primary icon-ic_fluent_chat_24_regular"></i>
                </a>
                <a href="#" class=" hide-in-desktop show-in-mobile button-subtle button-icon-only text-secondary">
                    <i class="icon-size-24 icon text-primary icon-ic_fluent_navigation_24_regular"></i>
                </a>
            </div>
        </div>
    </header>
    <!-- End Header -->
    <!-- Article -->
    <article class="layout-horizontal gap-20 px-20 w-fill h-fill overflow-hidden align-top-center">
        <div class="w-fill-column-3 h-fill pt-20">
            <div class="w-fill h-fill layout-vertical gap-10 p-10 rounded-8 border border-card-default card-background-default">
                <p class="text-subtitle text-primary">Cài đặt</p>
                
                <div class="search-dropdown-control w-fill">
                    <div class="control search-control">
                        <input type="search" placeholder="Tìm kiếm" spellcheck="false">
                        <button type="button" class="input-button clear-content-button">
                            <i class="icon-size-16 icon text-primary icon-ic_fluent_dismiss_16_regular"></i>
                        </button>
                        <button type="button" class="input-button search-button">
                            <i class="icon-size-16 icon text-primary icon-ic_fluent_search_16_regular"></i>
                        </button>
                    </div>
                    <div class="dropdown-menu">
                        <div class="list-item">
                            <div class="text-body">Item 1</div>
                        </div>
                        <div class="list-item">
                            <div class="text-body">Item 2</div>
                        </div>
                        <div class="list-item">
                            <div class="text-body">Item 3</div>
                        </div>
                    </div>
                </div>

                <div class="layout-vertical gap-10 w-fill">
                    <div data-tab="general-settings" class="list-item layout-horizontal gap-10 align-center-left active">
                        <i class="icon-size-20 icon text-accent-default icon-ic_fluent_settings_20_regular"></i>
                        <p class="text-body text-primary">Chung</p>
                    </div>
                    <div data-tab="account-settings" class="list-item layout-horizontal gap-10 align-center-left">
                        <i class="icon-size-20 icon text-accent-default icon-ic_fluent_person_20_regular"></i>
                        <p class="text-body text-primary">Tài khoản</p>
                    </div>
                    <div data-tab="appearance-settings" class="list-item layout-horizontal gap-10 align-center-left">
                        <i class="icon-size-20 icon text-accent-default icon-ic_fluent_tv_20_regular"></i>
                        <p class="text-body text-primary">Giao diện</p>
                    </div>
                    <div data-tab="privacy-and-safety-settings" class="list-item layout-horizontal gap-10 align-center-left">
                        <i class="icon-size-20 icon text-accent-default icon-ic_fluent_shield_20_regular"></i>
                        <p class="text-body text-primary">Riêng tư và an toàn</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-fill-column-6 h-fill pt-20">

            <div class="w-fill h-fill" id="general-settings">
                <div class="w-fill h-fill layout-vertical gap-20 overflow-scroll-vertical">


                    <div class="layout-horizontal gap-20 w-fill">
                        <div class="layout-vertical">
                            <div style="width: 230px; height: 120px;">
                                <img class="w-fill h-fill object-fit-cover rounded-8" src="/layout/image/splash.png" alt="">
                            </div>
                            <img style="width: 90px; height: 90px; margin-top: -45px; margin-left: 20px;" class="border border-card-default rounded-circle" src="/layout/image/profile.png" alt="">
                        </div>
                        <div class="layout-vertical gap-5" style="width: 300px;">
                            <p class="text-subtitle text-primary">Châu Thành Cường</p>
                            <p class="text-primary text-caption">Lorem ipsum dolor sit amet consectetur sum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="layout-vertical w-fill gap-20">

                        <div class="layout-vertical w-fill gap-5">
                            <p class="text-body-strong text-primary">Thông tin người dùng</p>

                            <div class="accordion border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center">
                                        <i class="icon-size-20 icon text-primary icon-ic_fluent_contact_card_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Tên hiển thị</p>
                                            <p class="text-caption text-secondary">Châu Thành Cường</p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>
                                
                                    <div class="accordion-panel layout-vertical">
                                        <div class="p-15 layout-horizontal align-center-space-between">
                                            <div class="control text-control w-hug">
                                                <input type="text" placeholder="placeholder" spellcheck="false">
                                            </div>
                                            <button class="button-standard button-text-only">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="accordion border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center">
                                        <i class="icon-size-20 icon text-primary icon-ic_fluent_calendar_date_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Ngày sinh</p>
                                            <p class="text-caption text-secondary">26/09/2004</p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>
                                
                                    <div class="accordion-panel layout-vertical">
                                        <div class="p-15 layout-horizontal align-center-space-between">
                                            <div class="control text-control w-hug">
                                                <input type="date" placeholder="placeholder" spellcheck="false">
                                            </div>
                                            <button class="button-standard button-text-only">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="accordion border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center">
                                        <i class="icon-size-20 icon text-primary icon-ic_fluent_person_note_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Tiểu sử</p>
                                            <p class="text-caption text-secondary">Lorem ipsum dolor sit amet consectetur. Mi neque ut magna cras non quis congue sit</p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>
                                
                                    <div class="accordion-panel layout-vertical">
                                        <div class="p-15 layout-horizontal align-bottom-space-between">
                                            <textarea style="min-height: 110px;" class="control text-area-control" placeholder="placeholder" name="" id="" spellcheck="false"></textarea>
                                            <button class="button-standard button-text-only">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="layout-vertical w-fill gap-5">
                            <p class="text-body-strong text-primary">Trang cá nhân</p>

                            <div class="accordion border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center">
                                        <i class="icon-size-20 icon text-primary icon-ic_fluent_person_square_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Ảnh đại diện</p>
                                            <p class="text-caption text-secondary">Điều chỉnh ảnh đại diện của bạn</p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>
                                
                                    <div class="accordion-panel layout-vertical">
                                        <div class="p-15 layout-horizontal align-center-space-between border-bottom border-card-default">
                                            <p class="text-body text-primary">Chụp ảnh</p>
                                            <button class="button-standard button-text-only">Mở máy ảnh</button>
                                        </div>
                                        <div class="p-15 layout-horizontal align-center-space-between">
                                            <p class="text-body text-primary">Chọn ảnh từ thiết bị</p>
                                            <button class="button-standard button-text-only">Mở thư mục</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center">
                                        <i class="icon-size-20 icon text-primary icon-ic_fluent_image_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Ảnh bìa</p>
                                            <p class="text-caption text-secondary">Điều chỉnh ảnh bìa của bạn</p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>
                                
                                    <div class="accordion-panel layout-vertical">
                                        <div class="p-15 layout-horizontal align-center-space-between border-bottom border-card-default">
                                            <p class="text-body text-primary">Chụp ảnh</p>
                                            <button class="button-standard button-text-only">Mở máy ảnh</button>
                                        </div>
                                        <div class="p-15 layout-horizontal align-center-space-between">
                                            <p class="text-body text-primary">Chọn ảnh từ thiết bị</p>
                                            <button class="button-standard button-text-only">Mở thư mục</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-fill h-fill" id="account-settings"> 
                <div class="w-fill h-fill layout-vertical gap-20 overflow-scroll-vertical">

                    <div class="layout-vertical w-fill gap-20">

                        <div class="layout-vertical w-fill gap-5">
                            <p class="text-body-strong text-primary">Thông tin tài khoản</p>

                            <div class="accordion border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center">
                                        <i class="icon-size-20 icon text-primary icon-ic_fluent_contact_card_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Tên tài khoản</p>
                                            <p class="text-caption text-secondary">@chick2004</p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>
                                
                                    <div class="accordion-panel layout-vertical">
                                        <div class="p-15 layout-horizontal align-center-space-between border-bottom border-card-default">
                                            <div class="control text-control">
                                                <input type="text" placeholder="placeholder" spellcheck="false">
                                            </div>
                                            <button class="button-standard button-text-only">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="border border-card-default card-background-default rounded-4  layout-horizontal gap-15 p-15 align-center-center">
                                <i class="icon-size-20 icon text-primary icon-ic_fluent_key_20_regular"></i>
                                <div class="layout-vertical w-fill">
                                    <p class="text-body text-primary">Mật khẩu</p>
                                    <p class="text-caption text-secondary">Thay đổi mật khẩu của bạn</p>
                                </div>
                                <div class="dialog">
                                    <button type="button" class="button-standard button-text-only">
                                        Đổi mật khẩu
                                    </button>
                                    <div class="dialog-panel layout" style="width: 375px;">
                                        <div class="solid-background-senary w-fill rounded-4 p-20 gap-20 layout-vertical border border-card-default">
                                            <p class="text-subtitle text-primary">Đổi mật khẩu</p>
                                            <div class="layout-vertical w-fill gap-5">
                                                <p class="text-body text-primary">Mật khẩu cũ</p>
                                                <div class="control password-control w-fill">
                                                    <input type="password" placeholder="placeholder" spellcheck="false">
                                                    <button type="button" class="input-button show-password-button">
                                                        <i class="icon-size-16 icon icon-ic_fluent_eye_16_regular"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="layout-vertical w-fill gap-5">
                                                <p class="text-body text-primary">Mật khẩu mới</p>
                                                <div class="control password-control w-fill">
                                                    <input type="password" placeholder="placeholder" spellcheck="false">
                                                    <button type="button" class="input-button show-password-button">
                                                        <i class="icon-size-16 icon icon-ic_fluent_eye_16_regular"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="layout-vertical w-fill gap-5">
                                                <p class="text-body text-primary">Xác nhận mật khẩu mới</p>
                                                <div class="control password-control w-fill">
                                                    <input type="password" placeholder="placeholder" spellcheck="false">
                                                    <button type="button" class="input-button show-password-button">
                                                        <i class="icon-size-16 icon icon-ic_fluent_eye_16_regular"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="layout-horizontal gap-10 w-fill align-center-right">
                                                <button type="button" class="button-standard button-text-only">
                                                    Hủy
                                                </button>
                                                <button type="button" class="button-accent button-text-only">
                                                    Xác nhận
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center">
                                        <i class="icon-size-20 icon text-primary icon-ic_fluent_mail_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Email</p>
                                            <p class="text-caption text-secondary">chauthanhcuong2004@gmail.com</p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>
                                
                                    <div class="accordion-panel layout-vertical">
                                        <div class="p-15 layout-horizontal align-center-space-between border-bottom border-card-default">
                                            <div class="control text-control">
                                                <input type="text" placeholder="placeholder" spellcheck="false">
                                            </div>
                                            <button class="button-standard button-text-only">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center">
                                        <i class="icon-size-20 icon text-primary icon-ic_fluent_phone_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Số điện thoại</p>
                                            <p class="text-caption text-secondary">0123456789</p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>
                                
                                    <div class="accordion-panel layout-vertical">
                                        <div class="p-15 layout-horizontal align-center-space-between border-bottom border-card-default">
                                            <div class="control text-control">
                                                <input type="text" placeholder="placeholder" spellcheck="false">
                                            </div>
                                            <button class="button-standard button-text-only">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="accordion border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center">
                                        <i class="icon-size-20 icon text-primary icon-ic_fluent_image_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Ảnh bìa</p>
                                            <p class="text-caption text-secondary">Điều chỉnh ảnh bìa của bạn</p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>
                                
                                    <div class="accordion-panel layout-vertical">
                                        <div class="p-15 layout-horizontal align-center-space-between border-bottom border-card-default">
                                            <p class="text-body text-primary">Chụp ảnh</p>
                                            <button class="button-standard button-text-only">Mở máy ảnh</button>
                                        </div>
                                        <div class="p-15 layout-horizontal align-center-space-between">
                                            <p class="text-body text-primary">Chọn ảnh từ thiết bị</p>
                                            <button class="button-standard button-text-only">Mở thư mục</button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-fill h-fill" id="appearance-settings">
                <div class="w-fill h-fill layout-vertical gap-20 overflow-scroll-vertical">

                    <div class="layout-vertical w-fill gap-20">

                        <div class="layout-vertical w-fill gap-5">
                            <p class="text-body-strong text-primary">Hiển thị</p>

                            <div class="accordion border border-card-default card-background-default rounded-4">
                                <div class="accordion-item">
                                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center">
                                        <i class="icon-size-20 icon text-primary icon-ic_fluent_sparkle_20_regular"></i>
                                        <div class="layout-vertical w-fill">
                                            <p class="text-body text-primary">Chủ đề</p>
                                            <p class="text-caption text-secondary">Tùy chỉnh giao diện</p>
                                        </div>
                                        <button type="button" class="button-subtle button-icon-only">
                                            <i class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                                        </button>
                                    </div>
                                
                                    <div class="accordion-panel layout-vertical">
                                        <div class="p-15 gap-15 layout-horizontal">
                                            <div class="layout-vertical gap-10" style="width: 150px;">
                                                <div class="layout-vertical w-fill p-20 gap-20 solid-background-base border border-card-default rounded-4 align-bottom-right">
                                                    <div class="layout-vertical gap-10 w-fill">
                                                        <div class="w-fill rounded-4" style="height: 3px; background-color: var(--text-secondary);"></div>
                                                        <div class="w-fill rounded-4" style="height: 3px; background-color: var(--text-secondary);"></div>
                                                        <div class="w-fill rounded-4" style="height: 3px; background-color: var(--text-secondary);"></div>
                                                        <div class="w-fill rounded-4" style="height: 3px; background-color: var(--text-secondary);"></div>
                                                    </div>
                                                    <div class="accent-default rounded-4" style="width: 30px; height: 20px;"></div>
                                                </div>
                                                <label class="label-radio-control"> 
                                                    <input class="radio-control" type="radio" name="option">
                                                    <span>Sáng</span>
                                                </label>
                                            </div>

                                            <div class="layout-vertical gap-10" style="width: 150px;">
                                                <div class="layout-vertical w-fill p-20 gap-20 solid-background-base border border-card-default rounded-4 align-bottom-right" data-theme="dark">
                                                    <div class="layout-vertical gap-10 w-fill">
                                                        <div class="w-fill rounded-4" style="height: 3px; background-color: var(--text-secondary);"></div>
                                                        <div class="w-fill rounded-4" style="height: 3px; background-color: var(--text-secondary);"></div>
                                                        <div class="w-fill rounded-4" style="height: 3px; background-color: var(--text-secondary);"></div>
                                                        <div class="w-fill rounded-4" style="height: 3px; background-color: var(--text-secondary);"></div>
                                                    </div>
                                                    <div class="accent-default rounded-4" style="width: 30px; height: 20px;"></div>
                                                </div>
                                                <label class="label-radio-control"> 
                                                    <input class="radio-control" type="radio" name="option">
                                                    <span>Tối</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="border border-card-default card-background-default rounded-4 layout-horizontal gap-15 p-15 align-center-center">
                                <i class="icon-size-20 icon text-primary icon-ic_fluent_local_language_20_regular"></i>
                                <div class="layout-vertical w-fill">
                                    <p class="text-body text-primary">Ngôn ngữ</p>
                                    <p class="text-caption text-secondary">Chọn ngôn ngữ hiển thị</p>
                                </div>
                                <div class="dropdown-control">
                                    <button type="button" class="button button-standard button-text-with-icon  w-fill">
                                        <i class="icon-size-16 icon icon-ic_fluent_chevron_down_16_regular"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <div class="list-item">
                                            <div class="text-body">Tiếng Việt</div>
                                        </div>
                                        <div class="list-item">
                                            <div class="text-body">English</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <script>
        const tabs = document.querySelectorAll('[data-tab]');
        const panels = document.querySelectorAll('[id]');
        tabs.forEach(tab => {
            tab.addEventListener('click', () => {
                const target = tab.getAttribute('data-tab');
                panels.forEach(panel => {
                    if (panel.id === target) {
                        panel.style.display = 'flex';
                    } else {
                        panel.style.display = 'none';
                    }
                });
                tabs.forEach(tab => {
                    tab.classList.remove('active');
                });
                tab.classList.add('active');
            });
        });
    </script>
     <!-- End Article -->
</body>
<script src="https://chick2004.io.vn/js/index.js" type="module"></script>
</html>