<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://chick2004.io.vn/css/index.css">
</head>

<body class="gradient-background layout-vertical p-25">
    <!-- Article -->
    <article class="layout-horizontal gap-20 px-20 w-fill h-fill overflow-hidden">
        <div class="layout-vertical card-background-default border border-card-default rounded-8 h-hug" style="width: 600px;">
            <button type="button" class="button-subtle button-icon-only w-hug position-absolute" style="right: 20px; top: 20px; z-index: 1;">
                <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_filled"></i>
            </button>
            <div class="w-fill border-bottom border-card-default">
                <p class="text-subtitle text-primary text-center p-20">Chia sẻ</p>
            </div>
            <div class="layout-vertial w-fill">
                <p class="text-body-strong text-primary w-fill p-10">Chia sẻ bằng tin nhắn</p>
                <div class="layout-horizontal w-fill overflow-scroll-horizontal">
                    <div class="layout-vertical align-center-center gap-10" style="width: 100px;">
                        <img class="border border-card-default rounded-circle w-fill" src="/layout/image/profile.png" alt="" style="width: 70px !important; height: 70px; !important">
                        <p class="text-body-strong text-primary text-center">Châu Thành Cường</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- End Article -->
</body>
<script src="https://chick2004.io.vn/js/index.js" type="module"></script>

</html>