<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://chick2004.io.vn/css/index.css">
        <link rel="stylesheet" href="admin_u_r.css">
    </head>
    <body>
        <div class="container">
            <!-- Header -->
            <header
                class="layout-horizontal in-mobile-layout-vertical w-fill gap-20 align-center-center layer-default px-10 in-mobile-gap-5 in-mobile-py-10 mt-5">
                <!-- Mặc định chia cột 4 - 4 - 4 (3 cột đều) nhưng gộp lại thành 8 - 4 để dễ responsive -->
                <div class="w-fill-column-8 layout-horizontal in-mobile-w-fill">
                    <div class="w-fill hide-in-mobile hide-in-tablet">
                        <img src="../image/Logo.png" alt>
                    </div>
                    <div class="w-fill layout gap-20 in-mobile-gap-10">
                        <div class="w-hug show-in-mobile show-in-tablet">
                            <img src="../image/Logo.png" alt>
                        </div>
                        <div class="search-dropdown-control w-fill">
                            <div class="control search-control">
                                <input type="search" placeholder="Tìm kiếm"
                                    spellcheck="false">
                                <button type="button"
                                    class="input-button clear-content-button">
                                    <i
                                        class="icon-size-16 icon icon-ic_fluent_dismiss_16_regular"></i>
                                </button>
                                <button type="button"
                                    class="input-button search-button">
                                    <i
                                        class="icon-size-16 icon icon-ic_fluent_search_16_regular"></i>
                                </button>
                            </div>
                            <div class="dropdown-menu">
                                <div class="list-item">
                                    <div class="text-body">Item 1</div>
                                </div>
                                <div class="list-item">
                                    <div class="text-body">Item 2</div>
                                </div>
                                <div class="list-item">
                                    <div class="text-body">Item 3</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-fill-column-4 in-mobile-w-fill">
                    <div
                        class="layout-horizontal gap-20 align-center-right in-mobile-align-center-space-evenly me-20">

                        <div
                            class="user layout-horizontal align-center-center gap-10">
                            <div class="rounded-circle w-hug">
                                <img src="../image/avatar.png" alt>
                            </div>
                            <div class="text-body layout-vertical w-hug">
                                <p class="text-body-strong w-fill ">Bui Nguyen
                                    Duc Thien</p>
                                <p
                                    class="text-caption text-tertiary w-fill">Admin</p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End Header -->
            <main class="layout-horizontal mt-25">
                <div class="left w-fill-column-2 layout-vertical align-top-space-between">
                    <div class="p-20">
                        <div
                            class="nav layout-vertical align-left gap-20">

                            <a class="nav-link layout-horizontal gap-20 text-primary" href="#">
                                <i class="accent-text-tertiary icon-size-24 icon icon-ic_fluent_home_24_regular"></i>
                                Dashboard
                            </a>

                            <a class="nav-link layout-horizontal gap-20 text-primary" href="#"><i
                                    class="accent-text-tertiary icon-size-24 icon icon-ic_fluent_person_24_regular"></i> User</a>

                            <a class="nav-link layout-horizontal gap-20 text-primary" href="#"><i
                                
                                    class="accent-text-tertiary icon-size-24 icon icon-ic_fluent_content_view_28_regular"></i>
                                Content</a>

                            <a class="nav-link layout-horizontal gap-20 text-primary" href="#"><i
                                    class="accent-text-tertiary icon-size-24 icon icon-ic_fluent_chat_warning_24_regular"></i> Report</a>

                            <a class="nav-link layout-horizontal gap-20 text-primary" href="#"><i
                                    class="accent-text-tertiary icon-size-24 icon icon-ic_fluent_calendar_48_regular"></i> Event</a>

                        </div>
                    </div>
                    <div class="out layout-vertical align-left  p-20">
                        <a class="nav-link layout-horizontal gap-20 text-primary" href="#">
                            <i class="accent-text-tertiary icon-size-24 icon icon-ic_fluent_door_arrow_left_24_regular"></i>
                            Logout
                        </a>
                    </div>
                </div>
                <div
                    class="right w-fill-column-10 layout-vertical gap-10 overflow-scroll-vertical">
                    <div class="layout-horizontal  align-center-space-between">
                        <div class>
                            <div class="search-dropdown-control">
                                <div class="control search-control">
                                    <input type="search"
                                        placeholder="placeholder"
                                        spellcheck="false">
                                    <button type="button"
                                        class="input-button clear-content-button">
                                        <i
                                            class="icon-size-16 icon icon-ic_fluent_dismiss_16_regular"></i>
                                    </button>
                                    <button type="button"
                                        class="input-button search-button">
                                        <i
                                            class="icon-size-16 icon icon-ic_fluent_search_16_regular"></i>
                                    </button>
                                </div>
                                <div class="dropdown-menu">
                                    <div class="list-item">
                                        <div class="text-body">Item 1</div>
                                    </div>
                                    <div class="list-item">
                                        <div class="text-body">Item 2</div>
                                    </div>
                                    <div class="list-item">
                                        <div class="text-body">Item 3</div>
                                    </div>
                                </div>
                            </div>
                            <div class="fillter">

                            </div>

                        </div>
                        <div class="me-25">
                            <div class="pagination layout-horizontal">
                                <button
                                    class="pagination-item button-subtle button-icon-only text-accent-default"><i
                                        class="icon-size-24 icon icon-ic_fluent_caret_left_24_filled"></i></button>
                                <button
                                    class="pagination-item button-subtle button-icon-only text-accent-default">1</button>
                                <button
                                    class="pagination-item button-subtle button-icon-only text-accent-default">2</button>
                                <button
                                    class="pagination-item button-subtle button-icon-only text-accent-default">3</button>
                                <button
                                    class="pagination-item button-subtle button-icon-only text-accent-default">4</button>
                                <button
                                    class="pagination-item button-subtle button-icon-only text-accent-default">5</button>
                                <button
                                    class="pagination-item button-subtle button-icon-only text-accent-default"><i
                                        class="icon-size-24 icon icon-ic_fluent_caret_right_24_filled"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class>
                        <div class="table-container ">
                            <table class="table w-fill text-center">
                                <thead>
                                    <tr class>
                                        <th><input type="checkbox"></th>
                                        <th>Avatar</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Phone number</th>
                                        <th>Registration date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr class>
                                        <td><input type="checkbox"></td>
                                        <td><img src="../image/avatar.png"
                                                alt="Avatar"
                                                class="avatar"></td>
                                        <td>chick2004</td>
                                        <td>thanhcuong2004@gmail.com</td>
                                        <td>0123456789</td>
                                        <td>02/02/2020</td>
                                        <td
                                            class="layout-horizontal gap-20  w-fill">
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                            </a>
                                            <a href="#"
                                                class="button-subtle button-icon-only text-accent-default">
                                                <i
                                                    class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <!-- Các hàng tiếp theo -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
    <script src="https://chick2004.io.vn/js/index.js" type="module"></script>
</html>