<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://chick2004.io.vn/css/index.css">
    <link rel="stylesheet" href="admin.css">
</head>
<body>
    <div class="container">
        <header class="layout-horizontal align-center-space-around">
            <div class="logo w-fill-column-3  p-20">
                <div class="box-img rounded-circle">
                    <img  src="../hinh.jpg" alt="">
                </div>
            </div>
            <div class="search w-fill-column-6 layout-horizontal align-center-center">
                <div class="control search-control">
                    <input type="search" placeholder="placeholder" spellcheck="false">
                    <button type="button" class="input-button clear-content-button">
                        <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_regular"></i>
                    </button>
                    <button type="button" class="input-button search-button">
                        <i class="icon-size-16 icon icon-ic_fluent_search_16_regular"></i>
                    </button>
                </div>
            </div>
            <div class="user w-fill-column-3 layout-horizontal align-center-right p-20">
                <img src="user.png" >
                <span>User Name</span>
            </div>
        </header>
        <main class="layout-horizontal">
            <div class="left w-fill-column-2">
                a
            </div>
            <div class="right w-fill-column-10">
                a
            </div>  
        </main>
    </div>
</body>
<script src="https://chick2004.io.vn/js/index.js" type="module"></script>
</html>