<div class="w-fill layout-vertical rounded-8 border border-card-default card-background-default">

    <div class="w-fill layout-horizontal align-center-space-between px-20 py-10">
        <p class="text-secondary text-body-strong">Lời mời kết bạn</p>
    </div>
    <div class="layout-horizontal gap-15 px-20 py-10 border-top border-card-default align-center-center"
        *ngFor="let request of userRequest">
        <a [routerLink]="['/friend-profile', request.sender.profile.user_id]"
            class="layout-horizontal align-center-center gap-15 w-fill">
            <img [src]="request.sender.profile.profile_photo" class="rounded-circle border border-card-default" alt=""
                style="width: 35px; height: 35px;">
            <p class="text-secondary text-body-strong w-fill">{{request.sender.profile.display_name}}</p>
        </a>

        <button type="button" class="button-subtle button-icon-only" (click)="acceptRequest(request.id, 'rejected')">
            <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_filled"></i>
        </button>

        <button type="button" class="button-subtle button-icon-only" (click)="acceptRequest(request.id, 'accepted')">
            <i class="icon-size-16 icon icon-ic_fluent_checkmark_16_filled"></i>
        </button>
    </div>

</div>
<div class="w-fill layout-vertical rounded-8 border border-card-default card-background-default">

    <div class="w-fill layout-horizontal align-center-space-between px-20 py-10">
        <p class="text-secondary text-body-strong">Lời mời vào nhóm</p>
    </div>
    <div class="layout-horizontal gap-15 px-20 py-10 border-top border-card-default align-center-center"
        *ngFor="let request of groupRequest">
        <div class="layout-horizontal align-center-left gap-15 w-fill">
            <img [src]="request.sender.profile.profile_photo" class="rounded-circle border border-card-default" alt=""
                style="width: 35px; height: 35px;">
            <div class="layout-vertical">
                <p class="text-secondary text-body-strong w-fill">{{request.conversation.name}}</p>
                <p class="text-secondary text-body w-fill">{{request.sender.profile.display_name}}</p>
            </div>
        </div>

        <button type="button" class="button-subtle button-icon-only"
            (click)="acceptGroupRequest(request.id, 'rejected')">
            <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_filled"></i>
        </button>

        <button type="button" class="button-subtle button-icon-only"
            (click)="acceptGroupRequest(request.id, 'accepted')">
            <i class="icon-size-16 icon icon-ic_fluent_checkmark_16_filled"></i>
        </button>
    </div>

</div>


<div class="w-fill layout-vertical p-10 gap-10 rounded-8 border border-card-default card-background-default">
    <div class="w-fill layout-horizontal align-center-space-between">
        <p class="text-secondary text-body-strong">Cửa hàng</p>
        <a [routerLink]="['/shop']" class="link">Xem thêm</a>
    </div>
    <div class="layout-wrap gap-20 pt-10 border-top border-card-default w-fill">

        <div class="border rounded-4 layout-vertical w-fill-column-6 overflow-hidden">
            <img src="assets/image/hinh.jpg" alt="" style="height: 150px;" class="w-fill object-fit-cover">
            <div class="layout-vertical gap-20 w-fill p-10">
                <p class="text-primary text-body-strong">{{shortenTextByWords('Quần short nam Choice HT15 chất cotton Basic thể thao phong cách Hàn Quốc', 10)}}</p>
                <div class="layout-horizontal align-center-space-between">
                    <p class="text-primary text-body w-fill">{{ 5000000 | currencyVND }}</p>
                    <button type="button" class="button-standard button-icon-only">
                        <i class="icon-size-16 icon icon-ic_fluent_cart_16_filled"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>