.rating .icon.active {
    color: rgb(255, 255, 0);
}

.dialog_detail {
    width: 700px;
}

.image_detail {
    height: 500px;
}

.box_text_detail {
    height: 500px;
}

@media (max-width: 850px) {
    .dialog_detail {
        width: 100% !important;
        height: 500px;
        overflow-y: scroll !important;
    }

    .image_detail {
        width: 350px;
        height: 200px;
    }

    .box_text_detail {
        overflow-y: hidden !important;
        height: auto;
    }
}

@media (max-width: 480px) {
    .image_detail {
        width: 300px;
    }
}