<section class="gradient-background layout-vertical" style="height: 100vh;">
    <form (submit)="register(frm)" #frm="ngForm"
        class="layout-vertical w-fill h-fill align-center-center overflow-scroll-vertical gap-25">
        <!-- Article xóa class "overflow-scroll-vertical" và "gap-25" -->

        <!-- Nhập họ tên -->
        <div class="{{(step_index == 1)?'display-block':'display-none'}}">
            <div id="step_1"
                class="step layout-vertical card-background-default border border-card-default rounded-8 p-25 gap-25 shadow-card"
                style="width: 400px;">

                <div class="w-fill layout-horizontal gap-10 align-center-center">
                    <img src="assets/image/Logo.png" alt="">
                    <p class="text-subtitle text-primary">Infinix</p>
                </div>

                <p class="text-body-large text-primary">Tạo tài khoản</p>

                <div class="w-fill layout-vertical gap-5">
                    <label for="fullname" class="w-fill text-body text-primary">Họ và tên</label>
                    <div class="control text-control w-fill ">
                        <input type="text" spellcheck="false" id="fullname" name="fullname" #fullname="ngModel" ngModel required>
                    </div>
                    <small style="color: red;" class="text-danger fst-italic" *ngIf="fullname.errors?.['required']">Chưa nhập Họ và tên</small>
                </div>


                <p class="text-body text-tertiary">Bạn đã có tài khoản? <a [routerLink]="['/login']" class="link">Đăng
                        nhập!</a></p>

                <div class="w-fill layout-horizontal align-center-right">
                    <button (click)="step()" type="button" class="button-accent button-text-only"
                        [disabled]="fullname.errors?.['required']">Tiếp theo</button>
                </div>
            </div>
        </div>


        <!-- Nhập email hoặc số điện thoại -->
        <div class="{{(step_index == 2)?'display-block':'display-none'}}">
            <div id="step_2"
                class="step layout-vertical card-background-default border border-card-default rounded-8 p-25 gap-25 shadow-card"
                style="width: 400px;">

                <div class="w-fill layout-horizontal gap-10 align-center-center">
                    <img src="assets/image/Logo.png" alt="">
                    <p class="text-subtitle text-primary">Infinix</p>
                </div>

                <p class="text-body-large text-primary">Tạo tài khoản</p>

                <div class="w-fill layout-vertical gap-5">
                    <label for="email" class="w-fill text-body text-primary">Email</label>
                    <div class="control text-control w-fill ">
                        <input type="email" spellcheck="false" id="email" name="email" #email="ngModel" ngModel required
                            email>
                    </div>
                    <small style="color: red;" class="text-danger fst-italic" *ngIf="email.errors?.['required']">Chưa nhập email</small>
                    <small style="color: red;" class="text-danger fst-italic" *ngIf="email.errors?.['email']">Chưa nhập đúng định
                        dạng</small>
                </div>

                <p class="text-body text-tertiary">Bạn đã có tài khoản? <a [routerLink]="['/login']" class="link">Đăng
                        nhập!</a></p>

                <div class="w-fill layout-horizontal align-center-right">
                    <button type="button" class="button-accent button-text-only"
                        [disabled]="email.errors?.['required']" (click)="getCode(email.value)">Gửi mã</button>
                </div>

            </div>
        </div>


        <!-- Nhập email hoặc số điện thoại -->
        <div class="{{(step_index == 3)?'display-block':'display-none'}}">
            <div id="step_3"
                class="step layout-vertical card-background-default border border-card-default rounded-8 p-25 gap-25 shadow-card"
                style="width: 400px;">

                <div class="w-fill layout-horizontal gap-10 align-center-center">
                    <img src="assets/image/Logo.png" alt="">
                    <p class="text-subtitle text-primary">Infinix</p>
                </div>

                <p class="text-body-large text-primary">Tạo tài khoản</p>

                <div class="w-fill layout-vertical gap-5">
                    <label for="code" class="w-fill text-body text-primary">Mã xác nhận</label>
                    <div class="control text-control w-fill">
                        <input type="text" spellcheck="false" id="code" name="code" #code="ngModel" ngModel required>
                    </div>
                    <small style="color: red;" class="text-danger fst-italic" *ngIf="code.errors?.['required']">Chưa nhập mã</small>
                </div>

                <p class="text-body text-tertiary">Bạn đã có tài khoản? <a [routerLink]="['/login']" class="link">Đăng
                        nhập!</a></p>

                <div class="w-fill layout-horizontal align-center-right">
                    <button type="button" class="button-accent button-text-only" [disabled]="email.errors?.['required']" (click)="postCode(email.value, code.value)">Xác nhận</button>
                </div>

            </div>
        </div>

        <!-- Nhập mã xác minh -->
        <div class="{{(step_index == 4)?'display-block':'display-none'}}">
            <div id="step_4"
                class="step layout-vertical card-background-default border border-card-default rounded-8 p-25 gap-25 shadow-card"
                style="width: 400px;">

                <div class="w-fill layout-horizontal gap-10 align-center-center">
                    <img src="assets/image/Logo.png" alt="">
                    <p class="text-subtitle text-primary">Infinix</p>
                </div>

                <p class="text-body-large text-primary">Tạo tài khoản</p>

                <div class="w-fill layout-vertical gap-5">
                    <label for="password" class="w-fill text-body text-primary">Đặt mật khẩu</label>
                    <div class="control password-control w-fill">
                        <input type="password" spellcheck="false" id="password" name="password" #password="ngModel"
                            ngModel required minlength="8">
                        <button type="button" class="input-button show-password-button">
                            <i class="icon-size-16 icon icon-ic_fluent_eye_16_regular"></i>
                        </button>
                    </div>
                    <small style="color: red;" class="text-danger fst-italic" *ngIf="password.errors?.['required']">Chưa nhập
                        password</small>
                    <small style="color: red;" class="text-danger fst-italic" *ngIf="password.errors?.['minlength']">Password phải trên 8 ký
                        tự</small>
                </div>

                <div class="w-fill layout-vertical gap-5">
                    <label for="confirm" class="w-fill text-body text-primary">Xác nhận mật khẩu</label>
                    <div class="control password-control w-fill">
                        <input type="password" spellcheck="false" id="confirm" name="confirm" #confirm="ngModel" ngModel
                            required>
                        <button type="button" class="input-button show-password-button">
                            <i class="icon-size-16 icon icon-ic_fluent_eye_16_regular"></i>
                        </button>
                    </div>
                    <small style="color: red;" class="text-danger fst-italic" *ngIf="confirm.value !== password.value">
                        Password không khớp
                    </small>
                </div>

                <div class="w-fill layout-horizontal align-center-right">
                    <button type="submit" class="button-accent button-text-only"
                        [disabled]="frm.invalid || !checkPasswords(frm)">Hoàn tất</button>
                </div>

            </div>
        </div>
    </form>
</section>