<div class="w-fill h-hug card-background-default border border-card-default rounded-8 layout-vertical">
    <img src="assets/image/splash.png" alt="" class="w-fill rounded-top-8">
    <div class="layout-vertical py-20 pb-20 gap-20 align-center-center" style="margin-top: -60px;">
        <img src="assets/image/profile-photo.png" alt="" class="rounded-circle border border-card-default"
            style="width: 120px; height: 120px;">

        <div class="layout-vertical gap-5 w-fill align-center-center pb-20 border-bottom border-card-default">
            <p class="text-primary text-subtitle">{{user.profile.display_name}}</p>
            <p class="text-primary text-body">{{user.email}}</p>
            <p class="text-primary text-caption">{{user.biography}}</p>
        </div>
        <div class="layout-horizontal gap-20 w-fill">
            <div class="w-fill layout-vertical align-center-center">
                <p class="text-secondary text-body">Bạn bè</p>
                <p class="text-primary text-body-strong">{{user.friend_count}}</p>
            </div>
            <div class="w-fill layout-vertical align-center-center">
                <p class="text-secondary text-body">Người theo dõi</p>
                <p class="text-primary text-body-strong">{{user.follower_count}}</p>
            </div>
            <div class="w-fill layout-vertical align-center-center">
                <p class="text-secondary text-body">Đang theo dõi</p>
                <p class="text-primary text-body-strong">{{user.following_count}}</p>
            </div>
        </div>
        <div class="layout w-fill px-20">
            <button type="button" class="button-accent button-text-only w-fill">Chỉnh sửa trang cá nhân</button>
        </div>
    </div>
</div>
<div class="layout-vertical w-fill gap-20 p-20 rounded-8 card-background-default border border-card-default">
    <div class="layout-horizontal pb-10 w-fill border-bottom border-card-default align-center-space-between">
        <p class="text-body text-primary">100 phương tiện</p>
        <a href="" class="link text-nowrap">Xem thêm</a>
    </div>
    <div class="layout-vertical w-fill gap-10">
        <div class="layout-horizontal gap-10" style="height: 70px;">
            <div class="w-fill h-fill">
                <img src="assets/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
            </div>
            <div class="w-fill h-fill">
                <img src="assets/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
            </div>
            <div class="w-fill h-fill">
                <img src="assets/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
            </div>
            <div class="w-fill h-fill">
                <img src="assets/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
            </div>
        </div>
        <div class="layout-horizontal gap-10" style="height: 70px;">
            <div class="w-fill h-fill">
                <img src="assets/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
            </div>
            <div class="w-fill h-fill">
                <img src="assets/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
            </div>
            <div class="w-fill h-fill">
                <img src="assets/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
            </div>
            <div class="w-fill h-fill">
                <img src="assets/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
            </div>
        </div>
        <div class="layout-horizontal gap-10" style="height: 70px;">
            <div class="w-fill h-fill">
                <img src="assets/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
            </div>
            <div class="w-fill h-fill">
                <img src="assets/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
            </div>
            <div class="w-fill h-fill">
                <img src="assets/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
            </div>
            <div class="w-fill h-fill">
                <img src="assets/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
            </div>
        </div>
        <div class="layout-horizontal gap-10" style="height: 70px;">
            <div class="w-fill h-fill">
                <img src="assets/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
            </div>
            <div class="w-fill h-fill">
                <img src="assets/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
            </div>
            <div class="w-fill h-fill">
                <img src="assets/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
            </div>
            <div class="w-fill h-fill">
                <img src="assets/image/splash.png" alt="" class="w-fill h-fill object-fit-cover rounded-4">
            </div>
        </div>
    </div>
</div>