<header [ngClass]="{'layer-default': isScrolled}" class="layout-horizontal w-fill align-center-space-between" style="padding: 10px 150px;">
    <div class="layout-horizontal gap-10">
        <img src="assets/image/Logo.png" alt="">
        <p class="text-subtitle text-primary">Infinix</p>
    </div>
    <div class="layout-horizontal" style="gap: 50px;">
        <a [routerLink]="['/landing-page']"  class="link text-body-large">Home</a>
        <a href="" class="link text-body-large">About us</a>
        <a href="" class="link text-body-large">Contact</a>
        <a href="" class="link text-body-large">FAQs</a>
    </div>
</header>