<div class="container">
    <div class="w-75 m-auto">
        <form (submit)="login(frm)" #frm="ngForm" class="my-4 p-4 rounded shadow">
            <h2 class="text-center">Login</h2>

            <input class="form-control mt-3" type="email" name="email" #email="ngModel" ngModel placeholder="Email" required email>
            <small class="text-danger fst-italic" *ngIf="email.errors?.['required']">Chưa nhập email</small>
            <small class="text-danger fst-italic" *ngIf="email.errors?.['email']">Chưa nhập đúng định dạng</small>

            <input class="form-control mt-3" type="password" name="password" #password="ngModel" ngModel placeholder="Password" required minlength="6">
            <small class="text-danger fst-italic" *ngIf="password.errors?.['required']">Chưa nhập password</small>
            <small class="text-danger fst-italic" *ngIf="password.errors?.['minlength']">Password phải trên 6 ký tự</small>

            <div class="text-center mt-3">
                <button class="btn btn-outline-success fw-bold px-4" type="submit" [disabled]="frm.invalid">Login</button>
            </div>
        </form>
    </div>
</div>