<div class="w-fill layout-vertical card-background-default border rounded-8 border-card-default">
    <div class="accordion">
        <div class="accordion-item">
            <div class="a-accordion-header w-fill p-10 gap-10 layout-horizontal align-center-center"
                style="cursor: pointer;">
                <img class="rounded-circle border border-card-default object-fit-cover"
                    src="{{user.data?.profile.profile_photo}}" alt="" style="width: 35px; height: 35px;">
                <div class="w-fill layout-vertical">
                    <p class="text-body-strong text-primary">{{user.data?.profile.display_name}}</p>
                    <p class="text-body text-secondary">{{user.data?.email}}</p>
                </div>
                <button type="button" class="button-subtle button-icon-only">
                    <i class="icon-size-20 icon icon-ic_fluent_chevron_down_20_filled"></i>
                </button>
            </div>
            <div class="accordion-panel">
                <div class="layout-vertical p-5 gap-5">
                    <a *ngIf="user.data?.permissions[4]" [routerLink]="['/admin']"
                        class="list-item layout-horizontal align-center-left gap-10">
                        <i class="icon-size-20 icon icon-ic_fluent_person_settings_20_regular"></i>
                        <div class="text-body">{{ 'home.right_home.manage_title' | translate }}</div>
                    </a>
                    <a [routerLink]="['/profile']" class="list-item layout-horizontal align-center-left gap-10">
                        <i class="icon-size-20 icon icon-ic_fluent_person_20_regular"></i>
                        <div class="text-body">{{ 'home.right_home.profile_title' | translate }}</div>
                    </a>
                    <a [routerLink]="['/store']" class="list-item layout-horizontal align-center-left gap-10">
                        <i class="icon-size-20 icon icon-ic_fluent_cart_20_regular"></i>
                        <div class="text-body">{{ 'home.right_home.store_title' | translate }}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!showFriendMore"
    class="w-fill layout-vertical rounded-8 border border-card-default card-background-default">
    <div class="w-fill layout-horizontal align-center-space-between px-20 py-10">
        <p class="text-secondary text-body-strong">{{ 'home.right_home.friend_title' | translate }}</p>
    </div>
    <div class="p-10 border-top border-card-default" *ngFor="let friend of friends_limit">

        <a [routerLink]="['/friend-profile', friend.profile.user_id]"
            class="list-item layout-horizontal align-center-center gap-15 w-fill">

            <div class="user-{{friend.online_status}}" style="width: 35px; height: 35px;">
                <img class="rounded-circle border border-card-default object-fit-cover"
                    src="{{friend.profile.profile_photo}}" alt="" style="width: 35px; height: 35px;">
            </div>
            <p class="text-secondary text-body-strong w-fill">{{friend.profile.display_name}}</p>
        </a>

    </div>
    <div class="w-fill layout-horizontal align-center-space-between px-20 py-10 border-top border-card-default">
        <a (click)="friendMore()" class="link" style="cursor: pointer;">{{ 'home.right_home.more' | translate }}</a>
    </div>
</div>

<div *ngIf="showFriendMore" class="w-fill h-hug layout-vertical card-background-default rounded-8">
    <div class="layout-vertical gap-10 w-fill border-bottom border-card-default  p-10 gap-10">

        <div class="layout-horizontal gap-10 w-fill">
            <div class="layout-horizontal gap-10 align-center-left w-fill">
                <button type="button" class="button-subtle button-icon-only" (click)="friendMore()">
                    <i class="icon-size-16 icon icon-ic_fluent_chevron_left_16_regular"></i>
                </button>
                <p class="text-body-strong text-primary">{{ 'home.right_home.list_title' | translate }}</p>
            </div>
        </div>
        <div class="search-dropdown-control w-fill">
            <div class="control search-control">
                <input type="search" name="search" [(ngModel)]="keyword" (input)="searchFriend()" spellcheck="false">
                <button type="button" class="input-button clear-content-button" (click)="keyword = ''">
                    <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_regular"></i>
                </button>
                <button type="button" class="input-button search-button">
                    <i class="icon-size-16 icon icon-ic_fluent_search_16_regular"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="w-fill h-hug layout-vertical gap-5 p-5">
        <div class="w-fill py-20 card-background-default border border-card-default rounded-8"
            *ngIf="friendsSearch.length == 0 && keyword != ''">
            <p class="text-body text-secondary text-center">{{ 'home.right_home.not_found' | translate }}</p>
        </div>
        <div class="layout-horizontal list-item gap-15 px-20 py-10 align-center-center"
            *ngFor="let friend of setFriendSearch()">


            <a [routerLink]="['/friend-profile', friend.profile.user_id]"
                class="layout-horizontal align-center-center gap-15 w-fill">

                <div class="user-{{friend.online_status}}" style="width: 35px; height: 35px;">
                    <img class="rounded-circle border border-card-default object-fit-cover"
                        style="width: 35px; height: 35px;" src="{{friend.profile.profile_photo}}" alt="">
                </div>
                <div class="layout-vertical w-fill">
                    <p class="text-secondary text-body-strong w-fill">{{friend.profile.display_name}}</p>
                    <p class="text-caption text-tertiary">{{friend.email}}</p>
                </div>
            </a>

        </div>
    </div>
</div>


<div class="w-fill layout-vertical rounded-8 border border-card-default card-background-default">
    <div class="w-fill layout-horizontal align-center-left px-10 py-10">
        <button type="button" class="button-subtle button-icon-only" *ngIf="is_full_user" (click)="moreUser()">
            <i class="icon-size-16 icon icon-ic_fluent_chevron_left_16_regular"></i>
        </button>
        <p class="text-secondary text-body-strong px-10">{{ 'home.right_home.contact_person' | translate }}</p>
    </div>
    <div class="p-10 border-top border-card-default" *ngFor="let user of listUserLimit">

        <div class="list-item layout-horizontal align-center-center gap-15 w-fill" (click)="createChat(user?.id)">
            <div style="width: 35px; height: 35px;">
                <img class="rounded-circle border border-card-default object-fit-cover"
                    [src]="user?.users[0].profile.profile_photo" alt="" style="width: 35px; height: 35px;">
            </div>
            <p class="text-secondary text-body-strong w-fill">
                {{user?.users[0].profile.display_name}}</p>
        </div>

    </div>
    <div *ngIf="!is_full_user"
        class="w-fill layout-horizontal align-center-left px-20 py-10 border-top border-card-default">
        <a (click)="moreUser()" class="link" style="cursor: pointer;">{{ 'home.right_home.more' | translate }}</a>
    </div>
</div>

<div class="w-fill layout-vertical rounded-8 border border-card-default card-background-default">
    <div class="w-fill layout-horizontal align-center-left px-10 py-10">
        <button type="button" class="button-subtle button-icon-only" *ngIf="is_full_group" (click)="moreGroup()">
            <i class="icon-size-16 icon icon-ic_fluent_chevron_left_16_regular"></i>
        </button>
        <p class="text-secondary text-body-strong px-10">{{ 'home.right_home.group_title' | translate }}</p>
    </div>
    <div class="p-10 border-top border-card-default" *ngFor="let group of listGroupLimit">

        <div class="list-item layout-horizontal align-center-center gap-15 w-fill" (click)="createChat(group?.id)">
            <div style="width: 35px; height: 35px;">
                <img class="rounded-circle border border-card-default object-fit-cover" src="{{group.image}}" alt=""
                    style="width: 35px; height: 35px;">
            </div>
            <p class="text-secondary text-body-strong w-fill">{{group.name}}</p>
        </div>

    </div>
    <div *ngIf="!is_full_group"
        class="w-fill layout-horizontal align-center-left px-20 py-10 border-top border-card-default">
        <a (click)="moreGroup()" class="link" style="cursor: pointer;">{{ 'home.right_home.more' | translate }}</a>
    </div>
</div>


<app-left-home
            class="w-fill layout-vertical gap-20 hide-in-desktop show-in-tablet show-in-mobile"></app-left-home>