<div class="w-fill layout-vertical card-background-default border rounded-8 border-card-default">
    <div class="accordion">
        <div class="accordion-item">
            <div class="a-accordion-header w-fill p-10 gap-10 layout-horizontal align-center-center"
                style="cursor: pointer;">
                <img class="rounded-circle border border-card-default object-fit-cover" src="{{user.data?.profile.profile_photo}}" alt="" style="width: 35px; height: 35px;">
                <div class="w-fill layout-vertical">
                    <p class="text-body-strong text-primary">{{user.data?.profile.display_name}}</p>
                    <p class="text-body text-secondary">{{user.data?.email}}</p>
                </div>
                <button type="button" class="button-subtle button-icon-only">
                    <i class="icon-size-20 icon icon-ic_fluent_chevron_down_20_filled"></i>
                </button>
            </div>
            <div class="accordion-panel">
                <div class="layout-vertical p-5 gap-5">
                    <a *ngIf="user.data?.permissions[4]" [routerLink]="['/admin']" class="list-item">
                        <div class="text-body">Quản trị</div>
                    </a>
                    <a [routerLink]="['/profile']" class="list-item">
                        <div class="text-body">Tài khoản</div>
                    </a>
                    <a href="#" class="list-item">
                        <div class="text-body">Trợ giúp</div>
                    </a>
                    <a (click)="logout()" class="list-item">
                        <div class="text-body">Đăng xuất</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!showFriendMore"
    class="w-fill layout-vertical rounded-8 border border-card-default card-background-default">
    <div class="w-fill layout-horizontal align-center-space-between px-20 py-10">
        <p class="text-secondary text-body-strong">Bạn bè</p>
    </div>
    <div class="px-20 py-10 border-top border-card-default" *ngFor="let friend of friends_limit">

        <a [routerLink]="['/friend-profile', friend.profile.user_id]"
            class="layout-horizontal align-center-center gap-15 w-fill">

            <div class="user-{{friend.online_status}}" style="width: 35px; height: 35px;">
                <img class="rounded-circle border border-card-default object-fit-cover" src="{{friend.profile.profile_photo}}" alt="" style="width: 35px; height: 35px;">
            </div>
            <p class="text-secondary text-body-strong w-fill">{{friend.profile.display_name}}</p>
        </a>

    </div>
    <div class="w-fill layout-horizontal align-center-space-between px-20 py-10 border-top border-card-default">
        <a (click)="friendMore()" class="link" style="cursor: pointer;">Xem thêm</a>
    </div>
</div>

<!-- <div *ngIf="!showFriendMore"
    class="w-fill layout-vertical rounded-8 border border-card-default card-background-default">
    <div class="w-fill layout-horizontal align-center-space-between px-20 py-10">
        <p class="text-secondary text-body-strong">Đang theo dõi</p>
    </div>
    <div class="layout-horizontal gap-15 px-20 py-10 border-top border-card-default align-center-center">
        <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
        <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
    </div>
    <div class="layout-horizontal gap-15 px-20 py-10 border-top border-card-default align-center-center">
        <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
        <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
    </div>
    <div class="layout-horizontal gap-15 px-20 py-10 border-top border-card-default align-center-center">
        <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
        <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
    </div>
    <div class="w-fill layout-horizontal align-center-space-between px-20 py-10 border-top border-card-default">
        <a href="" class="link">Xem thêm</a>
    </div>
</div> -->

<div *ngIf="showFriendMore" class="w-fill h-hug layout-vertical card-background-default rounded-8">
    <div class="layout-vertical gap-10 w-fill border-bottom border-card-default  p-10 gap-10">

        <div class="layout-horizontal gap-10 w-fill">
            <div class="layout-horizontal gap-10 align-center-left w-fill">
                <button type="button" class="button-subtle button-icon-only" (click)="friendMore()">
                    <i class="icon-size-16 icon icon-ic_fluent_chevron_left_16_regular"></i>
                </button>
                <p class="text-body-strong text-primary">Danh sách</p>
            </div>
        </div>
        <div class="search-dropdown-control w-fill">
            <div class="control search-control">
                <input type="search" name="search" [(ngModel)]="keyword" (input)="searchFriend()" spellcheck="false">
                <button type="button" class="input-button clear-content-button">
                    <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_regular"></i>
                </button>
                <button type="button" class="input-button search-button">
                    <i class="icon-size-16 icon icon-ic_fluent_search_16_regular"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="w-fill h-hug layout-vertical gap-5 p-5">
        <div class="w-fill py-20 card-background-default border border-card-default rounded-8" *ngIf="friendsSearch.length == 0 && keyword != ''">
            <p class="text-body text-secondary text-center">Không tìm thấy</p>
        </div>
        <div class="layout-horizontal list-item gap-15 px-20 py-10 align-center-center" *ngFor="let friend of setFriendSearch()">

            
            <a [routerLink]="['/friend-profile', friend.profile.user_id]"
                class="layout-horizontal align-center-center gap-15 w-fill">

                <div class="user-{{friend.online_status}}" style="width: 35px; height: 35px;">
                    <img class="rounded-circle border border-card-default object-fit-cover" style="width: 35px; height: 35px;" src="{{friend.profile.profile_photo}}" alt="">
                </div>
                <div class="layout-vertical w-fill">
                    <p class="text-secondary text-body-strong w-fill">{{friend.profile.display_name}}</p>
                    <p class="text-caption text-tertiary">{{friend.email}}</p>
                </div>
            </a>

        </div>
    </div>
</div>