*{
    margin: 0;
    padding: 0;
}
nav{
    padding-top: 60px;
}

article{
    margin-top: 60px;
}


.head,.report-show{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.table-container{
    padding: 20px;
}
.checkout{
    margin-top: 20px;
}
.checkout>div{
    padding: 10px;

}
.accept-sell>div{
    padding: 10px 0px;
    margin-bottom: 10px;
}
.checkbox{
    margin: 0 20px;
    gap: 10px;
}
.button-acp{
    margin-bottom: 30px;
    margin: 0 30px; 
}