<section class="gradient-background layout-horizontal" style="height: 100vh">
  <app-nav class="h-fill"></app-nav>

    <article class="py-20 m-20 w-fill overflow-scroll-vertical ">
        <div
            class="layout-horizontal  align-center-space-between mt-20 p-20">
            <div class="layout-horizontal gap-10  "style="padding: 10px;">

                <!-- search --> 
                <div class="layout-horizontal gap-10  ">
                  <label class="text-primary" for="filterStatus">Lọc trạng thái:</label>
                  <select  class= "dropdown-menu button-standard button-text-with-icon gap-10"  [(ngModel)]="filterStatus" (change)="filtershops()">
                    <option value="all" class="list-item text-primary gradient-background"><div class="text-primary">Tất cả</div></option>
                    <option value="0" class="list-item text-primary gradient-background"> <div class="text-primary">Không  hoạt động</div></option>
                    <option value="1" class="list-item text-primary gradient-background"><div class="text-primary">Đang hoạt động</div></option>
                  </select>
                  
                </div>
               
            </div>
            <div class="me-25">
                <pagination-controls (pageChange)="currentPage = $event"
                    previousLabel
                    nextLabel></pagination-controls>
               
      </div>
    </div>
    <div style="padding: 20px">
      <div class="table-container solid-background-senary p-10 rounded-8">
        <div class="w-fill layout-vertical gap-20">
          <div
            class="layout-horizontal align-center-space-between text-center text-subtitle p-20"
          >
         
            <tr class="w-fill layout-horizontal align-center-space-between">
              <th class="w-fill-column-3 text-primary">Tên cửa hàng</th>
              <th class="w-fill-column-2 text-primary">Tên người dùng</th>
              <th class="w-fill-column-3 text-primary">Mô tả sản phẩm</th>
              <th class="w-fill-column-2 text-primary">Trạng thái</th>
              <th class="w-fill-column-2 text-primary">Hành động</th>
            </tr>
          </div>
          <div
            *ngFor="
              let item of filteredshops
                | paginate : { itemsPerPage: 5, currentPage: currentPage };
              let i = index
            "
          >
            <div
              class="layout-horizontal w-fill align-center-space-between text-center p-20"
            >
             
              <div   class="layout-horizontal w-fill align-center-space-around"
                style="gap: 15px"
              >
                <td  class="w-fill-column-3 align-center-left layout-horizontal gap-10"
                >
                  <img
                    class="rounded-circle"
                    width="50px"
                    height="50px"
                    [src]="item.logo"
                    alt
                  />
                  <div class="text-primary">{{ item.name }}</div>
                </td>

                <td class="w-fill-column-2 align-center-left">
                    <a [routerLink]="['/friend-profile', item.user_id]"
                    class="w-fill button-standard p-5 cursor-pointer">
                    <i class="me-5 icon-size-16 icon icon-ic_fluent_person_16_regular"></i>
                    Đến trang cá nhân
                </a>
                </td>
                <td class="w-fill-column-3 align-center-left text-primary">
                  {{ shortenTextByWords(item.description, 5) }}
                </td>

                <!-- Trạng thái của item -->
                <td class="status-select-container w-fill-column-2 align-center-left">
                  <p *ngIf="item.is_active == 1"
                    class="text-system-success" >
                    <span> Đang hoạt động</span>
                  </p>
                  <p *ngIf="item.is_active == 0"
                    class="text-system-critical" >
                    <span> Không hoạt động</span>
                  </p>
                </td>

                <td class="layout-horizontal align-center-center gap-20 w-fill-column-2 align-center-left"
                >
                  <!-- Nút thao tác -->
                  <a
                    class="button-subtle button-icon-only text-accent-default"
                    (click)="tabChild('show_chitiet_' + i)"
                  >
                    <i
                      class="icon-size-24 icon icon-ic_fluent_settings_24_filled"
                    ></i>
                  </a>

                  <a class="button-subtle button-icon-only text-accent-default">
                    <i
                      class="icon icon-ic_fluent_triangle_down_24_filled"
                      (click)="openDialog(item.id)"
                    ></i>
                  </a>

                  <!-- Hộp thoại xác nhận -->
                  <div
                    class="position-fixed top-0 start-0"
                    [ngClass]="isDialogVisible == item.id?'display-block':'display-none'"
                    style="width: 100%; height: 100vh; z-index: 30"
                  >
                    <div
                      class="position-fixed top-0 start-0"
                      style="
                        width: 100%;
                        height: 100vh;
                        z-index: 20;
                        background-color: rgba(0, 0, 0, 0.2);
                        backdrop-filter: blur(2px);
                      "
                    >
                      <div
                        class="dialog-panel position-absolute top-50 start-50 translate-middle"
                      >
                       
                     
                        <form>
                          <div
                            class="layout-vertical accept-sell rounded-8"
                            style="
                              width: 400px;
                              padding: 10px;
                              background-color: #ffffff;
                            "
                          >
                            <div class="text-subtitle accent-text-tertiary border-bottom">
                              Xác nhận đăng ký
                            </div>
                        
                            <!-- Nội dung hiển thị dựa trên trạng thái -->
                            <div *ngIf="item.is_active === '0'; else approvedText" class="text-primary">
                              Bạn có muốn duyệt trang này?
                            </div>
                            <ng-template #approvedText>
                              <div class="text-primary">
                                Trang này đã được duyệt.
                              </div>
                            </ng-template>
                        
                            <div
                              class="button-acp layout-horizontal align-center-space-between"
                            >
                              <button
                              
                                type="button"
                                class="button-accent"
                                (click)="changIsActiveShop(item.id, '1')"
                                [disabled]="item.is_active === '1'"
                              >
                                Duyệt
                              </button>
                              <button
                                type="button"
                                class="button-accent"
                                (click)="changIsActiveShop(item.id, '0')"
                                [disabled]="item.is_active === '0'"
                              >
                                Không Duyệt
                              </button>
                              <button
                                type="button"
                                class="button-close"
                                (click)="openDialog(0)"
                              >
                                Đóng
                              </button>
                            </div>
                          </div>
                        </form>
                        
                      </div>
                    </div>
                  </div>
                </td>
              </div>
            </div>
            <div
              class="accordion-panel open layout-horizontal show_chitiet_{{i}} w-fill "
            >
              <div class="layout-horizontal w-fill h-hug">
                <div
                  class="p-15 layout-horizontal align-center-space-between w-fill"
                >
                  <div class="sender layout-vertical gap-10 w-fill-column-4">
                    <p class="text-primary">Cửa Hàng</p>
                    <div class="checkout layout-vertical m-25">
                      <div
                        class="layout-horizontal align-center-space-between gap-10 border rounded-top-8"
                      >
                        <div class="text-primary">Tên:</div>
                        <div class="text-primary">{{ item.name }}</div>
                      </div>

                      <div
                        class="layout-horizontal align-center-space-between gap-10 border"
                      >
                        <div class="text-primary">Số điện thoại:</div>
                        <div class="text-primary">{{ item.phone_number }}</div>
                      </div>

                      <div
                        class="layout-horizontal align-center-space-between gap-10 border"
                      >
                        <div class="text-primary">Ngày đăng kí:</div>
                        <div class="text-primary">{{ item.created_at | date:'dd/MM/yyyy' }}</div>
                      </div>
                      <div
                        class="layout-horizontal align-center-space-between gap-10 border"
                      >
                        <div class="text-primary">Trạng thái:</div>
                        <div class="layout-horizontal align-center-space-between gap-10 border">
                          <p *ngIf="item.is_active == 1"
                            class="text-system-success" >
                            <span> Đang hoạt động</span>
                          </p>
                          <p *ngIf="item.is_active == 0"
                            class=" text-system-critical" >
                            <span> Không hoạt động</span>
                          </p>
                        </div>
                      </div>
                      <div
                        class="layout-horizontal align-center-space-between gap-10 border rounded-bottom-8"
                      >
                        <div class="text-primary">Địa chỉ:</div>
                        <div class="text-primary">{{ item.address }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="sender layout-vertical gap-10 w-fill-column-8">
                    <div class="checkout layout-vertical m-25">
                      <div
                        class="layout-horizontal align-center-space-between gap-10 border rounded-top-8"
                      >
                        <div class="text-primary w-fill-column-2">Mô tả cửa hàng:</div>
                        <textarea class="text-primary gradient-background "
                          rows="6"
                          cols="50"
                          name="storeDescription"
                          id="storeDescription"
                          readonly
                          >{{ item.description }}</textarea
                        >
                      </div>

                    </div>
                  </div>
             
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>