.validation-message {
    display: flex;
    gap: 5px;
    align-items: center;
}

.validation-attention > .icon::before {
    color: var(--system-attention);
}

.validation-sucess > .icon::before {
    color: var(--system-success);
}

.validation-caution > .icon::before {
    color: var(--system-caution);
}

.validation-critical > .icon::before {
    color: var(--system-critical);
}

.control, .control-group {
    width: 200px;
    height: 32px;
    min-height: 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 5px 3px 10px;
    background-color: var(--control-default);
    border-bottom: 1px inset var(--control-strong-stroke-default);
    border-left: 1px inset var(--control-stroke-default);
    border-top: 1px inset var(--control-stroke-default);
    border-right: 1px inset var(--control-stroke-default);
    overflow: hidden;
    outline: none;
    position: relative;
}

.control::after, .control-group::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px; 
    z-index: 1;
    background: var(--accent-default);
    transform: translateX(-50%);
  }

.control:not(.disabled):focus-within::after, .control-group:not(.disabled):focus-within::after {
    width: 100%;
    left: 0;
    transform: translateX(0);
    transition: all 0.3s ease-out;
}

.control-group {
    gap: 10px;
    padding: 3px 10px 3px 10px;
}
.control-group > .icon,  .control-group-text{
    color: var(--text-secondary);
}

.control:not(.disabled):hover, .control-group:not(.disabled):hover {
    background-color: var(--control-hover);
}

.control:focus-within, .control-group:focus-within {
    background-color: var(--control-input-active);
}

.control.disabled, .control-group.disabled {
    background-color: var(--control-disabled);
    border: 1px inset var(--control-stroke-default);
    color: var(--text-disabled);
}

.control.disabled > input:disabled, .control-group.disabled > input:disabled {
    color: var(--text-disabled);
}

.control > input, .control-group > input {
    font-family: var(--font-family);
    padding: 0px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    font-weight: 400;
    outline: none;
    border: none;
    background-color: unset;
    color: var(--text-primary);
    flex: 1;
    width: 100%;
}

.control > input::placeholder, .control-group > input::placeholder {
    color: var(--text-secondary);
}

.control > .input-button, .control-group > .input-button {
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    background-color: unset;
    border: none;
    outline: none;
    color: var(--text-secondary);
}

.control > .input-button:hover, .control-group > .input-button:hover {
    background-color: var(--subtle-secondary);
    box-shadow: inset 0px 0px 1px var(--subtle-secondary);
}

.control > .input-button.active, .control-group > .input-button.active {
    background-color: var(--accent-default);
    color: var(--text-on-accent-primary);
    border: 1px inset var(--control-stroke-on-accent-default);
}

.control > input::-webkit-search-cancel-button {
    display: none;
}

.control > input::-webkit-inner-spin-button {
    display: none;
}

.control > input::-webkit-outer-spin-button {
    display: none;
}

.control > input::-ms-reveal, .control > input::-ms-clear {
    display: none;
}

.search-dropdown-control {
    width: 200px;
    height: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.search-dropdown-control > * {
    width: 100%;
    flex: 1;
}

.search-dropdown-control.visible {
    overflow: visible;
}

.search-dropdown-control.visible > .control {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search-dropdown-control.visible > .dropdown-menu {
    background-color: var(--acrylic-background-default);
    backdrop-filter: blur(60px);
    border-radius: 0px 0px 7px 7px;
    border: 1px inset var(--control-stroke-default);
    border-top: unset;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    z-index: 1;
}

.password-control > .show-password-button {
    display: none;
}

.dropdown-control {
    min-width: 128px;
    height: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.dropdown-control > .button {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-control.visible {
    overflow: visible;
}

.dropdown-control.visible > .dropdown-menu {
    margin-top: 8px;
    background-color: var(--acrylic-background-default);
    backdrop-filter: blur(60px);
    box-shadow: 0px 8px 16px 0px var(--shadow-flyout);
    border-radius: 7px;
    padding: 5px 5px;
    border: 1px inset var(--control-stroke-default);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.list-item {
    background-color: var(--subtle-transparent);
    padding: 7px 11px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    color: var(--text-primary);
}

.list-item:hover {
    background-color: var(--subtle-secondary);
    box-shadow: inset 0px 0px 1px var(--subtle-secondary);
}

.list-item.disabled {
    background-color: var(--subtle-disabled);
    color: var(--text-disabled);
}
.list-item.active::before {
    content: "";
    width: 4px;
    height: 16px;
    border-radius: 100px;
    background-color: var(--accent-default);
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

textarea {
    resize: none;
    padding: 3px 3px 3px 10px !important;
    color: var(--text-primary);
}
textarea:focus-within {
    border-bottom: 1px inset var(--accent-default);
}

.checkbox-control {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background-color: var(--control-alt-secondary);
    border: 1px inset var(--control-strong-default);
    position: relative;
}

.checkbox-control:hover {
    background-color: var(--control-alt-tertiary);
}

.checkbox-control:active {
    background-color: var(--control-alt-quarternary);
    border: 1px inset var(--control-strong-disabled);
}

.checkbox-control:disabled {
    background-color: var(--control-alt-disabled);
    border: 1px inset var(--control-strong-disabled);
}

.checkbox-control:checked {
    background-color: var(--accent-default);
    border: 1px inset var(--accent-default);
}

.checkbox-control:checked::before {
    font-family: FluentSystemIcons-Filled !important;
    content: "\e319";
    color: var(--text-on-accent-primary);
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.checkbox-control:checked:hover {
    background-color: var(--accent-secondary);
    border: 1px inset var(--accent-secondary);
}

.checkbox-control:checked:active {
    background-color: var(--accent-tertiary);
    border: 1px inset var(--accent-tertiary);
    color: var(--text-on-accent-secondary);
}

.checkbox-control:checked:disabled {
    background-color: var(--accent-disabled);
    border: 1px inset var(--accent-disabled);
    color: var(--text-on-accent-disabled);
}

.label-checkbox-control {
    padding: 0px 8px 0px 4px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.radio-control {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--control-alt-secondary);
    border: none;
    box-shadow: inset 0px 0px 1px var(--control-strong-default);
    position: relative;
}

.radio-control:hover {
    background-color: var(--control-alt-tertiary);
}

.radio-control:active {
    background-color: var(--control-alt-quarternary);
    box-shadow: inset 0px 0px 1px var(--control-strong-disabled);
}

.radio-control:disabled {
    background-color: var(--control-alt-disabled);
    box-shadow: inset 0px 0px 1px var(--control-strong-disabled);
}
.radio-control:checked {
    background-color: var(--accent-default);
    border: none;
    box-shadow: inset 0px 0px 1px var(--accent-default);
}
.radio-control:checked::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--text-on-accent-primary);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

.radio-control:checked:hover {
    background-color: var(--accent-secondary);
    box-shadow: inset 0px 0px 1px var(--accent-secondary);
}

.radio-control:checked:active {
    background-color: var(--accent-tertiary);
    box-shadow: inset 0px 0px 1px var(--accent-tertiary);
    color: var(--text-on-accent-secondary);
}

.radio-control:checked:disabled {
    background-color: var(--accent-disabled);
    box-shadow: inset 0px 0px 1px var(--accent-disabled);
    color: var(--text-on-accent-disabled);
}

.label-radio-control {
    padding: 0px 8px 0px 4px;
    display: flex;
    gap: 8px;
    align-items: center;
}

/* .radio-control:hover {
    background-color: var(--control-alt-tertiary);
}

.radio-control:active {
    background-color: var(--control-alt-quarternary);
    border: 1px inset var(--control-strong-disabled);
}

.radio-control:disabled {
    background-color: var(--control-alt-disabled);
    border: 1px inset var(--control-strong-disabled);
}

.radio-control:checked {
    background-color: var(--accent-default);
    border: 1px inset var(--accent-default);
}

.radio-control:checked::before {
}

.radio-control:checked:hover {
    background-color: var(--accent-secondary);
    border: 1px inset var(--accent-secondary);
}

.radio-control:checked:active {
    background-color: var(--accent-tertiary);
    border: 1px inset var(--accent-tertiary);
    color: var(--text-on-accent-secondary);
}

.radio-control:checked:disabled {
    background-color: var(--accent-disabled);
    border: 1px inset var(--accent-disabled);
    color: var(--text-on-accent-disabled);
}

.label-radio-control {
    padding: 0px 8px 0px 4px;
    display: flex;
    gap: 8px;
    align-items: center;
} */
