<div class="w-fill h-fill layout-vertical gap-20 overflow-scroll-vertical">

    <div class="layout-vertical w-fill gap-20 mb-20">

        <div class="layout-vertical w-fill gap-5">
            <p class="text-body-strong text-primary">{{ 'setting.appearance_settings.display_title' | translate }}</p>

            <div class="accordion active border border-card-default card-background-default rounded-6">
                <div class="accordion-item">
                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center"
                        (click)="tabChild('theme')">
                        <i class="icon-size-20 icon text-primary icon-ic_fluent_sparkle_20_regular"></i>
                        <div class="layout-vertical w-fill">
                            <p class="text-body text-primary">{{ 'setting.appearance_settings.theme_title' | translate }}</p>
                            <p class="text-caption text-secondary">{{ 'setting.appearance_settings.theme_description' | translate }}</p>
                        </div>
                        <button type="button" class="button-subtle button-icon-only">
                            <span
                                [class]="tabAccordion == 'theme' ? 'rotate_icon_180' : 'rotate_icon_0'">
                                <i class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                            </span>
                        </button>
                    </div>

                    <div class="accordion-panel open layout-vertical theme">
                        <div class="p-15 gap-15 layout-horizontal">
                            <div class="layout-vertical gap-10" style="width: 150px;">
                                <label class="layout-vertical label-radio-control">
                                    <div class="layout-vertical w-fill p-20 gap-20 solid-background-base border border-card-default rounded-4 align-bottom-right"
                                        data-theme="light">
                                        <div class="layout-vertical gap-10 w-fill">
                                            <div class="w-fill rounded-4"
                                                style="height: 3px; background-color: var(--text-secondary);">
                                            </div>
                                            <div class="w-fill rounded-4"
                                                style="height: 3px; background-color: var(--text-secondary);">
                                            </div>
                                            <div class="w-fill rounded-4"
                                                style="height: 3px; background-color: var(--text-secondary);">
                                            </div>
                                            <div class="w-fill rounded-4"
                                                style="height: 3px; background-color: var(--text-secondary);">
                                            </div>
                                        </div>
                                        <div class="accent-default rounded-4" style="width: 30px; height: 20px;"></div>
                                    </div>
                                    <div class="w-fill layout-horizontal align-center-left gap-10">
                                        <input class="radio-control" type="radio" name="option"
                                            (change)='selectTheme("light")' [checked]="theme === 'light'">
                                        <span class="text-primary">{{ 'setting.appearance_settings.theme_light' | translate }}</span>
                                    </div>
                                </label>
                            </div>

                            <div class="layout-vertical gap-10" style="width: 150px;">
                                <label class="layout-vertical label-radio-control">
                                    <div class="layout-vertical w-fill p-20 gap-20 solid-background-base border border-card-default rounded-4 align-bottom-right"
                                        data-theme="dark">
                                        <div class="layout-vertical gap-10 w-fill">
                                            <div class="w-fill rounded-4"
                                                style="height: 3px; background-color: var(--text-secondary);">
                                            </div>
                                            <div class="w-fill rounded-4"
                                                style="height: 3px; background-color: var(--text-secondary);">
                                            </div>
                                            <div class="w-fill rounded-4"
                                                style="height: 3px; background-color: var(--text-secondary);">
                                            </div>
                                            <div class="w-fill rounded-4"
                                                style="height: 3px; background-color: var(--text-secondary);">
                                            </div>
                                        </div>
                                        <div class="accent-default rounded-4" style="width: 30px; height: 20px;"></div>
                                    </div>
                                    <div class="w-fill layout-horizontal align-center-left gap-10">
                                        <input class="radio-control" type="radio" name="option"
                                            (change)='selectTheme("dark")' [checked]="theme === 'dark'">
                                        <span class="text-primary">{{ 'setting.appearance_settings.theme_dark' | translate }}</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>