.x-br-5-px {
    border-radius: 5px;
}

.x-br-tl-5-px {
    border-top-left-radius: 5px;
}

.x-br-tr-5-px {
    border-top-right-radius: 5px;
}

.x-br-bl-5-px {
    border-bottom-left-radius: 5px;
}

.x-br-br-5-px {
    border-bottom-right-radius: 5px;
}

.x-br-10-px {
    border-radius: 10px;
}

.x-br-tl-10-px {
    border-top-left-radius: 10px;
}

.x-br-tr-10-px {
    border-top-right-radius: 10px;
}

.x-br-bl-10-px {
    border-bottom-left-radius: 10px;
}

.x-br-br-10-px {
    border-bottom-right-radius: 10px;
}

.x-br-15-px {
    border-radius: 15px;
}

.x-br-tl-15-px {
    border-top-left-radius: 15px;
}

.x-br-tr-15-px {
    border-top-right-radius: 15px;
}

.x-br-bl-15-px {
    border-bottom-left-radius: 15px;
}

.x-br-br-15-px {
    border-bottom-right-radius: 15px;
}

.x-br-20-px {
    border-radius: 20px;
}

.x-br-tl-20-px {
    border-top-left-radius: 20px;
}

.x-br-tr-20-px {
    border-top-right-radius: 20px;
}

.x-br-bl-20-px {
    border-bottom-left-radius: 20px;
}

.x-br-br-20-px {
    border-bottom-right-radius: 20px;
}

