.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.gap-auto {
    justify-content: space-between !important;
}

.layout {
    display: flex !important;
}

.layout-vertical {
    flex-direction: column;
}

.layout-horizontal {
    flex-direction: row;
}

.layout-wrap {
    flex-direction: row;
    flex-wrap: wrap;
}

.w-fill {
    width: 100% !important;
    display: flex !important;
    flex: 1 !important;
}

.w-hug {
    display: flex !important;
    width: fit-content !important;
}

.h-fill {
    display: flex !important;
    flex: 1 !important;
}

.h-hug {
    display: flex !important;
    height: fit-content !important;
}

.align-top-left {
    align-items: flex-start;
    justify-content: flex-start;
}

.align-top-center {
    align-items: flex-start;
    justify-content: center;
}

.align-top-right {
    align-items: flex-start;
    justify-content: flex-end;
}

.align-center-left {
    align-items: center;
    justify-content: flex-start;
}

.align-center-center {
    align-items: center;
    justify-content: center;
}

.align-center-right {
    align-items: center;
    justify-content: flex-end;
}

.align-bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
}

.align-bottom-center {
    align-items: flex-end;
    justify-content: center;
}

.align-bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
}

.align-center-space-between {
    align-items: center;
    justify-content: space-between;
}

.align-top-space-between {
    align-items: flex-start;
    justify-content: space-between;
}

.align-bottom-space-between {
    align-items: flex-end;
    justify-content: space-between;
}

.align-center-space-evenly {
    align-items: center;
    justify-content: space-evenly;
}

.align-top-space-evenly {
    align-items: flex-start;
    justify-content: space-evenly;
}

.align-bottom-space-evenly {
    align-items: flex-end;
    justify-content: space-evenly;
}

.align-center-space-around {
    align-items: center;
    justify-content: space-around;
}

.align-top-space-around {
    align-items: flex-start;
    justify-content: space-around;
}

.align-bottom-space-around {
    align-items: flex-end;
    justify-content: space-around;
}

.overflow-scroll-vertical {
    overflow-y: scroll;
}

.overflow-scroll-horizontal {
    overflow-x: scroll;
}



