.x-gap-5-px {
    gap: 5px;
}

.x-gap-10-px {
    gap: 10px;
}

.x-gap-15-px {
    gap: 15px;
}

.x-gap-20-px {
    gap: 20px;
}

.x-gap-auto {
    justify-content: space-between !important;
}

.x-layout {
    display: flex;
}

.x-layout-vertical {
    flex-direction: column;
}

.x-layout-horizontal {
    flex-direction: row;
}

.x-layout-wrap {
    flex-wrap: wrap;
}

.x-align-top-left {
    align-items: flex-start;
    justify-content: flex-start;
}

.x-align-top-center {
    align-items: flex-start;
    justify-content: center;
}

.x-align-top-right {
    align-items: flex-start;
    justify-content: flex-end;
}

.x-align-center-left {
    align-items: center;
    justify-content: flex-start;
}

.x-align-center-center {
    align-items: center;
    justify-content: center;
}

.x-align-center-right {
    align-items: center;
    justify-content: flex-end;
}

.x-align-bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
}

.x-align-bottom-center {
    align-items: flex-end;
    justify-content: center;
}

.x-align-bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
}

.x-align-center {
    align-items: center;
    justify-content: space-around;
}

.x-align-top {
    align-items: flex-start;
    justify-content: space-around;
}

.x-align-bottom {
    align-items: flex-end;
    justify-content: space-around;
}

.x-overflow-scroll-vertical {
    overflow-y: scroll;
}

.x-overflow-scroll-horizontal {
    overflow-x: scroll;
}

.x-w-fill {
    width: 100%;
}

.x-w-hug {
    width: auto !important;
}

.x-h-fill {
    height: 100%;
}

.x-h-hug {
    height: auto;
}


