/* margin */
.x-m-5-px {
    margin: 5px;
}

.x-ms-5-px {
    margin-left: 5px;
}

.x-me-5-px {
    margin-right: 5px;
}

.x-mb-5-px {
    margin-bottom: 5px;
}

.x-mt-5-px {
    margin-top: 5px;
}

.x-mx-5-px {
    margin-left: 5px;
    margin-right: 5px;
}

.x-my-5-px {
    margin-top: 5px;
    margin-bottom: 5px;
}

.x-m-10-px {
    margin: 10px;
}

.x-ms-10-px {
    margin-left: 10px;
}

.x-me-10-px {
    margin-right: 10px;
}

.x-mb-10-px {
    margin-bottom: 10px;
}

.x-mt-10-px {
    margin-top: 10px;
}

.x-mx-10-px {
    margin-left: 10px;
    margin-right: 10px;
}

.x-my-10-px {
    margin-top: 10px;
    margin-bottom: 10px;
}

.x-m-15-px {
    margin: 15px;
}

.x-ms-15-px {
    margin-left: 15px;
}

.x-me-15-px {
    margin-right: 15px;
}

.x-mb-15-px {
    margin-bottom: 15px;
}

.x-mt-15-px {
    margin-top: 15px;
}

.x-mx-15-px {
    margin-left: 15px;
    margin-right: 15px;
}

.x-my-15-px {
    margin-top: 15px;
    margin-bottom: 15px;
}

.x-m-20-px {
    margin: 20px;
}

.x-ms-20-px {
    margin-left: 20px;
}

.x-me-20-px {
    margin-right: 20px;
}

.x-mb-20-px {
    margin-bottom: 20px;
}

.x-mt-20-px {
    margin-top: 20px;
}

.x-mx-20-px {
    margin-left: 20px;
    margin-right: 20px;
}

.x-my-20-px {
    margin-top: 20px;
    margin-bottom: 20px;
}

.x-m-25-px {
    margin: 25px;
}

.x-ms-25-px {
    margin-left: 25px;
}

.x-me-25-px {
    margin-right: 25px;
}

.x-mb-25-px {
    margin-bottom: 25px;
}

.x-mt-25-px {
    margin-top: 25px;
}

.x-mx-25-px {
    margin-left: 25px;
    margin-right: 25px;
}

.x-my-25-px {
    margin-top: 25px;
    margin-bottom: 25px;
}