/* Padding */
.x-p-5-px {
    padding: 5px;
}

.x-ps-5-px {
    padding-left: 5px;
}

.x-pe-5-px {
    padding-right: 5px;
}

.x-pb-5-px {
    padding-bottom: 5px;
}

.x-pt-5-px {
    padding-top: 5px;
}

.x-px-5-px {
    padding-left: 5px;
    padding-right: 5px;
}

.x-py-5-px {
    padding-top: 5px;
    padding-bottom: 5px;
}

.x-p-10-px {
    padding: 10px;
}

.x-ps-10-px {
    padding-left: 10px;
}

.x-pe-10-px {
    padding-right: 10px;
}

.x-pb-10-px {
    padding-bottom: 10px;
}

.x-pt-10-px {
    padding-top: 10px;
}

.x-px-10-px {
    padding-left: 10px;
    padding-right: 10px;
}

.x-py-10-px {
    padding-top: 10px;
    padding-bottom: 10px;
}

.x-p-15-px {
    padding: 15px;
}

.x-ps-15-px {
    padding-left: 15px;
}

.x-pe-15-px {
    padding-right: 15px;
}

.x-pb-15-px {
    padding-bottom: 15px;
}

.x-pt-15-px {
    padding-top: 15px;
}

.x-px-15-px {
    padding-left: 15px;
    padding-right: 15px;
}

.x-py-15-px {
    padding-top: 15px;
    padding-bottom: 15px;
}

.x-p-20-px {
    padding: 20px;
}

.x-ps-20-px {
    padding-left: 20px;
}

.x-pe-20-px {
    padding-right: 20px;
}

.x-pb-20-px {
    padding-bottom: 20px;
}

.x-pt-20-px {
    padding-top: 20px;
}

.x-px-20-px {
    padding-left: 20px;
    padding-right: 20px;
}

.x-py-20-px {
    padding-top: 20px;
    padding-bottom: 20px;
}

.x-p-25-px {
    padding: 25px;
}

.x-ps-25-px {
    padding-left: 25px;
}

.x-pe-25-px {
    padding-right: 25px;
}

.x-pb-25-px {
    padding-bottom: 25px;
}

.x-pt-25-px {
    padding-top: 25px;
}

.x-px-25-px {
    padding-left: 25px;
    padding-right: 25px;
}

.x-py-25-px {
    padding-top: 25px;
    padding-bottom: 25px;
}