<div class="layout-vertical card-background-default border border-card-default rounded-8"
    style="height: calc(100vh - 85px);">

    <div class="layout-horizontal align-center-space-between px-20 py-15">
        <p class="text-primary text-subtitle">Cửa hàng</p>

        <select name="" id="" class="control text-primary">
            <option value="">Tất cả</option>
            <option value="">Tất cả</option>
            <option value="">Tất cả</option>
        </select>
    </div>

    <div class="layout-wrap gap-20 p-20 border-top border-card-default w-fill overflow-scroll-vertical">

        <div class="border rounded-4 layout-vertical w-fill-column-4 overflow-hidden card-background-default"
            *ngFor="let product of listProduct">
            <div class="position-absolute top-0 w-fill text-right" style="z-index: 5;">
                <span *ngIf="product.discount>0" class="text-caption p-5"
                    style="border-radius: 0 0 0 10px; background-color: #C42B1C; color: white;">
                    -{{product.discount | number:'1.0-0'}}%
                </span>
            </div>
            <img [src]="product.images[0].image" alt="" style="height: 150px;" class="w-fill object-fit-cover">
            <div class="layout-vertical gap-20 w-fill p-10"
                style="justify-content: space-between; height: calc(100% - 150px);">
                <div class="layout-vertical cursor-pointer" (click)="viewProductDetail(product.id)">
                    <p class="text-primary text-body-strong">
                        {{shortenTextByWords(product.name, 5)}}</p>
                    <p class="text-primary text-caption">
                        {{shortenTextByWords(product.description, 5)}}</p>
                </div>
                <div class="layout-horizontal align-bottom-space-between">
                    <div class="layout-vertical">
                        <p *ngIf="product.discount > 0" class="text-primary text-caption w-fill">
                            <del>{{ product.price | currencyVND}}</del>
                        </p>
                        <p class="text-primary text-body w-fill">
                            {{ product.price-((product.price*product.discount)/100) | currencyVND }}
                        </p>
                    </div>
                    <button type="button" class="button-standard button-icon-only" (click)="addToCart(product.id)">
                        <i class="icon-size-16 icon icon-ic_fluent_cart_16_filled"></i>
                    </button>
                </div>
            </div>


            <div class="position-fixed top-0 start-0 {{(productDetail_id == product.id) ? 'display-block' : 'display-none'}}"
                style="width: 100%; height: 100vh; z-index: 20;">
                <div class="position-absolute top-0 start-0" (click)="viewProductDetail(0)"
                    style="width: 100%; height: 100vh; z-index: 1; background-color: rgba(0, 0, 0, 0.2); backdrop-filter: blur(2px);">
                </div>
                <div class="dialog-panel position-absolute top-50 start-50 translate-middle" style="z-index: 2;">
                    <div class="layout-vertical p-20 gap-20 rounded-8 solid-background-base border border-card-default">

                        <button type="button" class="button-subtle button-icon-only w-hug position-absolute"
                            (click)="viewProductDetail(0)" style="right: 20px; top: 20px; z-index: 1;">
                            <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_filled"></i>
                        </button>

                        <div class="pb-20 pt-5 border-bottom">
                            <p class="text-subtitle text-primary text-center">Chi tiết sản phẩm</p>
                        </div>

                        <div class="layout-horizontal gap-20 overflow-hidden" style="width: 800px;">

                            <div class="w-fill-column-6 in-mobile-w-fill" *ngIf="product.images.length>0">

                                <div
                                    class="layout w-fill h-fill {{(product.images.length>0) ? 'display-flex' : 'display-none'}}">
                                    <div class="carousel w-fill h-fill rounded-4">
                                        <div class="carousel-indicators {{(product.images.length>1) ? 'display-block' : 'display-none'}}"
                                            #indicatorsContainer>
                                            <button type="button" class="border-none rounded-circle"
                                                *ngFor="let img of product.images; let i = index">
                                            </button>
                                        </div>
                                        <div class="carousel-inner" style="height: 500px;" #carouselInner>
                                            <div class="carousel-item" *ngFor="let img of product.images">
                                                <img id="aa" [src]="img.image" alt="Image 1" class="h-fill"
                                                    style="object-fit: contain !important; background-color: rgb(27, 27, 27);">
                                            </div>
                                        </div>

                                        <button type="button"
                                            class="{{(product.images.length>0) ? 'display-block' : 'display-none'}} carousel-button-previous p-5 rounded-circle"
                                            #prevButton>
                                            <i class="icon-size-20 icon icon-ic_fluent_chevron_left_20_filled"></i>
                                        </button>

                                        <button type="button"
                                            class="{{(product.images.length>0) ? 'display-block' : 'display-none'}} carousel-button-next p-5 rounded-circle"
                                            #nextButton>
                                            <i class="icon-size-20 icon icon-ic_fluent_chevron_right_20_filled"></i>
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <div class="w-fill-column-6 in-mobile-w-fill layout-vertical overflow-scroll-vertical gap-20"
                                style="height: 500px;">

                                <div class="layout-vertical gap-20">
                                    <p class="text-primary text-subtitle">{{product.name}}</p>
                                    <div class="layout-horizontal align-center-left gap-20 text-primary">
                                        <div class="layout-horizontal gap-10">
                                            <p class="text-primary text-caption">4/5</p>
                                            <div class="layout-horizontal align-center-center"
                                                style="font-size: 0.8em;">
                                                <i style="color: rgb(255, 255, 0);"
                                                    class="icon-size-12 icon icon-ic_fluent_star_12_filled"></i>
                                                <i style="color: rgb(255, 255, 0);"
                                                    class="icon-size-12 icon icon-ic_fluent_star_12_filled"></i>
                                                <i style="color: rgb(255, 255, 0);"
                                                    class="icon-size-12 icon icon-ic_fluent_star_12_filled"></i>
                                                <i style="color: rgb(255, 255, 0);"
                                                    class="icon-size-12 icon icon-ic_fluent_star_12_filled"></i>
                                                <i style="color: rgb(255, 255, 0);"
                                                    class="icon-size-12 icon icon-ic_fluent_star_12_regular"></i>
                                            </div>
                                        </div>|
                                        <p class="text-primary text-caption">Đánh giá 0</p>|
                                        <p class="text-primary text-caption">Đã bán 0</p>
                                    </div>
                                    <p class="text-primary text-caption">{{product.stock}} sản phẩm có sẵn
                                    </p>

                                    <div class="layout-horizontal gap-20">
                                        <p class="text-primary text-caption"><del>{{product.price |
                                                currencyVND}}</del>
                                        </p>
                                        <p class="text-primary text-caption"><u>Giảm {{product.discount |
                                                number:'1.0-0'}}%</u>
                                        </p>
                                    </div>

                                    <p class="text-subtitle" style="color: #C42B1C;">{{
                                        product.price-((product.price*product.discount)/100) | currencyVND
                                        }}</p>

                                    <div class="layout-horizontal align-center-space-between">
                                        <label for="quantity" class="text-primary text-body">Số
                                            lượng</label>
                                        <div class="control number-control">
                                            <input id="quantity" type="number" [(ngModel)]="quantity" min="1" step="1">
                                            <button type="button" class="input-button increase-number-button"
                                                (click)="addQuantity()">
                                                <i class="icon-size-16 icon icon-ic_fluent_chevron_up_16_regular"></i>
                                            </button>
                                            <button type="button" class="input-button decrease-number-button"
                                                (click)="reduceQuantity()">
                                                <i class="icon-size-16 icon icon-ic_fluent_chevron_down_16_regular"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div>
                                        <button type="button" class="w-fill button-standard button-text-with-icon"
                                            (click)="addToCart(product.id)">
                                            <i class="icon-size-16 icon icon-ic_fluent_add_16_regular"></i>
                                            Thêm vào giỏ hàng
                                        </button>
                                    </div>
                                    <div>
                                        <button type="button" class="w-fill button-accent button-text-with-icon">
                                            <i class="icon-size-16 icon icon-ic_fluent_cart_16_regular"></i>
                                            Mua ngay
                                        </button>
                                    </div>

                                    <div class="layout-horizontal align-center-space-between gap-20 my-10">
                                        <img [src]="product.shop_logo" style="width: 35px; height: 35px;"
                                            class="rounded-circle" alt="">
                                        <div class="w-fill">
                                            <p class="text-primary text-body-strong">{{product.shop_name}}</p>
                                            <p class="text-primary text-body">{{product.shop_description}}</p>
                                        </div>
                                        <a [routerLink]="['/shop', product.shop_id]"
                                            class="button-accent button-text-only">
                                            Đến cửa hàng
                                        </a>
                                    </div>

                                    <div>
                                        <p class="text-primary text-body-strong">Mô tả</p>
                                        <p class="text-primary text-body">{{product.description}}</p>
                                    </div>
                                </div>

                                <div class="layout-vertical gap-20 border-top pt-15">
                                    <p class="text-primary text-body-strong">Đánh giá sản phẩm</p>
                                    <div class="border rounded-4 p-10">

                                        <form #frm="ngForm" enctype="multipart/form-data" class="border-bottom pb-10">

                                            <div class="w-fill h-hug layout align-center-center gap-5">
                                                <div class="control w-fill h-hug" style="padding: 0;">

                                                    <textarea [(ngModel)]="content_feedback" name="content_feedback"
                                                        ngModel class="textarea-chat control text-area-control w-fill"
                                                        #textArea spellcheck="false" (input)="resizeTextarea($event)"
                                                        required></textarea>

                                                    <label style="cursor: pointer;" class="input-button">
                                                        <i
                                                            class="icon-size-16 icon icon-ic_fluent_image_16_regular"></i>
                                                        <input type="file" accept="image/*" multiple
                                                            style="display: none;">
                                                    </label>


                                                    <button type="button" class="input-button">
                                                        <i
                                                            class="text-accent-default icon-size-16 icon icon-ic_fluent_emoji_16_regular"></i>
                                                    </button>
                                                </div>

                                                <button type="submit" class="button-accent button-icon-only">
                                                    <i class="icon-size-16 icon icon-ic_fluent_send_16_filled"></i>
                                                </button>
                                            </div>
                                        </form>


                                        <div class="layout-vertical w-fill h-fill">

                                            <div>
                                                <div
                                                    class="layout-horizontal align-center-center w-fill h-hug p-10 gap-15">

                                                    <div class="layout-vertical w-fill gap-5">
                                                        <p class="text-body-strong text-primary text-right">
                                                            user 1
                                                        </p>
                                                        <div
                                                            class="layout-vertical card-background-secondary border border-card-default rounded-8 p-10 gap-5 w-fill">
                                                            <!-- <div *ngIf="item.media">
                                                        <img [src]="item.media" class="rounded-4 w-fill" alt="">
                                                    </div> -->
                                                            <p class="text-right text-body text-primary w-fill">
                                                                hahaha
                                                            </p>
                                                        </div>
                                                        <p class="text-caption text-secondary text-right">
                                                            11/11</p>
                                                    </div>

                                                    <img class="rounded-circle border border-card-default object-fit-cover"
                                                        src="assets/image/avatar.png" alt=""
                                                        style="width: 35px; height: 35px;">

                                                </div>
                                                <div
                                                    class="layout-horizontal align-center-center w-fill h-hug p-10 gap-15">

                                                    <img class="rounded-circle border border-card-default object-fit-cover"
                                                        src="assets/image/avatar.png" alt=""
                                                        style="width: 35px; height: 35px;">

                                                    <div class="layout-vertical w-fill gap-5">
                                                        <p class="text-body-strong text-primary text-left">
                                                            user 2
                                                        </p>
                                                        <div
                                                            class="layout-vertical card-background-secondary border border-card-default rounded-8 p-10 gap-5 w-fill">
                                                            <!-- <div *ngIf="item.media">
                                                        <img [src]="item.media" class="rounded-4 w-fill" alt="">
                                                    </div> -->
                                                            <p class="text-left text-body text-primary w-fill">
                                                                huhuhu
                                                            </p>
                                                        </div>
                                                        <p class="text-caption text-secondary text-left">
                                                            11/11</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>