<section class="gradient-background layout-vertical" style="height: 100vh;">

    <article class="layout-horizontal gap-20 px-20 w-fill h-fill overflow-hidden align-top-center">

        <div
            class="w-fill-column-9 in-tablet-w-fill in-mobile-w-fill h-fill layout-vertical gap-20 py-20 overflow-scroll-vertical">

            <div class="layout-vertical card-background-default border border-card-default rounded-8">

                <div class="layout-horizontal align-center-space-between p-20">
                    <p class="text-primary text-subtitle">{{ 'checkout.title' | translate }}</p>
                </div>

                <div class="layout-vertical gap-20 px-20 py-10 w-fill border-top">

                    <div class="text-body text-primary text-center w-fill">
                        <div class="w-fill layout-vertical">

                            <div
                                class="w-fill layout-horizontal in-tablet-layout-vertical in-mobile-layout-vertical gap-10 in-tablet-gap-0 in-mobile-gap-0">

                                <div
                                    class="layout-vertical w-fill-column-7 in-tablet-w-fill in-mobile-w-fill mt-10 h-hug">

                                    <div class="layout-vertical border rounded-8 p-10 mb-10 in-tablet-mb-5 in-mobile-mb-5 card-background-default"
                                        *ngFor="let shop of cart.shops"><!-- for -->
                                        <div class="border rounded-6">
                                            <div
                                                class="layout-horizontal align-center-space-between p-10 border-bottom">
                                                <p class="text-body-strong">{{ 'checkout.shop' | translate }}:</p>
                                                <div class="layout-horizontal align-center-center gap-10 w-hug">
                                                    <p class="text-body">{{shop.shop_name}}</p>
                                                    <img [src]="shop.shop_logo" alt=""
                                                        class="object-fit-cover rounded-circle"
                                                        style="width: 30px; height: 30px;">
                                                </div>
                                            </div>
                                            <div class="layout-horizontal align-center-space-between p-10">
                                                <p class="text-body-strong w-fill-column-3 text-left">
                                                    {{ 'checkout.note' | translate }}:</p>
                                                <textarea class="control text-area-control w-fill" spellcheck="false"
                                                    name="note" [(ngModel)]="shop.note" required
                                                    (input)="resizeTextarea($event)"></textarea>
                                            </div>
                                        </div>
                                        <table class="h-hug table-product">
                                            <tr class="h-hug text-body-strong">
                                                <td>{{ 'checkout.image' | translate }}</td>
                                                <td>{{ 'checkout.name' | translate }}</td>
                                                <td class="layout align-center-center">
                                                    <p class="hide-in-mobile">{{ 'checkout.price' | translate }}</p>
                                                </td>
                                                <td class="w-hug">{{ 'checkout.quantity' | translate }}</td>
                                                <td>{{ 'checkout.total' | translate }}</td>
                                            </tr>
                                            <tr class="h-hug border-top" *ngFor="let item of shop.products">
                                                <td><img class="object-fit-cover rounded-4"
                                                        [src]="item.images[0]?.image" height="50px" width="50px" alt>
                                                </td>
                                                <td>{{item.name}}</td>
                                                <td class="layout align-center-center h-fill">
                                                    <p class="hide-in-mobile">
                                                        {{item.price-((item.price*item.discount)/100) | currencyVND}}
                                                    </p>
                                                </td>
                                                <td>{{item.pivot.quantity}}</td>
                                                <td>
                                                    <div class="text-right">
                                                        <p
                                                            class="text-caption show-in-mobile hide-in-tablet hide-in-desktop">
                                                            {{item.price-((item.price*item.discount)/100) |
                                                            currencyVND}}
                                                        </p>
                                                    </div>
                                                    <p class="text-caption text-right"
                                                        *ngIf="item.voucher_discount_price">
                                                        - {{item.voucher_discount_price | currencyVND}}
                                                    </p>
                                                    <p class="text-body-strong text-right">
                                                        {{((item.price-((item.price*item.discount)/100))*item.pivot.quantity)
                                                        - (item.voucher_discount_price || 0)
                                                        | currencyVND}}
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                                <div
                                    class="w-fill in-tablet-w-fill in-mobile-w-fill h-hug my-10 in-tablet-mt-5 in-mobile-mt-5">
                                    <div class="layout-vertical border rounded-8 card-background-default mb-10"
                                        *ngIf="change_address == 0 || change_address == 1">
                                        <div class="cursor-pointer p-10 layout-horizontal align-center-left gap-5 border-bottom list-item"
                                            *ngIf="change_address == 1" (click)="setChangeAddress(0)">
                                            <i class="icon-size-16 icon icon-ic_fluent_arrow_left_16_filled"></i>
                                            <p class="text-body">{{ 'checkout.cancel' | translate }}</p>
                                        </div>
                                        <table class="w-fill text-left table-info-bill">
                                            <tr class="border-bottom">
                                                <th class="h-hug text-body-strong">{{ 'checkout.fullname' | translate
                                                    }}:</th>
                                                <td class="text-right">{{currentUser?.profile.display_name}}</td>
                                            </tr>
                                            <tr class="border-bottom">
                                                <th class="h-hug text-body-strong">{{ 'checkout.phone_number' |
                                                    translate }}:</th>
                                                <td class="text-right">{{currentUser?.phone_number}}</td>
                                            </tr>
                                            <tr class="border-bottom">
                                                <th class="h-hug text-body-strong">{{ 'checkout.email' | translate }}:
                                                </th>
                                                <td class="text-right">{{currentUser?.email}}</td>
                                            </tr>
                                            <tr class="border-bottom">
                                                <th class="h-hug text-body-strong">{{ 'checkout.address' | translate }}:
                                                </th>
                                                <td class="text-right">{{currentUser?.profile.address}}</td>
                                            </tr>
                                        </table>
                                        <div class="w-fill p-10" *ngIf="change_address == 0">
                                            <div class="w-fill p-10 rounded-8 border">
                                                <p class="text-left text-body mb-10">{{ 'checkout.use_default' |
                                                    translate }}:
                                                </p>
                                                <div class="layout-horizontal gap-10">
                                                    <button type="button" (click)="setChangeAddress(2)"
                                                        class="button-standard button-text-only w-fill">
                                                        {{ 'checkout.no' | translate }}
                                                    </button>
                                                    <button type="button" (click)="setChangeAddress(1)"
                                                        class="button-accent button-text-only w-fill">
                                                        {{ 'checkout.yes' | translate }}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layout-vertical border rounded-8 card-background-default">
                                        <div class="cursor-pointer p-10 layout-horizontal align-center-left gap-5 border-bottom list-item"
                                            *ngIf="change_address == 2" (click)="setChangeAddress(0)">
                                            <i class="icon-size-16 icon icon-ic_fluent_arrow_left_16_filled"></i>
                                            <p class="text-body">{{ 'checkout.cancel' | translate }}</p>
                                        </div>
                                        <table class="w-fill text-left table-info-bill" *ngIf="change_address == 2">
                                            <tr class="border-bottom">
                                                <th class="h-hug text-body-strong">{{ 'checkout.fullname' | translate
                                                    }}:
                                                </th>
                                                <th>
                                                    <div class="control text-control w-fill">
                                                        <input type="text" spellcheck="false" name="name"
                                                            [(ngModel)]="name" required>
                                                    </div>
                                                </th>
                                            </tr>
                                            <tr class="border-bottom">
                                                <th class="h-hug text-body-strong">{{ 'checkout.phone_number' |
                                                    translate }}:</th>
                                                <th>
                                                    <div class="control text-control w-fill">
                                                        <input type="text" spellcheck="false" name="phone_number"
                                                            [(ngModel)]="phone_number" required>
                                                    </div>
                                                </th>
                                            </tr>
                                            <tr class="border-bottom">
                                                <th class="h-hug text-body-strong">{{ 'checkout.email' | translate }}:
                                                </th>
                                                <th>
                                                    <div class="control text-control w-fill">
                                                        <input type="text" spellcheck="false" name="email"
                                                            [(ngModel)]="email" required>
                                                    </div>
                                                </th>
                                            </tr>
                                            <tr class="border-bottom">
                                                <th class="h-hug text-body-strong">{{ 'checkout.address' | translate }}:
                                                </th>
                                                <th>
                                                    <div class="control text-control w-fill">
                                                        <input type="text" spellcheck="false" name="address"
                                                            [(ngModel)]="address" required>
                                                    </div>
                                                </th>
                                            </tr>
                                        </table>

                                        <div class="p-10 layout-horizontal align-center-space-between gap-10">
                                            <p>{{ 'checkout.voucher_saved' | translate }}: {{voucherSaved.length}}</p>
                                            <button type="button" class="button-accent w-hug px-10 py-5 cursor-pointer"
                                                (click)="viewVoucherSaved()">
                                                {{ 'checkout.view' | translate }}
                                            </button>
                                        </div>

                                        <i *ngIf="message_voucher != ''"
                                            class="text-left text-body text-system-critical px-10 pt-10 pb-0">
                                            {{message_voucher}}
                                        </i>
                                        <div class="p-10 layout-vertical gap-5">
                                            <p class="text-body-strong text-primary text-left">{{ 'checkout.voucher' |
                                                translate }}:</p>
                                            <div class="layout-horizontal gap-10">
                                                <div class="control text-control w-fill">
                                                    <input type="text" spellcheck="false" name="applied_voucher"
                                                        [(ngModel)]="applied_voucher" required>
                                                </div>
                                                <button type="button" class="button-accent w-hug px-10 cursor-pointer"
                                                    (click)="addVoucher()">
                                                    {{ 'checkout.submit' | translate }}
                                                </button>
                                            </div>
                                        </div>
                                        <div class="px-10 pb-10" *ngIf="add_voucher_success != ''">
                                            <div
                                                class="system-success-background border border-card-default p-10 rounded-6 w-fill">
                                                <p class="text-caption text-system-success text-left"
                                                    [innerHTML]="add_voucher_success"></p>
                                            </div>
                                        </div>
                                        <table class="w-fill text-left table-info-bill">
                                            <tr class="border-bottom border-top">
                                                <th class="h-hug text-body-strong">{{ 'checkout.total' | translate }}:
                                                </th>
                                                <td class="text-right">{{currentTotal | currencyVND }}</td>
                                            </tr>
                                            <tr class="border-bottom">
                                                <th class="h-hug text-body-strong">{{ 'checkout.shipping_fee' |
                                                    translate }}:</th>
                                                <td class="text-right">{{0 | currencyVND }}</td>
                                            </tr>
                                            <tr class="border-bottom">
                                                <th class="h-hug text-body-strong">{{ 'checkout.discount' | translate
                                                    }}:</th>
                                                <td class="text-right">{{discount_voucher | currencyVND }}</td>
                                            </tr>
                                            <tr class="border-bottom">
                                                <th class="h-hug text-body-strong">{{ 'checkout._total' | translate }}:
                                                </th>
                                                <td class="text-right">{{cart.total | currencyVND }}
                                                </td>
                                            </tr>
                                        </table>
                                        <div
                                            class="border-bottom p-10 w-fill layout-vertical align-center-right gap-10">
                                            <div (click)="setPaymentMethod('cash')"
                                                [class]="payment_method == 'cash'?'active':''"
                                                class="layout-horizontal align-center-left gap-10 w-fill list-item">
                                                <div class="border rounded-4 overflow-hidden"
                                                    [class]="payment_method == 'cash'?'border-system-attention':''"
                                                    style="width: 35px; height: 35px;">
                                                    <img src="assets/image/logo_cash.png" alt=""
                                                        class="object-fit-cover w-fill h-fill">
                                                </div>
                                                <p class="text-primary"
                                                    [class]="payment_method == 'cash'?'text-body-strong':'text-body'">
                                                    {{ 'checkout.cash' | translate }}</p>
                                            </div>
                                            <div (click)="setPaymentMethod('zalopay')"
                                                [class]="payment_method == 'zalopay'?'active':''"
                                                class="layout-horizontal align-center-left gap-10 w-fill list-item">
                                                <div class="border rounded-4 overflow-hidden"
                                                    [class]="payment_method == 'zalopay'?'border-system-attention':''"
                                                    style="width: 35px; height: 35px;">
                                                    <img src="assets/image/logo_zalopay.png" alt=""
                                                        class="object-fit-cover w-fill h-fill">
                                                </div>
                                                <p class="text-primary"
                                                    [class]="payment_method == 'zalopay'?'text-body-strong':'text-body'">
                                                    {{ 'checkout.zalopay' | translate }}</p>
                                            </div>
                                        </div>
                                        <i *ngIf="empty_user" class="text-left text-body text-system-critical p-10">
                                            {{ 'checkout.not_enough_information' | translate }}!
                                        </i>
                                        <div class="w-fill p-10">
                                            <button type="button" class="button-accent button-text-only w-fill"
                                                (click)="payment()">
                                                {{payment_method == 'cash' ? ('checkout.buy_now' |
                                                translate) : ('checkout.payment' | translate)}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="position-fixed top-0 start-0" *ngIf="viewVoucher"
                    style="width: 100%; height: 100vh; z-index: 20;">
                    <div class="position-absolute top-0 start-0" (click)="viewVoucherSaved()"
                        style="width: 100%; height: 100vh; z-index: 1; background-color: rgba(0, 0, 0, 0.2); backdrop-filter: blur(2px);">
                    </div>
                    <div class="dialog-panel position-absolute top-50 start-50 translate-middle" style="z-index: 2;">
                        <div class="layout-vertical p-20 gap-20 rounded-8 solid-background-base border border-card-default"
                            style="width: 400px;">

                            <button type="button" class="button-subtle button-icon-only w-hug position-absolute"
                                (click)="viewVoucherSaved()" style="right: 20px; top: 20px; z-index: 1;">
                                <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_filled"></i>
                            </button>

                            <div class="pb-20 pt-5 border-bottom">
                                <p class="text-subtitle text-primary text-center">{{ 'checkout.voucher_saved' |
                                    translate }}</p>
                            </div>

                            <div *ngIf="voucherSaved.length > 0"
                                class="layout-vertical gap-20 border-card-default w-fill border card-background-default rounded-8 p-10">

                                <div *ngFor="let voucher of voucherSaved; let i = index"
                                    class="w-fill layout-horizontal rounded-6 system-success-background border border-card-default overflow-hidden">
                                    <div class="position-absolute top-0 right-0 w-fill text-right">
                                        <span class="text-caption p-5"
                                            style="border-radius: 0 0 0 10px; background-color: #C42B1C; color: white;">
                                            {{calculateEndDays(voucher.valid_until)}} {{ 'checkout.day' | translate }}
                                        </span>
                                    </div>
                                    <div class="w-fill layout-vertical text-body text-system-success gap-5 p-10">
                                        <p class="text-caption">{{ 'checkout.voucher' | translate }}:
                                            <span class="text-body-strong"
                                                style="text-transform: uppercase;">{{voucher.code}}</span>
                                            x{{voucher.usage_limit - voucher.use_count}}
                                        </p>
                                        <p class="text-caption">
                                            {{ getVoucherDescription(
                                            voucher.discount,
                                            voucher.apply_to_products.length > 0 ? ('checkout.product' | translate) :
                                            ('checkout.order' | translate),
                                            voucher.min_price | currencyVND,
                                            voucher.max_discount | currencyVND
                                            ) }}
                                        </p>
                                    </div>
                                    <div class="w-hug layout-vertical gap-5 align-bottom-right p-10">
                                        <button type="button" class="button-text-only"
                                            [class]="voucher.code == applied_voucher?'button-standard':'button-accent'"
                                            (click)="useVoucher(voucher.code)">
                                            {{voucher.code == applied_voucher?('checkout.used' | translate) :
                                            ('checkout.use' | translate)}}</button>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="voucherSaved.length == 0" class="w-fill">
                                <p
                                    class="text-body text-secondary text-center p-20 card-background-default border border-card-default rounded-8">
                                    {{ 'checkout.no_vouchers_yet' | translate }}!</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </article>
</section>