.table-product th,
.table-product td {
    padding: 10px;
}

.table-info-bill th,
.table-info-bill td {
    padding: 15px 10px;
}

.rating .icon {
    color: var(--text-primary);
    cursor: pointer;
    transition: color 0.2s;
}

.rating .icon.active {
    color: rgb(255, 255, 0);
}

.show_code {
    display: none;
}

.dialog_feedback{
    width: 500px;
}

@media (max-width: 580px) {
    .dialog_feedback {
        width: calc(100vw - 80px);
    }
}

@media (max-width: 700px) {
    .hide_code {
        display: none;
    }

    .show_code {
        display: flex;
    }

    .resp_gap_20{
        gap: 20px;
    }
}