<div class="layout-vertical card-background-default border border-card-default rounded-8"
    style="height: calc(100vh - 85px);">

    <div class="layout-horizontal align-center-space-between px-20 py-15">
        <p class="text-primary text-subtitle">Đơn hàng</p>

        <select name id class="control text-primary">
            <option value>Tất cả</option>
            <option value>Tất cả</option>
            <option value>Tất cả</option>
        </select>
    </div>

    <div class="layout-vertical gap-20 p-20 border-top border-card-default w-fill overflow-scroll-vertical">

        <div class="text-body text-primary text-center w-fill">
            <div class="w-fill gap-20 layout-horizontal text-body-strong p-10">
                <div class="w-fill-column-3">Mã</div>
                <div class="w-fill-column-2">Hình ảnh</div>
                <div class="w-fill">Tên</div>
                <div class="w-fill-column-2">Ngày đặt hàng</div>
                <div class="w-fill-column-2">Tổng tiền</div>
            </div>
            <div class="w-fill layout-vertical border-top border-card-default"
                *ngFor="let order of orders; let i = index;">
                <div class="w-fill gap-20 layout-horizontal align-center-center rounded-8 cursor-pointer"
                    style="padding: 7px 11px;"
                    [class]="tabAccordion == 'order_detail_'+i?'card-background-default':'list-item'"
                    (click)="tabChild('order_detail_'+i)">
                    <div class="w-fill-column-3" style="text-transform: uppercase;">{{order.external_order_id}}</div>
                    <div class="w-fill-column-2">
                        <img class="object-fit-cover rounded-4" [src]="order.orders[0].products[0]?.product_image"
                            height="70px" width="50px" alt>
                    </div>
                    <div class="w-fill">{{order.orders[0].products[0].name}}</div>
                    <div class="w-fill-column-2">{{order.created_at | date:'dd/MM/yyyy'}}</div>
                    <div class="w-fill-column-2">{{order.total | currencyVND}}</div>
                </div>
                <div class="accordion-panel order_detail_{{i}} w-fill layout-horizontal gap-10">

                    <div class="layout-vertical w-fill-column-8 mt-10 h-hug">

                        <div class="layout-vertical border rounded-8 p-10 mb-10 card-background-default"
                            *ngFor="let shop of order.orders"><!-- for -->
                            <div class="border rounded-6">
                                <div class="layout-horizontal align-center-space-between p-10 border-bottom">
                                    <p class="text-body-strong">Cửa hàng:</p>
                                    <div class="layout-horizontal align-center-center gap-10 w-hug">
                                        <p class="text-body">{{shop?.shop_name}}</p>
                                        <img [src]="shop?.shop_logo" alt="" class="object-fit-cover rounded-circle"
                                            style="width: 30px; height: 30px;">
                                    </div>
                                </div>
                                <div class="layout-horizontal align-center-space-between p-10 border-bottom">
                                    <p class="text-body-strong">Trạng thái:</p>
                                    <p class="text-body" [class]="order_color[shop?.status]">
                                        {{order_status[shop?.status]}}</p>
                                </div>
                                <div class="layout-horizontal align-center-space-between p-10">
                                    <p class="text-body-strong">Ghi chú:</p>
                                    <p class="text-body">{{shop.note}}</p>
                                </div>
                            </div>
                            <table class="h-hug table-product">
                                <tr class="h-hug text-body-strong">
                                    <td>Hình ảnh</td>
                                    <td>Tên</td>
                                    <td>Giá</td>
                                    <td class="w-hug">Số lượng</td>
                                    <td>Tổng tiền</td>
                                </tr>
                                <tr class="h-hug border-top" *ngFor="let product of shop.products">
                                    <td><img class="object-fit-cover rounded-4" [src]="product?.product_image"
                                            height="50px" width="50px" alt></td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.price | currencyVND}}</td>
                                    <td>{{product.quantity}}</td>
                                    <td>{{product.price * product.quantity | currencyVND}}</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <div class="w-fill h-hug layout-vertical border rounded-8 my-10 card-background-default">
                        <table class="w-fill text-left table-info-bill">
                            <tr class="border-bottom">
                                <th class="h-hug text-body-strong">Họ và tên:</th>
                                <td>{{order.fullname}}</td>
                            </tr>
                            <tr class="border-bottom">
                                <th class="h-hug text-body-strong">Số điện thoại:</th>
                                <td>{{order.phone_number}}</td>
                            </tr>
                            <tr class="border-bottom">
                                <th class="h-hug text-body-strong">Email:</th>
                                <td>{{order.email}}</td>
                            </tr>
                            <tr class="border-bottom">
                                <th class="h-hug text-body-strong">Địa chỉ:</th>
                                <td>{{order.address}}</td>
                            </tr>
                            <tr class="border-bottom">
                                <th class="h-hug text-body-strong">Phương thức thanh toán:</th>
                                <td>{{order.payment_method}}</td>
                            </tr>
                        </table>
                        <div class="w-fill p-10">
                            <button type="button" class="button-standard button-text-only w-fill">
                                Hủy đơn
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>