<header
class="layout-horizontal in-mobile-layout-vertical w-fill gap-20 align-center-center solid-background-senary px-10 py-5 in-mobile-gap-5 in-mobile-py-10 border-bottom">
<div class="w-fill-column-8 layout-horizontal in-mobile-w-fill">
        <div class="w-fill hide-in-mobile hide-in-tablet">
            <img src="assets/image/Logo.png" alt="">
        </div>
        <div class="w-fill layout gap-20 in-mobile-gap-10">
            <div class="w-hug show-in-mobile show-in-tablet">
                <img src="assets/image/Logo.png" alt="">
            </div>
            <!-- <div class="search-dropdown-control w-fill">

                <div class="control search-control">
                    <input type="search" name="search" placeholder="Tìm kiếm" spellcheck="false" required>
                    <button type="button" class="input-button clear-content-button">
                        <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_regular"></i>
                    </button>
                    <button type="button" class="input-button search-button">
                        <i class="icon-size-16 icon icon-ic_fluent_search_16_regular"></i>
                    </button>
                </div>

                <div class="dropdown-menu">
                    <form class="list-item layout-horizontal align-center-center">
                        <div class="text-body w-fill">Ten</div>
                        <button type="submit" class="button-accent w-hug py-5 px-10">Thêm</button>
                    </form>
                </div>
            </div> -->
        </div>
    </div>
    <div class="w-fill-column-4 in-mobile-w-fill pe-25">
        <div class="layout-horizontal gap-20 align-center-right in-mobile-align-center-space-evenly">
            <div class="user layout-horizontal align-center-center gap-10">
                <div class="rounded-circle w-hug">
                    <img class="rounded-circle " [src]="user?.profile.profile_photo" width="40px" alt>
                </div>
                <div class="text-body layout-vertical w-hug ">
                    <p class="text-body-strong w-fill text-primary">{{user?.profile.display_name}}</p>
                    <p class="text-caption text-tertiary w-fill">Admin</p>
                </div>
            </div>
        </div>
    </div>

</header>