<section class="gradient-background layout-vertical align-center-left h-hug overflow-hidden">

    <img style="right: 29px; top: 510px;" src="assets/image/3d-glassy-burst-of-cards-with-rounded-corners 1.png" alt=""
        class="position-absolute moving moving-delay-1">
    <img style="right: 244px; top: 115px;" src="assets/image/3d-glassy-flexible-display-with-contact-list 1.png" alt=""
        class="position-absolute moving moving-delay-2">
    <img style="left: 630px; top: 681px;" src="assets/image/3d-glassy-bent-transparent-striped-plastic-card 2.png"
        alt="" class="position-absolute moving moving-delay-3">
    <img style="left: 502px; top: 1186px;" src="assets/image/3d-glassy-bent-plastic-card 2.png" alt=""
        class="position-absolute moving moving-delay-1">
    <img style="left: 390px; top: 518px;" src="assets/image/3d-glassy-bent-transparent-striped-plastic-card 1.png"
        alt="" class="position-absolute moving moving-delay-2">
    <img style="left: 1190px; top: 907px;" src="assets/image/3d-glassy-bent-plastic-card 1.png" alt=""
        class="position-absolute moving moving-delay-3">
    <img style="left: 36px; top: 1215px;" src="assets/image/3d-glassy-wide-wavy-gradient-ribbon 1.png" alt=""
        class="position-absolute moving moving-delay-1">
    <img style="left: 243px; top: 1027px;" src="assets/image/3d-glassy-two-deformed-thin-lenses 2.png" alt=""
        class="position-absolute moving moving-delay-2">
    <img style="left: 1180px; top: 1270px;" src="assets/image/3d-glassy-two-deformed-thin-lenses 1.png" alt=""
        class="position-absolute moving moving-delay-3">
    <!-- Article -->
    <article class="layout-vertical w-fill-column-10 in-tablet-w-fill in-mobile-w-fill p-10  in-mobile-px-20"
        style="gap: 150px;">
        <div class="layout-vertical w-fill">
            <div class="layout-vertical" style="gap: 40px;">

                <div class="text-wrapper hide-in-tablet hide-in-mobile">
                    <p class="gradient-text text-title-large">{{ 'landing_page.title' | translate }}</p>
                    <p class="text-border text-title-large">{{ 'landing_page.title' | translate }}</p>
                </div>

                <div class="text-wrapper hide-in-desktop show-in-tablet show-in-mobile">
                    <p class="gradient-text text-title">{{ 'landing_page.title' | translate }}</p>
                    <p class="text-border text-title">{{ 'landing_page.title' | translate }}</p>
                </div>

                <p class="text-secondary text-body-large w-fill-column-8 in-tablet-w-fill-column-10 in-mobile-w-fill">
                    {{ 'landing_page.description' | translate }}
                </p>

                <button type="button" class="gradient-btn mt-10" [routerLink]="['/login']">
                    <img src="assets/image/landing-page-explore.png" alt="">
                    <span>{{ 'landing_page.start_button' | translate }}</span>
                </button>
            </div>
        </div>
        <div class="layout-wrap w-fill acrylic-background-default blur-acrylic rounded-8 gap-20 p-20">
            <div class="layout-vertical gap-20 p-20 w-fill-column-3 in-tablet-w-fill-column-6 in-mobile-w-fill rounded-8 card-background-default">
                <div style="width: 70px; height: 70px;">
                    <img class="h-fill rotate rotate-delay-1" src="assets/image/landing-page-connect.png" alt="">
                </div>
                <div class="layout-vertical gap-5 w-fill">
                    <p class="text-primary text-body-large">{{ 'landing_page.connect_title' | translate }}</p>
                    <p class="text-secondary text-body">
                        {{ 'landing_page.connect_description' | translate }}
                    </p>
                </div>
            </div>

            <div class="layout-vertical gap-20 p-20 w-fill-column-3 in-tablet-w-fill-column-6 in-mobile-w-fill rounded-8 card-background-default">
                <div style="width: 70px; height: 70px;">
                    <img class="h-fill rotate rotate-delay-2" src="assets/image/landing-page-share.png" alt="">
                </div>
                <div class="layout-vertical gap-5 w-fill">
                    <p class="text-primary text-body-large">{{ 'landing_page.share_title' | translate }}</p>
                    <p class="text-secondary text-body">
                        {{ 'landing_page.share_description' | translate }}
                    </p>
                </div>
            </div>

            <div class="layout-vertical gap-20 p-20 w-fill-column-3 in-tablet-w-fill-column-6 in-mobile-w-fill rounded-8 card-background-default">
                <div style="width: 70px; height: 70px;">
                    <img class="h-fill rotate rotate-delay-3" src="assets/image/landing-page-explore.png" alt="">
                </div>
                <div class="layout-vertical gap-5 w-fill">
                    <p class="text-primary text-body-large">{{ 'landing_page.explore_title' | translate }}</p>
                    <p class="text-secondary text-body">
                        {{ 'landing_page.explore_description' | translate }}
                    </p>
                </div>
            </div>

            <div class="layout-vertical gap-20 p-20 w-fill-column-3 in-tablet-w-fill-column-6 in-mobile-w-fill rounded-8 card-background-default">
                <div style="width: 70px; height: 70px;">
                    <img class="h-fill rotate rotate-delay-4" src="assets/image/landing-page-interact.png" alt="">
                </div>
                <div class="layout-vertical gap-5 w-fill">
                    <p class="text-primary text-body-large">{{ 'landing_page.interact_title' | translate }}</p>
                    <p class="text-secondary text-body">
                        {{ 'landing_page.interact_description' | translate }}
                    </p>
                </div>
            </div>
        </div>


        <div class="layout-vertical w-fill acrylic-background-default blur-acrylic rounded-8 align-center-center gap-20 p-20">
            <p class="text-secondary text-title">{{ 'landing_page.main_function' | translate }}</p>
            <div class="layout-vertical gap-20 w-fill">
                <div class="layout-horizontal in-mobile-layout-vertical w-fill gap-20">
                    <div
                        class="layout-horizontal gap-20 p-20 rounded-8 border border-card-default card-background-default w-fill">
                        <i class="icon-size-28 accent-text-primary icon icon-ic_fluent_chat_28_filled"></i>
                        <div class="layout-vertical gap-5 w-fill">
                            <p class="text-primary text-body-large">{{ 'landing_page.friend_chat_title' | translate }}
                            </p>
                            <p class="text-secondary text-body">
                                {{ 'landing_page.friend_chat_description' | translate }}
                            </p>
                        </div>
                    </div>
                    <div
                        class="layout-horizontal gap-20 p-20 rounded-8 border border-card-default card-background-default w-fill">
                        <i class="icon-size-28 accent-text-primary icon icon-ic_fluent_people_team_28_filled"></i>
                        <div class="layout-vertical gap-5 w-fill">
                            <p class="text-primary text-body-large">{{ 'landing_page.create_group_title' | translate }}
                            </p>
                            <p class="text-secondary text-body">
                                {{ 'landing_page.create_group_description' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layout-horizontal in-mobile-layout-vertical w-fill gap-20">
                    <div
                        class="layout-horizontal gap-20 p-20 rounded-8 border border-card-default card-background-default w-fill">
                        <i class="icon-size-28 accent-text-primary icon icon-ic_fluent_person_28_filled"></i>
                        <div class="layout-vertical gap-5 w-fill">
                            <p class="text-primary text-body-large">{{ 'landing_page.personalization_title' | translate
                                }}</p>
                            <p class="text-secondary text-body">
                                {{ 'landing_page.personalization_description' | translate }}
                            </p>
                        </div>
                    </div>
                    <div
                        class="layout-horizontal gap-20 p-20 rounded-8 border border-card-default card-background-default w-fill">
                        <i class="icon-size-28 accent-text-primary icon icon-ic_fluent_tv_28_filled"></i>
                        <div class="layout-vertical gap-5 w-fill">
                            <p class="text-primary text-body-large">{{ 'landing_page.customize_appearance_title' |
                                translate }}</p>
                            <p class="text-secondary text-body">
                                {{ 'landing_page.customize_appearance_description' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- End Article -->
</section>