<section class="gradient-background layout-vertical" style="height: 100vh;">
    <!-- Article -->
    <article class="layout-horizontal gap-20 px-20 w-fill h-fill overflow-hidden align-top-center">
        <div class="w-fill-column-3"></div>
        <div class="w-fill-column-6 h-fill layout-vertical gap-20 py-20">
            <div class="layout-vertical h-fill rounded-8 border border-card-default card-background-default">

                <div class="layout-vertical gap-10 p-10 border-bottom border-card-default">
                    <p class="text-subtitle text-primary">Thông báo</p>
                    <div class="layout-horizontal align-center-space-between">
                        <div class="layout-horizontal gap-10">
                            <button type="button" class="button-accent button-text-only">Tất cả</button>
                            <button type="button" class="button-standard button-text-only">Chưa đọc</button>
                        </div>
                        <button type="button" class="button-standard button-text-only">Đánh dấu tất cả là đã
                            đọc</button>
                    </div>
                </div>
                
                <div class="layout-vertical gap-10 p-10 h-fill overflow-scroll-vertical">

                    <!-- Thông báo like bài viết -->
                    <div class="list-item layout px-20 py-10 gap-20" *ngFor="let noti of notification">

                        <!-- Đánh dấu là thông báo chưa đọc -->
                        <div class="position-absolute accent-default rounded-2 start-0"
                            style="width: 3px; height: 30px; top: 13px;"></div>

                        <!-- Nội dung thông báo -->
                        <div class="layout-horizontal gap-10 w-fill align-center-center">
                            <img [src]="noti.target_user.profile.profile_photo" alt="" class="rounded-circle object-fit-cover" style="width: 35px; height: 35px;">
                            <div class="layout-vertical gap-5 w-fill">
                                <p class="text-body"><span class="text-body-strong">{{noti.content}}</span></p>
                                <p class="text-secondary text-caption">{{noti.created_at_time}} - {{noti.created_at_date}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Thông báo comment bài viết -->

                </div>
            </div>
        </div>
        <div class="w-fill-column-3"></div>
    </article>
    <!-- End Article -->
</section>