<section class="gradient-background layout-vertical" style="height: 100vh;" >
     <!-- Article -->
     <article class="layout-horizontal gap-20 px-20 w-fill h-fill overflow-hidden align-top-center">
        <div class="w-fill-column-3"></div>
        <div class="w-fill-column-6 h-fill layout-vertical gap-20 pt-20">
            <div class="layout-vertical h-fill rounded-8 border border-card-default card-background-default">

                <div class="layout-vertical gap-10 p-10 border-bottom border-card-default">
                    <p class="text-subtitle text-primary">Thông báo</p>
                    <div class="layout-horizontal align-center-space-between">
                        <div class="layout-horizontal gap-10">
                            <button type="button" class="button-accent button-text-only">Tất cả</button>
                            <button type="button" class="button-standard button-text-only">Chưa đọc</button>
                        </div>
                        <button type="button" class="button-standard button-text-only">Đánh dấu tất cả là đã đọc</button>
                    </div>
                </div>

                <div class="layout-vertical gap-10 p-10 h-fill overflow-scroll-vertical">

                    <!-- Thông báo like bài viết -->
                    <div class="list-item layout px-20 py-10 gap-20">

                        <!-- Đánh dấu là thông báo chưa đọc -->
                        <div class="position-absolute accent-default rounded-2 start-0" style="width: 3px; height: 30px; top: 13px;"></div>

                        <!-- Nội dung thông báo -->
                        <div class="layout-horizontal gap-20 w-fill align-top-center">
                            <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                            <div class="layout-vertical gap-5 w-fill">
                                <p class="text-body"><span class="text-body-strong">Châu Thành Cường</span> đã thích bài viết của bạn</p>
                                <p class="text-secondary text-caption">10:10 10/10/10</p>
                            </div>
                            <i class="icon-size-20 icon icon-ic_fluent_heart_20_filled" style="color: #C42B1C;"></i>
                        </div>
                    </div>

                    <!-- Thông báo comment bài viết -->
                    <div class="list-item layout px-20 py-10 gap-20">

                        <!-- Đánh dấu là thông báo chưa đọc -->
                        <div class="position-absolute accent-default rounded-2 start-0" style="width: 3px; height: 30px; top: 13px;"></div>
                        <!-- Nội dung thông báo -->
                        <div class="layout-horizontal gap-20 w-fill align-top-center">
                            <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                            <div class="layout-vertical gap-5 w-fill">
                                <p class="text-body"><span class="text-body-strong">Châu Thành Cường</span> đã bình luận vào bài viết của bạn</p>
                                <p class="text-secondary text-caption">10:10 10/10/10</p>

                                <!-- Nội dung bình luận -->
                                <p class="text-tertiary text-caption">
                                    Lorem ipsum dolor sit amet consectetur. Purus elit sollicitudin proin ullamcorper. Consectetur in quis diam lacinia vitae aliquam et amet.
                                </p>
                            </div>
                            <i class="icon-size-20 icon icon-ic_fluent_comment_20_filled" style="color: #25CD25;"></i>
                        </div>
                    </div>

                    <!-- Thông báo share bài viết -->
                    <div class="list-item layout px-20 py-10 gap-20">

                        <!-- Đánh dấu là thông báo chưa đọc -->
                        <div class="position-absolute accent-default rounded-2 start-0" style="width: 3px; height: 30px; top: 13px;"></div>

                        <!-- Nội dung thông báo -->
                        <div class="layout-horizontal gap-20 w-fill align-top-center">
                            <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                            <div class="layout-vertical gap-5 w-fill">
                                <p class="text-body"><span class="text-body-strong">Châu Thành Cường</span> đã chia sẻ bài viết của bạn</p>
                                <p class="text-secondary text-caption">10:10 10/10/10</p>
                            </div>
                            <i class="icon-size-20 icon icon-ic_fluent_share_20_filled" style="color: #0070CB;"></i>
                        </div>
                    </div>

                    <!-- Thông báo hoạt theo dõi -->
                    <div class="list-item layout px-20 py-10 gap-20">

                        <!-- Đánh dấu là thông báo chưa đọc -->
                        <div class="position-absolute accent-default rounded-2 start-0" style="width: 3px; height: 30px; top: 13px;"></div>

                        <!-- Nội dung thông báo -->
                        <div class="layout-horizontal gap-20 w-fill align-top-center">
                            <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                            <div class="layout-vertical gap-5 w-fill">
                                <p class="text-body"><span class="text-body-strong">Châu Thành Cường</span> đã theo dõi bạn</p>
                                <p class="text-secondary text-caption">10:10 10/10/10</p>
                            </div>
                            <i class="icon-size-20 icon icon-ic_fluent_person_heart_20_filled" style="color: #0070CB;"></i>
                        </div>
                    </div>

                    <!-- Thông báo gửi lời mời kết bạn -->
                    <div class="list-item layout px-20 py-10 gap-20">

                        <!-- Đánh dấu là thông báo chưa đọc -->
                        <div class="position-absolute accent-default rounded-2 start-0" style="width: 3px; height: 30px; top: 13px;"></div>

                        <!-- Nội dung thông báo -->
                        <div class="layout-horizontal gap-20 w-fill align-top-center">
                            <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                            <div class="layout-vertical gap-5 w-fill">
                                <p class="text-body"><span class="text-body-strong">Châu Thành Cường</span> muốn trở thành bạn bè với bạn.</p>
                                <p class="text-secondary text-caption">10:10 10/10/10</p>
                                <div class="layout-horizontal gap-10">
                                    <button type="button" class="button-accent button-text-only">Chấp nhận</button>
                                    <button type="button" class="button-standard button-text-only">Từ chối</button>
                                </div>
                            </div>
                            <i class="icon-size-20 icon icon-ic_fluent_person_add_20_filled" style="color: #0070CB;"></i>
                        </div>
                    </div>

                    <!-- Thông báo chấp nhận kết bạn -->
                    <div class="list-item layout px-20 py-10 gap-20">

                        <!-- Đánh dấu là thông báo chưa đọc -->
                        <div class="position-absolute accent-default rounded-2 start-0" style="width: 3px; height: 30px; top: 13px;"></div>

                        <!-- Nội dung thông báo -->
                        <div class="layout-horizontal gap-20 w-fill align-top-center">
                            <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                            <div class="layout-vertical gap-5 w-fill">
                                <p class="text-body"><span class="text-body-strong">Châu Thành Cường</span> đã trở thành bạn bè với bạn.</p>
                                <p class="text-secondary text-caption">10:10 10/10/10</p>
                            </div>
                            <i class="icon-size-20 icon icon-ic_fluent_person_available_20_filled" style="color: #25CD25;"></i>
                        </div>
                    </div>

                    <!-- Thông báo tin nhắn -->
                    <div class="list-item layout px-20 py-10 gap-20">

                        <!-- Đánh dấu là thông báo chưa đọc -->
                        <div class="position-absolute accent-default rounded-2 start-0" style="width: 3px; height: 30px; top: 13px;"></div>

                        <!-- Nội dung thông báo -->
                        <div class="layout-horizontal gap-20 w-fill align-top-center">
                            <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                            <div class="layout-vertical gap-5 w-fill">
                                <p class="text-body"><span class="text-body-strong">Châu Thành Cường</span> đã gửi tin nhắn cho bạn</p>
                                <p class="text-secondary text-caption">10:10 10/10/10</p>
                            </div>
                            <i class="icon-size-20 icon icon-ic_fluent_chat_20_filled" style="color: #0070CB;"></i>
                        </div>
                    </div>






                                        <!-- Thông báo tin nhắn -->
                                        <div class="list-item layout px-20 py-10 gap-20">

                                            <!-- Đánh dấu là thông báo chưa đọc -->
                                            <div class="position-absolute accent-default rounded-2 start-0" style="width: 3px; height: 30px; top: 13px;"></div>
                    
                                            <!-- Nội dung thông báo -->
                                            <div class="layout-horizontal gap-20 w-fill align-top-center">
                                                <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                                                <div class="layout-vertical gap-5 w-fill">
                                                    <p class="text-body"><span class="text-body-strong">Châu Thành Cường</span> đã gửi tin nhắn cho bạn</p>
                                                    <p class="text-secondary text-caption">10:10 10/10/10</p>
                                                </div>
                                                <i class="icon-size-20 icon icon-ic_fluent_chat_20_filled" style="color: #0070CB;"></i>
                                            </div>
                                        </div>
                                                            <!-- Thông báo tin nhắn -->
                    <div class="list-item layout px-20 py-10 gap-20">

                        <!-- Đánh dấu là thông báo chưa đọc -->
                        <div class="position-absolute accent-default rounded-2 start-0" style="width: 3px; height: 30px; top: 13px;"></div>

                        <!-- Nội dung thông báo -->
                        <div class="layout-horizontal gap-20 w-fill align-top-center">
                            <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                            <div class="layout-vertical gap-5 w-fill">
                                <p class="text-body"><span class="text-body-strong">Châu Thành Cường</span> đã gửi tin nhắn cho bạn</p>
                                <p class="text-secondary text-caption">10:10 10/10/10</p>
                            </div>
                            <i class="icon-size-20 icon icon-ic_fluent_chat_20_filled" style="color: #0070CB;"></i>
                        </div>
                    </div>
                                        <!-- Thông báo tin nhắn -->
                                        <div class="list-item layout px-20 py-10 gap-20">

                                            <!-- Đánh dấu là thông báo chưa đọc -->
                                            <div class="position-absolute accent-default rounded-2 start-0" style="width: 3px; height: 30px; top: 13px;"></div>
                    
                                            <!-- Nội dung thông báo -->
                                            <div class="layout-horizontal gap-20 w-fill align-top-center">
                                                <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                                                <div class="layout-vertical gap-5 w-fill">
                                                    <p class="text-body"><span class="text-body-strong">Châu Thành Cường</span> đã gửi tin nhắn cho bạn</p>
                                                    <p class="text-secondary text-caption">10:10 10/10/10</p>
                                                </div>
                                                <i class="icon-size-20 icon icon-ic_fluent_chat_20_filled" style="color: #0070CB;"></i>
                                            </div>
                                        </div>
                                                            <!-- Thông báo tin nhắn -->
                    <div class="list-item layout px-20 py-10 gap-20">

                        <!-- Đánh dấu là thông báo chưa đọc -->
                        <div class="position-absolute accent-default rounded-2 start-0" style="width: 3px; height: 30px; top: 13px;"></div>

                        <!-- Nội dung thông báo -->
                        <div class="layout-horizontal gap-20 w-fill align-top-center">
                            <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
                            <div class="layout-vertical gap-5 w-fill">
                                <p class="text-body"><span class="text-body-strong">Châu Thành Cường</span> đã gửi tin nhắn cho bạn</p>
                                <p class="text-secondary text-caption">10:10 10/10/10</p>
                            </div>
                            <i class="icon-size-20 icon icon-ic_fluent_chat_20_filled" style="color: #0070CB;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-fill-column-3"></div>
    </article>
     <!-- End Article -->
</section>