<section class="gradient-background layout-vertical" style="height: 100vh;">
    <!-- Article -->
    <article class="layout-horizontal gap-20 px-20 w-fill h-fill overflow-hidden align-top-center">
        <div class="w-fill-column-2 in-tablet-w-fill-column-1 hide-in-mobile"></div>
        <div class="w-fill-column-8 in-tablet-w-fill-column-10 in-mobile-w-fill h-fill layout-vertical gap-20 py-20">
            <div class="layout-vertical h-fill rounded-8 border border-card-default card-background-default">

                <div class="layout-vertical gap-10 p-10 border-bottom border-card-default">
                    <p class="text-subtitle text-primary">{{ 'notification.title' | translate }}</p>
                    <div class="layout-horizontal align-center-space-between">
                        <div class="layout-horizontal gap-10">
                            <button type="button"
                                class="button-{{is_read_notification == 'all'?'accent':'standard'}} button-text-only"
                                (click)="filterNotification('all')">{{ 'notification.all_notification' | translate
                                }}</button>
                            <button type="button"
                                class="button-{{is_read_notification == 'unread'?'accent':'standard'}} button-text-only"
                                (click)="filterNotification('unread')">{{ 'notification.unread_notification' | translate
                                }}</button>
                        </div>
                    </div>
                </div>

                <div class="layout-vertical gap-10 p-10 h-fill overflow-scroll-vertical">

                    <!-- Thông báo like bài viết -->
                    <div class="layout" *ngFor="let noti of notification">

                        <!-- Đánh dấu là thông báo chưa đọc -->
                        <div *ngIf="noti.is_read == 0" class="position-absolute accent-default rounded-2 start-0"
                            style="width: 3px; height: calc(100% - 25px); top: 13px;"></div>

                        <!-- Nội dung thông báo -->
                        <div class="noti-hover layout-horizontal gap-10 w-fill align-center-space-between ps-20 py-10">
                            <img [src]="noti.target_user.profile.profile_photo" alt=""
                                class="rounded-circle object-fit-cover" style="width: 35px; height: 35px;">
                            <div *ngIf="noti.is_read == 0" class="list-item layout-vertical gap-5 w-fill"
                                (click)="updateNotification(noti.id)">
                                <p class="text-body text-primary layout-horizontal gap-5">
                                    <span [innerHTML]="noti_icon[noti.action_type]"></span>
                                    {{noti.target_user.profile.display_name +' '+
                                    ('notification.content.'+noti.action_type | translate)}}</p>
                                <p class="text-secondary text-caption">{{noti.created_at_time}} -
                                    {{noti.created_at_date}}
                                </p>
                            </div>
                            <div *ngIf="noti.is_read != 0" class="list-item layout-vertical gap-5 w-fill">
                                <p class="text-body text-primary layout-horizontal gap-5">
                                    <span [innerHTML]="noti_icon[noti.action_type]"></span>
                                    {{noti.target_user.profile.display_name +' '+
                                    ('notification.content.'+noti.action_type | translate)}}</p>
                                <p class="text-secondary text-caption">{{noti.created_at_time}} -
                                    {{noti.created_at_date}}
                                </p>
                            </div>
                            <button type="button" class="button-standard button-icon-only"
                                (click)="deleteNotification(noti.id)">
                                <i class="icon-size-16 icon icon-ic_fluent_delete_16_filled"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Thông báo comment bài viết -->

                </div>
            </div>
        </div>
        <div class="w-fill-column-2 in-tablet-w-fill-column-1 hide-in-mobile"></div>
    </article>
    <!-- End Article -->
</section>