section>article {
    margin-top: 45px;
}

@media (max-width: 479px) {
    section>article {
        margin-top: 92px;
    }
}

.noti-hover>button{
    transform: translateX(75px);
    transition: 0.2s;
}

.noti-hover:hover>button{
    transform: translateX(0);
}