<div class="border border-card-default card-background-default rounded-bottom-6 pt-10 pb-20 px-20">
    <table class="text-primary text-center w-fill">
        <tr class="">
            <th style="width: 50px;">STT</th>
            <th>Tên</th>
            <th style="width: 100px;">Sản phẩm</th>
            <th style="width: 90px;">#</th>
        </tr>
        <!-- for -->
        <tr class="border-top border-card-default"
            *ngFor="let cate of shop?.categories; let i = index;">
            <td>{{i+1}}</td>
            <td class="text-body-strong">{{cate.name}}</td>
            <td class="text-body-strong">1</td>
            <td class="layout-horizontal gap-10">
                <button type="button" class="button-standard button-icon-only w-hug"
                    (click)="showDiaLogUpdateCategory(cate.id, cate.name)">
                    <i class="icon-size-16 icon icon-ic_fluent_edit_16_filled"></i>
                </button>
                <button type="button" class="button-standard button-icon-only"
                    (click)="showDiaLogDeleteCategory(cate.id)">
                    <i class="icon-size-16 icon icon-ic_fluent_delete_16_filled"></i>
                </button>
            </td>
        </tr>
    </table>
    <div>
        <button type="button" class="button-standard button-text-only w-fill"
            (click)="showDiaLogCreateCategory()">
            <i class="me-5 icon-size-16 icon icon-ic_fluent_add_16_regular"></i>
            Thêm danh mục</button>
    </div>


    <div class="position-fixed top-0 start-0 {{(diaLogCreateCategory) ? 'display-block' : 'display-none'}}"
        style="width: 100%; height: 100vh; z-index: 20;">
        <div class="position-absolute top-0 start-0" (click)="showDiaLogCreateCategory()"
            style="width: 100%; height: 100vh; z-index: 1; background-color: rgba(0, 0, 0, 0.2); backdrop-filter: blur(2px);">
        </div>
        <div class="dialog-panel position-absolute top-50 start-50 translate-middle"
            style="z-index: 2;">
            <div class="layout-vertical p-20 gap-20 rounded-8 solid-background-base border border-card-default"
                style="width: 500px;">

                <button type="button" class="button-subtle button-icon-only w-hug position-absolute"
                    (click)="showDiaLogCreateCategory()" style="right: 20px; top: 20px; z-index: 1;">
                    <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_filled"></i>
                </button>

                <div class="pb-20 pt-5 border-bottom">
                    <p class="text-subtitle text-primary text-center">Thêm danh mục</p>
                </div>

                <div class="layout-vertical overflow-hidden">
                    <div class="layout-horizontal gap-20">
                        <div class="w-fill control text-control">
                            <input type="text" spellcheck="false" name="name_category"
                                [(ngModel)]="name_category" required>
                        </div>

                        <button type="button" class="button-accent button-text-only w-hug"
                            (click)="createCategory()">
                            Thêm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="position-fixed top-0 start-0 {{(id_cate_update != 0) ? 'display-block' : 'display-none'}}"
        style="width: 100%; height: 100vh; z-index: 20;">
        <div class="position-absolute top-0 start-0" (click)="showDiaLogUpdateCategory(0)"
            style="width: 100%; height: 100vh; z-index: 1; background-color: rgba(0, 0, 0, 0.2); backdrop-filter: blur(2px);">
        </div>
        <div class="dialog-panel position-absolute top-50 start-50 translate-middle"
            style="z-index: 2;">
            <div class="layout-vertical p-20 gap-20 rounded-8 solid-background-base border border-card-default"
                style="width: 500px;">

                <button type="button" class="button-subtle button-icon-only w-hug position-absolute"
                    (click)="showDiaLogUpdateCategory(0)" style="right: 20px; top: 20px; z-index: 1;">
                    <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_filled"></i>
                </button>

                <div class="pb-20 pt-5 border-bottom">
                    <p class="text-subtitle text-primary text-center">Sửa danh mục</p>
                </div>

                <div class="layout-vertical overflow-hidden">
                    <div class="layout-horizontal gap-20">
                        <div class="w-fill control text-control">
                            <input type="text" spellcheck="false" name="name_cate_update"
                                [(ngModel)]="name_cate_update" required>
                        </div>

                        <button type="button" class="button-accent button-text-only w-hug"
                            (click)="updateCategory()">
                            Sửa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="position-fixed top-0 start-0 {{(id_cate_delete != 0) ? 'display-block' : 'display-none'}}"
        style="width: 100%; height: 100vh; z-index: 20;">
        <div class="position-absolute top-0 start-0" (click)="showDiaLogDeleteCategory(0)"
            style="width: 100%; height: 100vh; z-index: 1; background-color: rgba(0, 0, 0, 0.2); backdrop-filter: blur(2px);">
        </div>
        <div class="dialog-panel position-absolute top-50 start-50 translate-middle"
            style="z-index: 2;">
            <div class="layout-vertical p-20 gap-20 rounded-8 solid-background-base border border-card-default"
                style="width: 500px;">

                <button type="button" class="button-subtle button-icon-only w-hug position-absolute"
                    (click)="showDiaLogDeleteCategory(0)" style="right: 20px; top: 20px; z-index: 1;">
                    <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_filled"></i>
                </button>

                <div class="pb-20 pt-5 border-bottom">
                    <p class="text-subtitle text-primary text-center">Xóa danh mục</p>
                </div>

                <div class="layout-vertical overflow-hidden">
                    <div class="layout-horizontal gap-20">
                        <button type="button" class="button-standard button-text-only w-fill"
                            (click)="showDiaLogDeleteCategory(0)">
                            Hủy</button>

                        <button type="button" class="button-accent button-text-only w-fill"
                            (click)="deleteCategory()">
                            Xóa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>