<div class="border border-card-default card-background-default rounded-bottom-6 p-20">

    <div class="layout-vertical gap-20">
        <div class="layout-horizontal gap-20">
            <div class="w-fill-column-8 card-background-default rounded-6 border p-10">
                <apx-chart *ngIf="chartOptions_3.chart" [series]="chartOptions_3.series" [chart]="chartOptions_3.chart"
                    [colors]="chartOptions_3.colors" [title]="chartOptions_3.title"
                    [dataLabels]="chartOptions_3.dataLabels" [labels]="chartOptions_3.labels"
                    [legend]="chartOptions_3.legend">
                </apx-chart>
            </div>
            <div class="w-fill-column-4 layout-vertical gap-20">
                <div class="w-fill h-fill">
                    <div class="w-fill card-background-default rounded-6 border p-10">
                        <p class="text-body text-primary layout-horizontal align-center-space-between my-10">
                            Doanh thu:
                            <span class="text-body-strong">
                                {{+shop?.total_revenue | currencyVND}}
                            </span>
                        </p>
                        <p class="text-body text-primary layout-horizontal align-center-space-between my-10">
                            Sản phẩm đã bán:
                            <span class="text-body-strong">{{shop?.total_products_sold}}</span>
                        </p>
                    </div>
                </div>

                <div class="layout-vertical gap-20 w-fill">
                    <div class="w-fill layout-vertical gap-5">
                        <p class="text-caption text-primary">Từ ngày</p>
                        <div class="control date-control w-fill">
                            <input type="date" name="startDate" [(ngModel)]="startDate" (change)="filterCharts()">
                        </div>
                    </div>
                    <div class="w-fill layout-vertical gap-5">
                        <p class="text-caption text-primary">Đến ngày</p>
                        <div class="control date-control w-fill">
                            <input type="date" name="endDate" [(ngModel)]="endDate" (change)="filterCharts()">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card-background-default rounded-6 border p-10">
            <apx-chart *ngIf="chartOptions_1.chart" [series]="chartOptions_1.series" [chart]="chartOptions_1.chart"
                [colors]="chartOptions_1.colors" [title]="chartOptions_1.title" [dataLabels]="chartOptions_1.dataLabels"
                [stroke]="chartOptions_1.stroke" [xaxis]="chartOptions_1.xaxis" [tooltip]="chartOptions_1.tooltip">
            </apx-chart>
        </div>

        <div class="card-background-default rounded-6 border p-10">
            <apx-chart *ngIf="chartOptions_2.chart" [series]="chartOptions_2.series" [chart]="chartOptions_2.chart"
                [colors]="chartOptions_2.colors" [title]="chartOptions_2.title" [dataLabels]="chartOptions_2.dataLabels"
                [stroke]="chartOptions_2.stroke" [xaxis]="chartOptions_2.xaxis" [tooltip]="chartOptions_2.tooltip">
            </apx-chart>
        </div>


    </div>

</div>