.step {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.step-hidden-next {
    transform: translateX(-300px);
    opacity: 0;
}
.step-hidden-prev {
    transform: translateX(300px);
    opacity: 0;
}