<div class=" p-20">
    <div class="layout-horizontal  align-center-space-between mb-10">
        <div class="layout-horizontal gap-10">
            <!-- search -->
            <div class="search-dropdown-control">
                <div class="control search-control">
                    <input type="search"
                        placeholder="placeholder"
                        spellcheck="false">
                    <button type="button"
                        class="input-button clear-content-button">
                        <i
                            class="icon-size-16 icon icon-ic_fluent_dismiss_16_regular"></i>
                    </button>
                    <button type="button"
                        class="input-button search-button">
                        <i
                            class="icon-size-16 icon icon-ic_fluent_search_16_regular"></i>
                    </button>
                </div>
                <div class="dropdown-menu">
                    <div class="list-item">
                        <div class="text-body">Item 1</div>
                    </div>
                    <div class="list-item">
                        <div class="text-body">Item 2</div>
                    </div>
                    <div class="list-item">
                        <div class="text-body">Item 3</div>
                    </div>
                </div>
            </div>
            <!-- fillter -->
            <div class="layout-horizontal gap-10">
                <a href="#"
                    class="button-standard button-text-with-icon gap-10">
                    <i
                        class="icon-size-16 icon icon-ic_fluent_document_one_page_multiple_16_regular"></i>
                    Post
                </a>
                <a href="#"
                    class="button-standard button-text-with-icon gap-10">
                    <i
                        class="icon-size-20 icon icon-ic_fluent_check_20_regular"></i>
                    Comment
                </a>
                <a href="#"
                    class="button-standard button-text-with-icon gap-10">
                    <i
                        class="icon-size-16 icon icon-ic_fluent_person_16_regular"></i>
                    User
                </a>
                <a href="#"
                    class="button-standard button-text-only gap-10">
                    <!-- <i
                                        class="icon-size-16 icon icon-ic_fluent_person_24_regular"></i> -->
                    See All
                </a>
            </div>

        </div>
        <div class="me-25">
            <div class="pagination layout-horizontal">
                <button
                    class="pagination-item button-subtle button-icon-only text-accent-default"><i
                        class="icon-size-24 icon icon-ic_fluent_caret_left_24_filled"></i></button>
                <button
                    class="pagination-item button-subtle button-icon-only text-accent-default">1</button>
                <button
                    class="pagination-item button-subtle button-icon-only text-accent-default">2</button>
                <button
                    class="pagination-item button-subtle button-icon-only text-accent-default">3</button>
                <button
                    class="pagination-item button-subtle button-icon-only text-accent-default">4</button>
                <button
                    class="pagination-item button-subtle button-icon-only text-accent-default">5</button>
                <button
                    class="pagination-item button-subtle button-icon-only text-accent-default"><i
                        class="icon-size-24 icon icon-ic_fluent_caret_right_24_filled"></i></button>
            </div>
        </div>
    </div>
    <div>
        <div class="table-container solid-background-senary p-10 rounded-8  ">
            <!-- <table class="table w-fill text-center">
                <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>Link Post</th>
                        <th>Images Post</th>
                        <th>Username</th>
                        <th>Status</th>
                        <th>Report date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td class="p-10"><a
                                href="#">https://www.facebook.com/profile.php?id=100050636555101</a></td>
                        <td class="p-15"><img style="max-width: 200px;"
                                src="assets/image/hinh.jpg"
                                alt="Avatar"
                                class="avatar"></td>
                        <td>chick2004</td>
                        <td>BANNED</td>
                        <td>01/10/2024</td>
                        <td>
                            <div
                                class="layout align-center-center  w-fill h-fill">

                                <a href="#"
                                    class="button-subtle button-icon-only text-accent-default">
                                    <i
                                        class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                                </a>
                                <a href="#"
                                    class="button-subtle button-icon-only text-accent-default">
                                    <i
                                        class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                                </a>
                            </div>
                        </td>
                    </tr>

                    
                </tbody>
            </table> -->
            <!-- Account Section-->
            <div
                class="w-fill layout-vertical card-background-default border rounded-8 border-card-default">
                <div
                    class="w-fill p-10 css-grid-5"
                    style="cursor: pointer;">

                    <div>
                        <p class="text-body-strong text-primary">Username</p>
                    </div>
                    <div>
                        <p class="text-body-strong text-primary">Nội Dung</p>
                    </div>
                    <div>
                        <p class="text-body-strong text-primary">Ngày đăng</p>
                    </div>
                    <div>
                        <p class="text-body-strong text-primary">Trạng thái</p>
                    </div>
                    <div class>
                        <p class="text-body-strong text-primary">#</p>
                    </div>

                </div>

                <div class="accordion" >
                    <div class="accordion-item">
                        <div
                            class="accordion-header w-fill p-10 css-grid-5"
                            style="cursor: pointer;" *ngFor="let item of listPost">
                            <div>
                                <p
                                    class="text-body text-primary">{{item.profile.display_name}}</p>
                            </div>
                            <div>
                                <p class="text-body text-primary">{{item.content}} </p>
                            </div>
                            <div>
                                <p class="text-body text-primary">{{item.updated_at_date}}</p>
                            </div>
                            <div>
                                <p class="text-body text-primary">Hoạt động</p>
                            </div>
                            <button type="button"
                                class="button-subtle button-icon-only">
                                <i
                                    class="icon-size-20 icon icon-ic_fluent_chevron_down_20_filled"></i>
                            </button>
                        </div>
                        <div class="accordion-panel">
                            <div class="w-fill p-10 gap-10 layout-horizontal h-hug">
                                <div class="w-fill-column-6 layout-vertical gap-10 border rounded-8 p-10 h-hug">
                                    <div class="img gap-10  layout-horizontal border-bottom pb-10">
                                        <img style="max-width: 200px;"
                                            src="assets/image/hinh.jpg"
                                            alt="Avatar"
                                            class="avatar rounded-8">
                                        <img style="max-width: 200px;"
                                            src="assets/image/hinh.jpg"
                                            alt="Avatar"
                                            class="avatar rounded-8">
                                            
                                    </div>
                                    <div class="content text-justify text-body">
                                        <p>

                                            Lorem ipsum dolor, sit amet consectetur
                                            adipisicing elit. Culpa optio sequi
                                            quaerat dolorum cumque, esse itaque
                                            necessitatibus suscipit voluptas et quas
                                            possimus sint error soluta corrupti odio
                                            nostrum illo debitis explicabo fugit
                                            praesentium! Quibusdam ducimus debitis
                                            tempora, eaque iure ipsam deleniti
                                            minima autem iusto.
                                        </p>
                                        
                                    </div>
                                    <div class="layout-horizontal w-fill">
                                        <div class="layout-horizontal w-fill border-top pt-10 gap-25">
                                            <div class="text-secondary layout-horizontal align-center-center gap-5">
                                                100
                                                <i class="icon-size-20 icon icon-ic_fluent_heart_20_regular"></i>
                                            </div>
                                            <div class="text-secondary layout-horizontal align-center-center gap-5">
                                                100
                                                <i class="icon-size-20 icon icon-ic_fluent_chat_empty_20_regular"></i>
                                            </div>
                                            <div class="text-secondary layout-horizontal align-center-center gap-5">
                                                100
                                                <i class="icon-size-20 icon icon-ic_fluent_share_20_regular"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-fill-column-6 layout-vertical gap-10 overflow-scroll-vertical h-hug">
                                    <div class="layout-vertical gap-10 p-10 border rounded-8">
                                        <div class="layout-horizontal gap-10 border-bottom pb-10">
                                            <div class="w-fill text-body-strong">Minh dat</div>
                                            <div class="w-hug text-body">1/1/2000</div>
                                        </div>
                                        <div class="w-fill text-body text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In odit aut neque minus consequatur officia nemo esse cupiditate iure veritatis amet sunt nesciunt, ullam inventore totam dolor tempore ducimus soluta.</div>
                                        <div class="layout-horizontal w-fill">
                                            <div class="layout-horizontal w-fill border-top pt-10 gap-25">
                                                <div class="text-secondary layout-horizontal align-center-center gap-5">
                                                    100
                                                    <i class="icon-size-20 icon icon-ic_fluent_heart_20_regular"></i>
                                                </div>
                                                <div class="text-secondary layout-horizontal align-center-center gap-5">
                                                    100
                                                    <i class="icon-size-20 icon icon-ic_fluent_chat_empty_20_regular"></i>
                                                </div>
                                                <div class="text-secondary layout-horizontal align-center-center gap-5">
                                                    100
                                                    <i class="icon-size-20 icon icon-ic_fluent_share_20_regular"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layout-vertical gap-10 p-10 border rounded-8">
                                        <div class="layout-horizontal gap-10 border-bottom pb-10">
                                            <div class="w-fill text-body-strong">Minh dat</div>
                                            <div class="w-hug text-body">1/1/2000</div>
                                        </div>
                                        <div class="w-fill text-body text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In odit aut neque minus consequatur officia nemo esse cupiditate iure veritatis amet sunt nesciunt, ullam inventore totam dolor tempore ducimus soluta.</div>
                                        <div class="layout-horizontal w-fill">
                                            <div class="layout-horizontal w-fill border-top pt-10 gap-25">
                                                <div class="text-secondary layout-horizontal align-center-center gap-5">
                                                    100
                                                    <i class="icon-size-20 icon icon-ic_fluent_heart_20_regular"></i>
                                                </div>
                                                <div class="text-secondary layout-horizontal align-center-center gap-5">
                                                    100
                                                    <i class="icon-size-20 icon icon-ic_fluent_chat_empty_20_regular"></i>
                                                </div>
                                                <div class="text-secondary layout-horizontal align-center-center gap-5">
                                                    100
                                                    <i class="icon-size-20 icon icon-ic_fluent_share_20_regular"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layout-vertical gap-10 p-10 border rounded-8">
                                        <div class="layout-horizontal gap-10 border-bottom pb-10">
                                            <div class="w-fill text-body-strong">Minh dat</div>
                                            <div class="w-hug text-body">1/1/2000</div>
                                        </div>
                                        <div class="w-fill text-body text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In odit aut neque minus consequatur officia nemo esse cupiditate iure veritatis amet sunt nesciunt, ullam inventore totam dolor tempore ducimus soluta.</div>
                                        <div class="layout-horizontal w-fill">
                                            <div class="layout-horizontal w-fill border-top pt-10 gap-25">
                                                <div class="text-secondary layout-horizontal align-center-center gap-5">
                                                    100
                                                    <i class="icon-size-20 icon icon-ic_fluent_heart_20_regular"></i>
                                                </div>
                                                <div class="text-secondary layout-horizontal align-center-center gap-5">
                                                    100
                                                    <i class="icon-size-20 icon icon-ic_fluent_chat_empty_20_regular"></i>
                                                </div>
                                                <div class="text-secondary layout-horizontal align-center-center gap-5">
                                                    100
                                                    <i class="icon-size-20 icon icon-ic_fluent_share_20_regular"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layout-vertical gap-10 p-10 border rounded-8">
                                        <div class="layout-horizontal gap-10 border-bottom pb-10">
                                            <div class="w-fill text-body-strong">Minh dat</div>
                                            <div class="w-hug text-body">1/1/2000</div>
                                        </div>
                                        <div class="w-fill text-body text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In odit aut neque minus consequatur officia nemo esse cupiditate iure veritatis amet sunt nesciunt, ullam inventore totam dolor tempore ducimus soluta.</div>
                                        <div class="layout-horizontal w-fill">
                                            <div class="layout-horizontal w-fill border-top pt-10 gap-25">
                                                <div class="text-secondary layout-horizontal align-center-center gap-5">
                                                    100
                                                    <i class="icon-size-20 icon icon-ic_fluent_heart_20_regular"></i>
                                                </div>
                                                <div class="text-secondary layout-horizontal align-center-center gap-5">
                                                    100
                                                    <i class="icon-size-20 icon icon-ic_fluent_chat_empty_20_regular"></i>
                                                </div>
                                                <div class="text-secondary layout-horizontal align-center-center gap-5">
                                                    100
                                                    <i class="icon-size-20 icon icon-ic_fluent_share_20_regular"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>