<div class="layout-vertical card-background-default border border-card-default rounded-8"
    style="height: calc(100vh - 85px);">

    <div class="layout-horizontal align-center-space-between px-20 py-15">
        <p class="text-primary text-subtitle">Tất cả sản phẩm</p>

        <select name id class="control text-primary">
            <option value>Tất cả</option>
            <option value>Tất cả</option>
            <option value>Tất cả</option>
        </select>
    </div>

    <div
        class="layout-vertical gap-20 p-20 border-top border-card-default w-fill overflow-scroll-vertical">

        <div class="text-body text-primary text-center w-fill">
            <div class="w-fill gap-20 layout-horizontal text-body-strong p-10">
                <div class="w-fill-column-1">Mã</div>
                <div class="w-fill-column-2">Hình ảnh</div>
                <div class="w-fill">Tên</div>
                <div class="w-fill-column-2">Số lượng</div>
                <div class="w-fill-column-2">Tổng tiền</div>
                <div class="w-fill-column-2">Trạng thái</div>

                <!-- danh sách sản phẩm -->
                <!-- hủy đơn, ghi chú, ngày đặt hàng, phương thức thanh toán, username, sđt, email, địa chỉ -->
            </div>
            <div class="w-fill layout-vertical border-top border-card-default"
                *ngFor="let order of orders; let i = index;">
                <div class="w-fill gap-20 layout-horizontal align-center-center py-10 list-item"
                    (click)="tabChild('order_detail_'+i)">
                    <div class="w-fill-column-1">I123</div>
                    <div class="w-fill-column-2">
                        <img class="object-fit-cover rounded-4" src="assets/image/hinh.jpg"
                            height="70px" width="50px"
                            alt>
                    </div>
                    <div class="w-fill">Gấu bông hình con gấu</div>
                    <div class="w-fill-column-2">2</div>
                    <div class="w-fill-column-2">{{1000000 | currencyVND}}</div>
                    <div class="w-fill-column-2 text-system-success">Đã đặt hàng</div>
                </div>
                <div
                    class="accordion-panel order_detail_{{i}} w-fill layout-horizontal gap-10 {{tabAccordion == 'order_detail_'+i?'border-top border-bottom':''}} border-card-default">
                    <table class="w-fill-column-7 h-hug mt-10">
                        <tr class="h-hug text-body-strong">
                            <td>Hình ảnh</td>
                            <td>Tên</td>
                            <td>Giá</td>
                            <td class="w-hug">Số lượng</td>
                            <td>Tổng tiền</td>
                        </tr>
                        <tr class="h-hug border-top">
                            <td><img class="object-fit-cover rounded-4"
                                    src="assets/image/hinh.jpg" height="50px"
                                    width="50px" alt></td>
                            <td>Gấu bông hình con gấu</td>
                            <td>{{100000 | currencyVND}}</td>
                            <td>2</td>
                            <td>{{200000 | currencyVND}}</td>
                        </tr>
                        <tr class="h-hug border-top">
                            <td><img class="object-fit-cover rounded-4"
                                    src="assets/image/hinh.jpg" height="50px"
                                    width="50px" alt></td>
                            <td>Gấu bông hình con gấu</td>
                            <td>{{100000 | currencyVND}}</td>
                            <td>2</td>
                            <td>{{200000 | currencyVND}}</td>
                        </tr>
                    </table>
                    <div class="w-fill layout-vertical ps-10 border-left">
                        <table class="w-fill my-10 text-left">
                            <tr>
                                <th class="h-hug text-body-strong">Họ và tên</th>
                                <td>Minh Đạt</td>
                            </tr>
                            <tr class="border-top">
                                <th class="h-hug text-body-strong">Số điện thoại</th>
                                <td>0123456789</td>
                            </tr>
                            <tr class="border-top">
                                <th class="h-hug text-body-strong">Email</th>
                                <td>user.gmail.com</td>
                            </tr>
                            <tr class="border-top">
                                <th class="h-hug text-body-strong">Địa chỉ</th>
                                <td>Q12/HCM</td>
                            </tr>
                            <tr class="border-top">
                                <th class="h-hug text-body-strong">Ngày đặt hàng</th>
                                <td>25/11/2024</td>
                            </tr>
                            <tr class="border-top">
                                <th class="h-hug text-body-strong">Phương thức thanh toán</th>
                                <td>ZaloPay</td>
                            </tr>
                            <tr class="border-top">
                                <th class="h-hug text-body-strong">Ghi chú</th>
                                <td>Không</td>
                            </tr>
                        </table>
                        <div class="w-fill pb-10">
                            <button type="button"
                                class="button-standard button-text-only w-fill">
                                Hủy đơn
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>