<section class="gradient-background layout-vertical" style="height: 100vh;">
    <article class="layout-horizontal gap-20 px-20 w-fill h-fill overflow-hidden">
        <app-left-profile
            class="w-fill-column-3 layout-vertical gap-20 pt-20 overflow-scroll-vertical hide-in-tablet hide-in-mobile"></app-left-profile>
        <app-center-profile
            class="w-fill-column-6 layout-vertical gap-20 pt-20 overflow-scroll-vertical in-tablet-w-fill-column-8 in-mobile-w-fill"></app-center-profile>
        <app-right-home
            class="w-fill-column-3 layout-vertical gap-20 pt-20 overflow-scroll-vertical in-tablet-w-fill-column-4 hide-in-mobile"></app-right-home>
    </article>
</section>