<section class="gradient-background layout-horizontal" style="height: 100vh;">
    <app-nav class="h-fill"></app-nav>

    <article class="py-20 mt-20 mx-20 w-fill overflow-scroll-vertical">

        <div class="layout-horizontal align-center-space-between gap-10 mb-10">
            <div class="layout-horizontal align-left-center w-fill gap-10">
                <div class="search-dropdown-control">
                    <div class="control search-control">
                        <input type="search" placeholder="placeholder" spellcheck="false">
                        <button type="button" class="input-button clear-content-button">
                            <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_regular"></i>
                        </button>
                        <button type="button" class="input-button search-button">
                            <i class="icon-size-16 icon icon-ic_fluent_search_16_regular"></i>
                        </button>
                    </div>
                    <div class="dropdown-menu">
                        <div class="list-item">
                            <div class="text-body">Item 1</div>
                        </div>
                        <div class="list-item">
                            <div class="text-body">Item 2</div>
                        </div>
                        <div class="list-item">
                            <div class="text-body">Item 3</div>
                        </div>
                    </div>
                </div>
                <button type="button" class="button-standard button-text-with-icon gap-10">
                    <i class="icon-size-16 icon icon-ic_fluent_document_one_page_multiple_16_regular"></i>
                    Post
                </button>
                <button type="button" class="button-standard button-text-with-icon gap-10">
                    <i class="icon-size-20 icon icon-ic_fluent_check_20_regular"></i>
                    Comment
                </button>
                <button type="button" class="button-standard button-text-with-icon gap-10">
                    <i class="icon-size-16 icon icon-ic_fluent_person_16_regular"></i>
                    User
                </button>
                <button type="button" class="button-standard button-text-only gap-10">
                    <i class="icon-size-16 icon icon-ic_fluent_person_24_regular"></i>
                    See All
                </button>
            </div>

            <div class="me-25">
                <div class="pagination layout-horizontal">
                    <button class="pagination-item button-subtle button-icon-only text-accent-default"><i
                            class="icon-size-24 icon icon-ic_fluent_caret_left_24_filled"></i></button>
                    <button class="pagination-item button-subtle button-icon-only text-accent-default">1</button>
                    <button class="pagination-item button-subtle button-icon-only text-accent-default">2</button>
                    <button class="pagination-item button-subtle button-icon-only text-accent-default">3</button>
                    <button class="pagination-item button-subtle button-icon-only text-accent-default">4</button>
                    <button class="pagination-item button-subtle button-icon-only text-accent-default">5</button>
                    <button class="pagination-item button-subtle button-icon-only text-accent-default"><i
                            class="icon-size-24 icon icon-ic_fluent_caret_right_24_filled"></i></button>
                </div>
            </div>
        </div>
        <div class>

            <table class="w-fill layout-vertical solid-background-senary p-10 rounded-6">
                <thead>
                    <tr class="w-fill p-10 css-grid-5" style="cursor: pointer;">
                        <th class="text-body-strong text-primary">Username</th>
                        <th class="text-body-strong text-primary">Nội Dung</th>
                        <th class="text-body-strong text-primary">Ngày đăng</th>
                        <th class="text-body-strong text-primary">Trạng thái</th>
                        <th class="text-body-strong text-primary text-center">#</th>
                    </tr>
                </thead>
                <tbody>
                    <div class="accordion w-fill">
                        <div class="accordion-item w-fill">
                            <div class="accordion-header w-fill p-10 css-grid-5" style="cursor: pointer;">
                                <td class="text-body text-primary text-center">Ten</td>
                                <td class="text-body text-primary text-center">Noi dung</td>
                                <td class="text-body text-primary text-center">Thoi gian</td>
                                <td class="text-body text-primary text-center">Hoạt động</td>
                                <td class="layout align-center-center">
                                    <button type="button" class="button-subtle button-icon-only">
                                        <i class="icon-size-20 icon icon-ic_fluent_chevron_down_20_filled"></i>
                                    </button>
                                </td>
                            </div>
                            <div class="accordion-panel">
                                <div class="w-fill p-10 gap-10 layout-horizontal h-hug">
                                    <div class="w-fill-column-6 layout-vertical gap-10 border rounded-8 p-10 h-hug">
                                        <div class="img gap-10  layout-horizontal border-bottom pb-10">
                                            <img style="max-width: 200px;" src="assets/image/hinh.jpg" alt="Avatar"
                                                class="avatar rounded-8">
                                            <img style="max-width: 200px;" src="assets/image/hinh.jpg" alt="Avatar"
                                                class="avatar rounded-8">
                                        </div>
                                        <div class="content text-justify text-body">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                            </p>
                                        </div>
                                        <div class="layout-horizontal w-fill">
                                            <div class="layout-horizontal w-fill border-top pt-10 gap-25">
                                                <div class="text-secondary layout-horizontal align-center-center gap-5">
                                                    100
                                                    <i class="icon-size-20 icon icon-ic_fluent_heart_20_regular"></i>
                                                </div>
                                                <div class="text-secondary layout-horizontal align-center-center gap-5">
                                                    100
                                                    <i
                                                        class="icon-size-20 icon icon-ic_fluent_chat_empty_20_regular"></i>
                                                </div>
                                                <div class="text-secondary layout-horizontal align-center-center gap-5">
                                                    100
                                                    <i class="icon-size-20 icon icon-ic_fluent_share_20_regular"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
            </table>
        </div>
    </article>
</section>


<!-- <script src="assets/js/jquery.min.js"></script>
<script src="assets/js/apexcharts.min.js"></script> -->