/* Local Variable */
:root, [data-theme="light"] {
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --gradient-background: radial-gradient(412.31% 141.42% at 0% 0%, rgba(0, 30, 255, 0.10) 0%, rgba(255, 255, 255, 0.05) 33%, rgba(255, 255, 255, 0.05) 66%, rgba(107, 0, 184, 0.10) 100%);
    --text-primary: #000000E6;
    --text-secondary: #0000009E;
    --text-tertiary: #00000073;
    --text-disabled: #0000005C;
    --accent-text-primary: #003E92FF;
    --accent-text-secondary: #001A68FF;
    --accent-text-tertiary: #005FB8FF;
    --accent-text-disabled: #0000005C;
    --text-on-accent-primary: #FFFFFFFF;
    --text-on-accent-secondary: #FFFFFFB3;
    --text-on-accent-disabled: #FFFFFFFF;
    --text-on-accent-selected: #FFFFFFFF;
    --control-default: #FFFFFFB3;
    --control-secondary: #F9F9F980;
    --control-tertiary: #F9F9F94D;
    --control-quarternary: #F3F3F3C2;
    --control-disabled: #F9F9F94D;
    --control-transparent: #FFFFFF00;
    --control-input-active: #FFFFFFFF;
    --control-alt-secondary: #00000005;
    --control-alt-tertiary: #0000000F;
    --control-alt-quarternary: #F3F3F3C2;
    --control-alt-disabled: #F9F9F94D;
    --control-alt-transparent: #FFFFFF00;
    --control-solid-default: #FFFFFFFF;
    --control-strong-default: #00000073;
    --control-strong-disabled: #00000052;
    --subtle-transparent: #00000000;
    --subtle-secondary: #0000000A;
    --subtle-tertiary: #00000005;
    --subtle-disabled: #00000000;
    --control-on-image-fill-default: #FFFFFFC9;
    --control-on-image-fill-secondary: #F3F3F3FF;
    --control-on-image-fill-tertiary: #EBEBEBFF;
    --control-on-image-fill-disabled: #FFFFFF00;
    --accent-default: #005FB8FF;
    --accent-secondary: #005FB8E6;
    --accent-tertiary: #005FB8CC;
    --accent-disabled: #00000038;
    --accent-selected-text-background: #0078D4FF;
    --control-stroke-default: #0000000F;
    --control-stroke-secondary: #00000029;
    --control-stroke-on-accent-default: #FFFFFF14;
    --control-stroke-on-accent-secondary: #00000066;
    --control-stroke-on-accent-tertiary: #00000038;
    --control-stroke-on-accent-disabled: #0000000F;
    --control-stroke-for-strong-fill-when-on-image: #FFFFFF59;
    --card-stroke-default: #0000000F;
    --card-stroke-default-solid: #EBEBEBFF;
    --control-strong-stroke-default: #00000073;
    --control-strong-stroke-disabled: #00000038;
    --surface-stroke-default: #75757566;
    --surface-stroke-flyout: #0000000F;
    --divider-stroke-default: #0000000F;
    --focus-outer: #000000E6;
    --focus-innter: #FFFFFFB3;
    --card-background-default: #FFFFFFB3;
    --card-background-secondary: #F6F6F680;
    --card-background-tertiary: #FFFFFFFF;
    --smoke-default: #0000004D;
    --layer-default: #FFFFFF80;
    --layer-alt: #FFFFFFFF;
    --solid-background-base: #F3F3F3FF;
    --solid-background-secondary: #EEEEEEFF;
    --solid-background-tertiary: #F9F9F9FF;
    --system-attention: #0070CBFF;
    --system-success: #0F7B0FFF;
    --system-caution: #9D5D00FF;
    --system-critical: #C42B1CFF;
    --system-attention-background: #F6F6F680;
    --system-success-background: #DFF6DDFF;
    --system-caution-background: #FFF4CEFF;
    --system-critical-background: #FDE7E9FF;
    --system-neutral: #00000073;
    --system-solid-neutral: #8A8A8AFF;
    --system-neutral-background: #00000005;
    --system-solid-neutral-background: #F3F3F3FF;
    --system-solid-attention-background: #F7F7F7FF;
    --solid-background-quarternary: #FFFFFFFF;
    --solid-background-quinary: #FDFDFDFF;
    --solid-background-senary: #FFFFFFFF;
    --solid-background-base-alt: #DADADAFF;
    --shadow-card-rest: #0000000A;
    --shadow-card-hover: #0000001A;
    --shadow-tooltip: #00000024;
    --shadow-flyout: #00000024;
    --shadow-dialog: #00000026;
    --acrylic-background-base: #EEEEEEE6;
    --acrylic-background-default: #F9F9F9CC;
}

[data-theme="dark"] {
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --gradient-background: radial-gradient(45deg, 412.31% 141.42% at 0% 0%, rgba(0, 30, 255, 0.10) 0%, rgba(255, 255, 255, 0.05) 33%, rgba(255, 255, 255, 0.05) 66%, rgba(107, 0, 184, 0.10) 100%);
    --text-primary: #FFFFFFFF;
    --text-secondary: #FFFFFFC9;
    --text-tertiary: #FFFFFF8A;
    --text-disabled: #FFFFFF5C;
    --accent-text-primary: #99EBFFFF;
    --accent-text-secondary: #99EBFFFF;
    --accent-text-tertiary: #60CDFFFF;
    --accent-text-disabled: #FFFFFF5C;
    --text-on-accent-primary: #000000FF;
    --text-on-accent-secondary: #00000080;
    --text-on-accent-disabled: #FFFFFF87;
    --text-on-accent-selected: #FFFFFFFF;
    --control-default: #FFFFFF0F;
    --control-secondary: #FFFFFF0F;
    --control-tertiary: #FFFFFF0A;
    --control-quarternary: #FFFFFF0F;
    --control-disabled: #F9F9F94D;
    --control-transparent: #00000000;
    --control-input-active: #1E1E1EB3;
    --control-alt-secondary: #0000001A;
    --control-alt-tertiary: #FFFFFF0A;
    --control-alt-quarternary: #FFFFFF12;
    --control-alt-disabled: #FFFFFF00;
    --control-alt-transparent: #FFFFFF00;
    --control-solid-default: #454545FF;
    --control-strong-default: #FFFFFF8A;
    --control-strong-disabled: #FFFFFF40;
    --subtle-transparent: #FFFFFF00;
    --subtle-secondary: #FFFFFF0F;
    --subtle-tertiary: #FFFFFF05;
    --subtle-disabled: #FFFFFF00;
    --control-on-image-fill-default: #1C1C1CB3;
    --control-on-image-fill-secondary: #1A1A1AFF;
    --control-on-image-fill-tertiary: #131313FF;
    --control-on-image-fill-disabled: #1E1E1EFF;
    --accent-default: #60CDFFFF;
    --accent-secondary: #5BBDE9FF;
    --accent-tertiary: #56ADD5FF;
    --accent-disabled: #FFFFFF29;
    --accent-selected-text-background: #0078D4FF;
    --control-stroke-default: #FFFFFF12;
    --control-stroke-secondary: #FFFFFF17;
    --control-stroke-on-accent-default: #FFFFFF14;
    --control-stroke-on-accent-secondary: #00000024;
    --control-stroke-on-accent-tertiary: #00000038;
    --control-stroke-on-accent-disabled: #00000033;
    --control-stroke-for-strong-fill-when-on-image: #0000006B;
    --card-stroke-default: #0000001A;
    --card-stroke-default-solid: #1C1C1CFF;
    --control-strong-stroke-default: #FFFFFF99;
    --control-strong-stroke-disabled: #FFFFFF29;
    --surface-stroke-default: #75757566;
    --surface-stroke-flyout: #00000033;
    --divider-stroke-default: #FFFFFF14;
    --focus-outer: #FFFFFFFF;
    --focus-innter: #000000B3;
    --card-background-default: #FFFFFF0D;
    --card-background-secondary: #FFFFFF08;
    --card-background-tertiary: #FFFFFF12;
    --smoke-default: #0000004D;
    --layer-default: #3A3A3A4D;
    --layer-alt: #FFFFFF0D;
    --solid-background-base: #202020FF;
    --solid-background-secondary: #1C1C1CFF;
    --solid-background-tertiary: #282828FF;
    --system-attention: #60CDFFFF;
    --system-success: #6CCB5FFF;
    --system-caution: #FCE100FF;
    --system-critical: #FF99A4FF;
    --system-attention-background: #FFFFFF08;
    --system-success-background: #393D1BFF;
    --system-caution-background: #433519FF;
    --system-critical-background: #442726FF;
    --system-neutral: #FFFFFF8A;
    --system-solid-neutral: #9D9D9DFF;
    --system-neutral-background: #FFFFFF08;
    --system-solid-neutral-background: #2E2E2EFF;
    --system-solid-attention-background: #2E2E2EFF;
    --solid-background-quarternary: #2C2C2CFF;
    --solid-background-quinary: #333333FF;
    --solid-background-senary: #373737FF;
    --solid-background-base-alt: #0A0A0AFF;
    --shadow-card-rest: #00000021;
    --shadow-card-hover: #00000042;
    --shadow-tooltip: #00000042;
    --shadow-flyout: #00000042;
    --shadow-dialog: #0000005E;
    --acrylic-background-base: #202020D9;
    --acrylic-background-default: #2C2C2CE6;
}

[data-theme="turquoise"] {
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --gradient-background: radial-gradient(412.31% 141.42% at 0% 0%, rgba(0, 30, 255, 0.10) 0%, rgba(255, 255, 255, 0.05) 33%, rgba(255, 255, 255, 0.05) 66%, rgba(107, 0, 184, 0.10) 100%);
    --text-primary: #000000E6;
    --text-secondary: #0000009E;
    --text-tertiary: #00000073;
    --text-disabled: #0000005C;
    --accent-text-primary: #22626e;
    --accent-text-secondary: #20545e;
    --accent-text-tertiary: #258090;
    --accent-text-disabled: #0000005C;
    --text-on-accent-primary: #FFFFFFFF;
    --text-on-accent-secondary: #FFFFFFB3;
    --text-on-accent-disabled: #FFFFFFFF;
    --text-on-accent-selected: #FFFFFFFF;
    --control-default: #FFFFFFB3;
    --control-secondary: #F9F9F980;
    --control-tertiary: #F9F9F94D;
    --control-quarternary: #F3F3F3C2;
    --control-disabled: #F9F9F94D;
    --control-transparent: #FFFFFF00;
    --control-input-active: #FFFFFFFF;
    --control-alt-secondary: #00000005;
    --control-alt-tertiary: #0000000F;
    --control-alt-quarternary: #F3F3F3C2;
    --control-alt-disabled: #F9F9F94D;
    --control-alt-transparent: #FFFFFF00;
    --control-solid-default: #FFFFFFFF;
    --control-strong-default: #00000073;
    --control-strong-disabled: #00000052;
    --subtle-transparent: #00000000;
    --subtle-secondary: #0000000A;
    --subtle-tertiary: #00000005;
    --subtle-disabled: #00000000;
    --control-on-image-fill-default: #FFFFFFC9;
    --control-on-image-fill-secondary: #F3F3F3FF;
    --control-on-image-fill-tertiary: #EBEBEBFF;
    --control-on-image-fill-disabled: #FFFFFF00;
    --accent-default: #258090;
    --accent-secondary: rgba(37, 128, 144, 90);
    --accent-tertiary: rgba(37, 128, 144, 80);
    --accent-disabled: #00000038;
    --accent-selected-text-background: #258090;
    --control-stroke-default: #0000000F;
    --control-stroke-secondary: #00000029;
    --control-stroke-on-accent-default: #FFFFFF14;
    --control-stroke-on-accent-secondary: #00000066;
    --control-stroke-on-accent-tertiary: #00000038;
    --control-stroke-on-accent-disabled: #0000000F;
    --control-stroke-for-strong-fill-when-on-image: #FFFFFF59;
    --card-stroke-default: #0000000F;
    --card-stroke-default-solid: #EBEBEBFF;
    --control-strong-stroke-default: #00000073;
    --control-strong-stroke-disabled: #00000038;
    --surface-stroke-default: #75757566;
    --surface-stroke-flyout: #0000000F;
    --divider-stroke-default: #0000000F;
    --focus-outer: #000000E6;
    --focus-innter: #FFFFFFB3;
    --card-background-default: #FFFFFFB3;
    --card-background-secondary: #F6F6F680;
    --card-background-tertiary: #FFFFFFFF;
    --smoke-default: #0000004D;
    --layer-default: #FFFFFF80;
    --layer-alt: #FFFFFFFF;
    --solid-background-base: #F3F3F3FF;
    --solid-background-secondary: #EEEEEEFF;
    --solid-background-tertiary: #F9F9F9FF;
    --system-attention: #0070CBFF;
    --system-success: #0F7B0FFF;
    --system-caution: #9D5D00FF;
    --system-critical: #C42B1CFF;
    --system-attention-background: #F6F6F680;
    --system-success-background: #DFF6DDFF;
    --system-caution-background: #FFF4CEFF;
    --system-critical-background: #FDE7E9FF;
    --system-neutral: #00000073;
    --system-solid-neutral: #8A8A8AFF;
    --system-neutral-background: #00000005;
    --system-solid-neutral-background: #F3F3F3FF;
    --system-solid-attention-background: #F7F7F7FF;
    --solid-background-quarternary: #FFFFFFFF;
    --solid-background-quinary: #FDFDFDFF;
    --solid-background-senary: #FFFFFFFF;
    --solid-background-base-alt: #DADADAFF;
    --shadow-card-rest: #0000000A;
    --shadow-card-hover: #0000001A;
    --shadow-tooltip: #00000024;
    --shadow-flyout: #00000024;
    --shadow-dialog: #00000026;
    --acrylic-background-base: #EEEEEEE6;
    --acrylic-background-default: #F9F9F9CC;
}