<div class="w-fill h-fill layout-vertical gap-20 overflow-scroll-vertical">


    <div class="layout-horizontal gap-20 w-fill">
        <div class="layout-vertical">
            <div style="width: 230px; height: 120px;">
                <img class="w-fill h-fill object-fit-cover rounded-8"
                    [src]="(selectedFilesCover.length > 0)?previewCoverImages:user?.profile.cover_photo || 'assets/image/splash.png'"
                    alt="">
            </div>
            <img style="width: 90px; height: 90px; margin-top: -45px; margin-left: 20px;"
                class="border border-card-default rounded-circle object-fit-cover"
                [src]="(selectedFilesProfile.length > 0)?previewProfileImages:user?.profile.profile_photo" alt="">
        </div>
        <div class="layout-vertical gap-5" style="width: 300px;">
            <p class="text-subtitle text-primary">{{display_name || user?.profile.display_name}}</p>
            <p class="text-primary text-caption">{{biography || user?.profile.biography}}</p>
        </div>
    </div>
    <div class="layout-vertical w-fill gap-20 mb-20">

        <div class="layout-vertical w-fill gap-5">
            <p class="text-body-strong text-primary">Thông tin người dùng</p>

            <div class="accordion active border border-card-default card-background-default rounded-4">
                <div class="accordion-item">
                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center"
                        (click)="tabChild('display_name')">
                        <i class="icon-size-20 icon text-primary icon-ic_fluent_contact_card_20_regular"></i>
                        <div class="layout-vertical w-fill">
                            <p class="text-body text-primary">Tên hiển thị</p>
                            <p class="text-caption text-secondary">{{display_name ||
                                user?.profile.display_name}}</p>
                        </div>
                        <button type="button" class="button-subtle button-icon-only">
                            <span [class]="tabAccordion == 'display_name' ? 'rotate_icon_180' : 'rotate_icon_0'">
                                <i class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                            </span>
                        </button>
                    </div>

                    <div class="accordion-panel open layout-vertical display_name">
                        <div class="p-15 layout-horizontal align-center-space-between">
                            <div class="control text-control w-hug">
                                <input type="text" spellcheck="false" name="display_name" [(ngModel)]="display_name">
                            </div>

                            <button class="button-standard button-text-only"
                                (click)="updateUser({'display_name':display_name})">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion active border border-card-default card-background-default rounded-4">
                <div class="accordion-item">
                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center"
                        (click)="tabChild('date_of_birth')">
                        <i class="icon-size-20 icon text-primary icon-ic_fluent_calendar_date_20_regular"></i>
                        <div class="layout-vertical w-fill">
                            <p class="text-body text-primary">Ngày sinh</p>
                            <p class="text-caption text-secondary">{{date_of_birth ||
                                user?.profile.date_of_birth ||
                                'Trống'}}</p>
                        </div>
                        <button type="button" class="button-subtle button-icon-only">
                            <span [class]="tabAccordion == 'date_of_birth' ? 'rotate_icon_180' : 'rotate_icon_0'">
                                <i class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                            </span>
                        </button>
                    </div>

                    <div class="accordion-panel open layout-vertical date_of_birth">
                        <div class="p-15 layout-horizontal align-center-space-between">
                            <div class="control text-control w-hug">
                                <input type="date" spellcheck="false" name="date_of_birth" [(ngModel)]="date_of_birth">
                            </div>
                            <button class="button-standard button-text-only"
                                (click)="updateUser({'date_of_birth':date_of_birth})">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion active border border-card-default card-background-default rounded-4">
                <div class="accordion-item">
                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center"
                        (click)="tabChild('biography')">
                        <i class="icon-size-20 icon text-primary icon-ic_fluent_person_note_20_regular"></i>
                        <div class="layout-vertical w-fill">
                            <p class="text-body text-primary">Tiểu sử</p>
                            <p class="text-caption text-secondary">{{biography ||
                                user?.profile.biography
                                || 'Trống'}}
                            </p>
                        </div>
                        <button type="button" class="button-subtle button-icon-only">
                            <span [class]="tabAccordion == 'biography' ? 'rotate_icon_180' : 'rotate_icon_0'">
                                <i class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                            </span>
                        </button>
                    </div>

                    <div class="accordion-panel open layout-vertical biography">
                        <div class="p-15 layout-horizontal align-bottom-space-between gap-15">
                            <textarea style="min-height: 110px;" class="control text-area-control w-fill"
                                spellcheck="false" name="biography" [(ngModel)]="biography"></textarea>
                            <button class="button-standard button-text-only"
                                (click)="updateUser({'biography':biography})">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layout-vertical w-fill gap-5">
            <p class="text-body-strong text-primary">Trang cá nhân</p>

            <div class="accordion active border border-card-default card-background-default rounded-4">
                <div class="accordion-item">
                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center"
                        (click)="tabChild('profile_photo')">
                        <i class="icon-size-20 icon text-primary icon-ic_fluent_person_square_20_regular"></i>
                        <div class="layout-vertical w-fill">
                            <p class="text-body text-primary">Ảnh đại diện</p>
                            <p class="text-caption text-secondary">Điều chỉnh ảnh đại diện của bạn</p>
                        </div>
                        <button type="button" class="button-subtle button-icon-only">
                            <span [class]="tabAccordion == 'profile_photo' ? 'rotate_icon_180' : 'rotate_icon_0'">
                                <i class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                            </span>
                        </button>
                    </div>

                    <div class="accordion-panel open layout-vertical profile_photo">
                        <!-- <div
                            class="p-15 layout-horizontal align-center-space-between border-bottom border-card-default">
                            <p class="text-body text-primary">Chụp ảnh</p>
                            <button class="button-standard button-text-only">Mở máy ảnh</button>
                        </div> -->
                        <div class="p-15 layout-horizontal align-center-space-between">
                            <p class="text-body text-primary">Chọn ảnh từ thiết bị</p>
                            <div class="layout-horizontal gap-15">
                                <label class="button-standard button-text-only">Mở thư mục
                                    <input class="display-none" type="file" [ngModel]="fileProfile" name="fileProfile"
                                        (change)="onFileImageProfileSelected($event)" accept="image/*">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion active border border-card-default card-background-default rounded-4">
                <div class="accordion-item">
                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center"
                        (click)="tabChild('cover_photo')">
                        <i class="icon-size-20 icon text-primary icon-ic_fluent_image_20_regular"></i>
                        <div class="layout-vertical w-fill">
                            <p class="text-body text-primary">Ảnh bìa</p>
                            <p class="text-caption text-secondary">Điều chỉnh ảnh bìa của bạn</p>
                        </div>
                        <button type="button" class="button-subtle button-icon-only">
                            <span [class]="tabAccordion == 'cover_photo' ? 'rotate_icon_180' : 'rotate_icon_0'">
                                <i class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                            </span>
                        </button>
                    </div>

                    <div class="accordion-panel open layout-vertical cover_photo">
                        <!-- <div
                            class="p-15 layout-horizontal align-center-space-between border-bottom border-card-default">
                            <p class="text-body text-primary">Chụp ảnh</p>
                            <button class="button-standard button-text-only">Mở máy ảnh</button>
                        </div> -->
                        <div class="p-15 layout-horizontal align-center-space-between">
                            <p class="text-body text-primary">Chọn ảnh từ thiết bị</p>
                            <div class="layout-horizontal gap-15">
                                <label class="button-standard button-text-only">Mở thư mục
                                    <input class="display-none" type="file" [ngModel]="fileCover" name="fileCover"
                                        (change)="onFileImageCoverSelected($event)" accept="image/*">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layout-vertical w-fill gap-5">
            <p class="text-body-strong text-primary">Chặn và báo cáo</p>

            <div class="accordion active border border-card-default card-background-default rounded-4">
                <div class="accordion-item">
                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center"
                        (click)="tabChild('user_block')">
                        <i class="icon-size-20 icon text-primary icon-ic_fluent_person_lock_20_regular"></i>
                        <div class="layout-vertical w-fill">
                            <p class="text-body text-primary">Danh sách chặn</p>
                            <p class="text-caption text-secondary">Danh sách các tài khoản đã chặn</p>
                        </div>
                        <button type="button" class="button-subtle button-icon-only">
                            <span [class]="tabAccordion == 'user_block' ? 'rotate_icon_180' : 'rotate_icon_0'">
                                <i class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                            </span>
                        </button>
                    </div>

                    <!-- danh sách tài khoản bị chặn -->
                    <div class="accordion-panel open layout-vertical user_block">

                        <div class="px-15 py-10" *ngIf="listBlock?.length==0">
                            <div class="w-fill py-10 card-background-default border border-card-default rounded-6">
                                <p class="text-body text-secondary text-center">Trống</p>
                            </div>
                        </div>

                        <!-- for -->
                        <div class="p-15 layout-horizontal align-center-space-between" *ngFor="let user of listBlock">
                            <div class="layout-horizontal align-center-center gap-15 w-fill">
                                <div style="width: 35px; height: 35px;">
                                    <img class="rounded-circle border border-card-default object-fit-cover"
                                        [src]="user.profile.profile_photo" alt="" style="width: 35px; height: 35px;">
                                </div>
                                <p class="text-secondary text-body-strong w-fill">
                                    {{user.profile.display_name}}</p>
                                <button type="button" class="button-standard button-text-with-icon"
                                    (click)="blockUser(user.id)">
                                    Bỏ chặn
                                    <i class="icon-size-16 icon icon-ic_fluent_person_key_20_regular"></i>
                                </button>
                            </div>
                        </div>
                        <!-- for -->

                    </div>
                </div>
            </div>

            <div class="accordion active border border-card-default card-background-default rounded-4">
                <div class="accordion-item">
                    <div class="accordion-header layout-horizontal gap-15 p-15 align-center-center"
                        (click)="tabChild((tabAccordion == 'user_report' || tabAccordion == 'comment_report')? tabAccordion : 'post_report')">
                        <i class="icon-size-20 icon text-primary icon-ic_fluent_chat_warning_20_regular"></i>
                        <div class="layout-vertical w-fill">
                            <p class="text-body text-primary">Danh sách báo cáo</p>
                            <p class="text-caption text-secondary">Danh sách các tài khoản và bài viết
                                đã báo cáo</p>
                        </div>
                        <button type="button" class="button-subtle button-icon-only">
                            <span
                                [class]="tabAccordion == 'post_report' || tabAccordion == 'user_report' || tabAccordion == 'comment_report' ? 'rotate_icon_180' : 'rotate_icon_0'">
                                <i class="icon-size-20 icon open-icon icon-ic_fluent_chevron_down_20_filled"></i>
                            </span>
                        </button>
                    </div>

                    <div class="accordion-panel open layout-vertical post_report user_report comment_report">

                        <div class="px-15 pt-15 border-bottom layout-horizontal align-center-space-between">
                            <button type="button" class="list-item tab-report text-primary w-fill"
                                [class]="tabAccordion == 'post_report'?'tab-report-active':''"
                                [disabled]="tabAccordion == 'post_report'" (click)="tabChild('post_report')">
                                Post
                            </button>
                            <button type="button" class="list-item tab-report text-primary w-fill"
                                [class]="tabAccordion == 'user_report'?'tab-report-active':''"
                                [disabled]="tabAccordion == 'user_report'" (click)="tabChild('user_report')">
                                User
                            </button>
                            <!-- <button type="button" class="list-item tab-report text-primary w-fill"
                                [class]="tabAccordion == 'comment_report'?'tab-report-active':''"
                                [disabled]="tabAccordion == 'comment_report'" (click)="tabChild('comment_report')">
                                Comment
                            </button> -->
                        </div>

                    </div>

                    <!-- danh sách báo cáo bài viết -->
                    <div class="accordion-panel open layout-vertical post_report">

                        <div class="px-15 py-10" *ngIf="listPostReport?.length==0">
                            <div class="w-fill py-10 card-background-default border border-card-default rounded-6">
                                <p class="text-body text-secondary text-center">Trống</p>
                            </div>
                        </div>

                        <!-- for -->
                        <div class="p-15 layout-horizontal align-center-space-between"
                            *ngFor="let report of listPostReport">
                            <div class="layout-horizontal align-center-center gap-15 w-fill">
                                <a [routerLink]="['/friend-profile', report.post.profile.user_id, report.post.id]"
                                    class="w-fill">
                                    <p class="text-secondary text-body-strong">
                                        {{report.post.profile.display_name}}</p>
                                    <p class="text-secondary text-body">
                                        {{shortenTextByWords(report.post.content, 7)}}
                                    </p>
                                </a>
                                <button type="button" class="button-standard button-text-with-icon"
                                    (click)="viewReport(report.id)">
                                    Xem
                                    <i class="icon-size-16 icon icon-ic_fluent_eye_tracking_16_regular"></i>
                                </button>
                            </div>

                            <div class="position-fixed top-0 start-0"
                                *ngIf="report_id == report.id && report.type == 'post'"
                                style="width: 100%; height: 100vh; z-index: 20;">
                                <div class="position-absolute top-0 start-0"
                                    style="width: 100%; height: 100vh; z-index: 1; background-color: rgba(0, 0, 0, 0.2); backdrop-filter: blur(2px);"
                                    (click)="viewReport(0)">
                                </div>
                                <div class="dialog-panel position-absolute top-50 start-50 translate-middle"
                                    style="z-index: 2;">
                                    <div class="layout-vertical p-20 gap-20 rounded-8 acrylic-background-default blur-acrylic border border-card-default"
                                        style="width: 700px;">

                                        <button type="button"
                                            class="button-subtle button-icon-only w-hug position-absolute"
                                            style="right: 20px; top: 20px; z-index: 1;" (click)="viewReport(0)">
                                            <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_filled"></i>
                                        </button>

                                        <div class="pb-20 pt-5 border-bottom">
                                            <p class="text-subtitle text-primary text-center">Báo cáo bài viết</p>
                                        </div>

                                        <div class="layout-horizontal gap-5">
                                            <p class="text-body-strong text-primary" style="min-width: 100px;">Nội dung:
                                            </p>
                                            <p class="text-body text-primary">{{report.content}}</p>
                                        </div>

                                        <div class="layout-horizontal gap-5">
                                            <p class="text-body-strong text-primary" style="min-width: 100px;">Thời
                                                gian:</p>
                                            <p class="text-body text-primary">{{report.created_at_time}} -
                                                {{report.created_at_date}}</p>
                                        </div>

                                        <div class="layout-horizontal gap-5">
                                            <p class="text-body-strong text-primary" style="min-width: 100px;">Trạng
                                                thái:</p>
                                            <p class="text-body text-primary">Đã gửi</p>
                                        </div>

                                        <div class="layout-vertical gap-5">
                                            <p class="text-body-strong text-primary" style="min-width: 100px;">Bài viết:
                                            </p>
                                            <div class="border rounded-6 px-15 py-10 layout-horizontal gap-10 w-fill">
                                                <div *ngIf="report.post.post_type == 'with_media'">
                                                    <div *ngFor="let image of report.post.medias"
                                                        class="layout-vertical">
                                                        <img [src]="image.path" alt="" style="width: 150px;"
                                                            class="rounded-4 my-5">
                                                    </div>
                                                </div>
                                                <div class="layout-vertical gap-10">
                                                    <p class="text-body text-primary text-justify">
                                                        {{report.post.content}}</p>
                                                    <p class="text-body-strong text-primary">
                                                        {{report.post.profile.display_name}}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layout-horizontal align-center-right">
                                            <button type="button" class="button-standard button-text-with-icon"
                                                (click)="cancelReport(report.id, report.type)">
                                                Thu hồi báo cáo
                                                <i class="icon-size-16 icon icon-ic_fluent_arrow_reset_48_regular"></i>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- for -->

                    </div>

                    <!-- danh sách báo cáo user -->
                    <div class="accordion-panel open layout-vertical user_report">

                        <div class="px-15 py-10" *ngIf="listUserReport?.length==0">
                            <div class="w-fill py-10 card-background-default border border-card-default rounded-6">
                                <p class="text-body text-secondary text-center">Trống</p>
                            </div>
                        </div>

                        <!-- for -->
                        <div class="p-15 layout-horizontal align-center-space-between"
                            *ngFor="let report of listUserReport">
                            <div class="layout-horizontal align-center-center gap-15 w-fill">
                                <a [routerLink]="['/friend-profile', report.user.profile.user_id]" class="layout-horizontal align-center-center gap-15 w-fill">
                                    <div style="width: 35px; height: 35px;">
                                        <img class="rounded-circle border border-card-default object-fit-cover"
                                            [src]="report.user.profile.profile_photo" alt=""
                                            style="width: 35px; height: 35px;">
                                    </div>
                                    <p class="text-secondary text-body-strong w-fill">
                                        {{report.user.profile.display_name}}</p>
                                </a>
                                <button type="button" class="button-standard button-text-with-icon"
                                    (click)="viewReport(report.id)">
                                    Xem
                                    <i class="icon-size-16 icon icon-ic_fluent_eye_tracking_16_regular"></i>
                                </button>
                            </div>

                            <div class="position-fixed top-0 start-0"
                                *ngIf="report_id == report.id && report.type == 'user'"
                                style="width: 100%; height: 100vh; z-index: 20;">
                                <div class="position-absolute top-0 start-0"
                                    style="width: 100%; height: 100vh; z-index: 1; background-color: rgba(0, 0, 0, 0.2); backdrop-filter: blur(2px);"
                                    (click)="viewReport(0)">
                                </div>
                                <div class="dialog-panel position-absolute top-50 start-50 translate-middle"
                                    style="z-index: 2;">
                                    <div class="layout-vertical p-20 gap-20 rounded-8 acrylic-background-default blur-acrylic border border-card-default"
                                        style="width: 700px;">

                                        <button type="button"
                                            class="button-subtle button-icon-only w-hug position-absolute"
                                            style="right: 20px; top: 20px; z-index: 1;" (click)="viewReport(0)">
                                            <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_filled"></i>
                                        </button>

                                        <div class="pb-20 pt-5 border-bottom">
                                            <p class="text-subtitle text-primary text-center">Báo cáo tài khoản</p>
                                        </div>

                                        <div class="layout-horizontal gap-5">
                                            <p class="text-body-strong text-primary" style="min-width: 100px;">Nội dung:
                                            </p>
                                            <p class="text-body text-primary">{{report.content}}</p>
                                        </div>

                                        <div class="layout-horizontal gap-5">
                                            <p class="text-body-strong text-primary" style="min-width: 100px;">Thời
                                                gian:</p>
                                            <p class="text-body text-primary">{{report.created_at_time}} -
                                                {{report.created_at_date}}</p>
                                        </div>

                                        <div class="layout-horizontal gap-5">
                                            <p class="text-body-strong text-primary" style="min-width: 100px;">Trạng
                                                thái:</p>
                                            <p class="text-body text-primary">Đã gửi</p>
                                        </div>

                                        <div class="layout-vertical gap-5">
                                            <p class="text-body-strong text-primary" style="min-width: 100px;">Tài
                                                khoản:
                                            </p>
                                            <div
                                                class="border rounded-6 p-15 layout-horizontal align-center-left gap-10 w-fill">
                                                <div>
                                                    <img [src]="report.user.profile.profile_photo" alt=""
                                                        style="width: 50px; height: 50px;"
                                                        class="rounded-circle object-fit-cover">
                                                </div>
                                                <div class="layout-vertical gap-5">
                                                    <p class="text-body-strong text-primary">
                                                        {{report.user.profile.display_name}}</p>
                                                    <p class="text-body text-primary">
                                                        {{report.user.email}}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layout-horizontal align-center-right">
                                            <button type="button" class="button-standard button-text-with-icon"
                                                (click)="cancelReport(report.id, report.type)">
                                                Thu hồi báo cáo
                                                <i class="icon-size-16 icon icon-ic_fluent_arrow_reset_48_regular"></i>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- for -->

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>