.bubble_active{
    border: 2px solid var(--accent-default);
    border-radius: 100px;
    padding: 1px;
}

.box-chat {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.mess-hover .mess-menu {
    display: none;
    position: absolute;
    overflow: visible;
    z-index: 1;
}

.mess-hover:hover .mess-menu {
    display: flex;
}

.textarea-chat {
    resize: none;
    max-height: 200px;
}

.border-focus {
    outline: 3px solid rgb(0, 0, 0, 0.9);
    outline-offset: 3px;
}


.layout-1 {
    display: grid;
    gap: 10px;
}

.layout-2,
.layout-3,
.layout-4,
.layout-5,
.layout-6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.layout-3-2,
.layout-3-3,
.layout-3-4,
.layout-3-5,
.layout-3-6 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.layout-1>div {
    margin: auto;
    max-width: 600px;
}

.layout-3>div:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
}

.layout-5>div:nth-child(1),
.layout-6>div:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 6;
}

.layout-5>div:nth-child(2),
.layout-6>div:nth-child(2) {
    grid-row-start: 6;
    grid-row-end: 12;
}

.layout-5>div:nth-child(3),
.layout-6>div:nth-child(3) {
    grid-row-start: 1;
    grid-row-end: 4;
}

.layout-5>div:nth-child(4),
.layout-6>div:nth-child(4) {
    grid-row-start: 4;
    grid-row-end: 8;
}

.layout-5>div:nth-child(5),
.layout-6>div:nth-child(5) {
    grid-row-start: 8;
    grid-row-end: 12;
}

.layout-6>div:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
}

.mini_box {
    width: 390px;
}

@media (max-width: 480px) {
    .mini_box {
        width: calc(100vw - 90px);
    }
}