section>article {
    margin-top: 50px;
}

@media (max-width: 480px) {
    section>article {
        margin-top: 90px;
    }
}

@media (max-width: 850px) {
    section {
        height: auto !important;
    }
}

.layout-1 {
    display: grid;
    gap: 10px;
}

.layout-2,
.layout-3,
.layout-4,
.layout-5,
.layout-6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* min-height: 500px; */
    gap: 10px;
}

.layout-1>div {
    margin: auto;
    max-width: 600px;
}

.layout-3>div:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
}

.layout-5>div:nth-child(1),
.layout-6>div:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 6;
}

.layout-5>div:nth-child(2),
.layout-6>div:nth-child(2) {
    grid-row-start: 6;
    grid-row-end: 12;
}

.layout-5>div:nth-child(3),
.layout-6>div:nth-child(3) {
    grid-row-start: 1;
    grid-row-end: 4;
}

.layout-5>div:nth-child(4),
.layout-6>div:nth-child(4) {
    grid-row-start: 4;
    grid-row-end: 8;
}

.layout-5>div:nth-child(5),
.layout-6>div:nth-child(5) {
    grid-row-start: 8;
    grid-row-end: 12;
}

.layout-6>div:nth-child(5)::before {
    content: "+";
    font-size: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.user-hover .user-menu,
.post-hover .post-menu {
    display: none;
}

.post-hover:focus {
    background-color: var(--subtle-secondary);
}

.user-hover:focus .user-menu,
.post-hover:focus .post-menu {
    display: block;
}

.textarea-post {
    max-height: 110px;
    overflow-y: scroll;
}

.textarea-post::-webkit-scrollbar {
    width: 5px;
}

.textarea-post::-webkit-scrollbar-thumb {
    background-color: #a6e7ff;
    border-radius: 10px;
}

.textarea-post::-webkit-scrollbar-thumb:hover {
    background-color: #005FB8E6;
    cursor: pointer;
}