th,
td {
    padding: 10px;
}

.opacity-5 {
    opacity: 0.5;
}

.dialog_voucher {
    width: 1000px;
}

.h_list_prod {
    height: 445px;
}

@media (max-width: 1040px) {

    .dialog_voucher {
        width: calc(100vw - 40px);
    }
}

@media (max-width: 850px) {

    .h_list_prod {
        height: 200px;
    }
}

@media (max-width: 480px) {

    .dialog-panel {
        max-height: 70vh;
    }
}