<section class="gradient-background layout-horizontal" style="height: 100vh;">
    <app-nav class="h-fill"></app-nav>

    <article class="py-20 m-20 w-fill overflow-scroll-vertical ">
        <div class="layout-horizontal  align-center-space-between mt-20 p-20" >
            <div class="layout-horizontal gap-10 " style="padding: 10px;">
                <!-- search -->
                <div class="layout-horizontal gap-10  ">
                    <label for="filterStatus">Lọc trạng thái:</label>
                    <select  class= "dropdown-menu"  [(ngModel)]="filterStatus" (change)="filterReports()">
                      <option value="all" class="list-item"><div class="text-body">Tất cả</div></option>
                      <option value="pending" class="list-item"> <div class="text-body">Chưa giải quyết</div></option>
                      <option value="resolved" class="list-item"><div class="text-body">Đã giải quyết</div></option>
                    </select>
                    
                  </div>
                <!-- fillter -->
                <div class="layout-horizontal gap-10">
                    <a [routerLink]="['/admin/report/post']"
                        class="button-standard button-text-with-icon gap-10">
                        <i
                            class="icon-size-16 icon icon-ic_fluent_document_one_page_multiple_16_regular"></i>
                        Bài viết
                    </a>
                    <a [routerLink]="['/admin/report/comment']"
                        class="button-standard button-text-with-icon gap-10">
                        <i
                            class="icon-size-20 icon icon-ic_fluent_check_20_regular"></i>
                        Bình luận
                    </a>
                    <a [routerLink]="['/admin/report/user']"
                        class="button-standard button-text-with-icon gap-10">
                        <i
                            class="icon-size-16 icon icon-ic_fluent_person_16_regular"></i>
                        Người dùng
                    </a>
                    <a [routerLink]="['/admin/report']"
                    class="button-standard button-text-with-icon gap-10">
                    <i
                        class="icon-size-16 icon icon-ic_fluent_person_16_regular"></i>
                    Tất cả
                </a>
                
                </div>

            </div>
            <div class="me-25">
                <pagination-controls (pageChange)="currentPage = $event" previousLabel=""
                nextLabel=""></pagination-controls>
            </div>
        </div>
        <div style="padding: 20px;">
            <div class="table-container solid-background-senary p-10 rounded-8 text-primary ">
                <table class="table w-fill text-center">
                    <thead>
                        <tr class>
                            <th><input type="checkbox"></th>
                            <th class="text-primary">Báo cáo người dùng</th>
                            <th class="text-primary">Tên người dùng</th>
                            <th class="text-primary">Nội dung báo cáo</th>
                            <th class="text-primary">Trạng thái</th>
                            <th class="text-primary">Ngày báo cáo</th>
                            <th class="text-primary">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of filteredReports | paginate: { itemsPerPage: 2, currentPage: currentPage }; let i = index ">
                          <td><input type="checkbox"></td>
                          <td>{{item.user.profile.display_name}}</td>
                          <td>{{item.sender.profile.display_name}}</td>
                          <td>
                            <span [ngClass]="{ 'expanded': item.isExpanded }">
                              {{ item.isExpanded ? item.content : shortenTextByWords(item.content, 8) }}
                            </span>
                          </td>
                          <td>
                            <div class="status-select-container">
                                <select 
                                    [(ngModel)]="item.status" 
                                    (change)="updateStatus(item)" 
                                    class="status-select"
                                    [class.text-red]="item.status === 'pending'"
                                    [class.text-green]="item.status === 'resolved'">
                                    <option value="pending">Chưa giải quyết</option>
                                    <option value="resolved">Đã giải quyết</option>
                                </select>
                            </div>
                          </td>
                          <td>{{item.created_at_date}}</td>
                          <td class="layout-horizontal gap-20 w-fill">
                            <a href="#" 
                               class="button-subtle button-icon-only text-accent-default"
                               (click)="toggleDetails(i, $event)">
                              <i 
                                class="icon-size-24 icon"
                                [class.icon-ic_fluent_settings_24_filled]="!item.isExpanded"
                                [class.icon-ic_fluent_dismiss_16_regular]="item.isExpanded"></i>
                            </a>
                            <!-- <a href="#" 
                               class="button-subtle button-icon-only text-accent-default">
                              <i class="icon-size-24 icon icon-ic_fluent_info_24_filled"></i>
                            </a> -->
                          </td>
                        </tr>
                    </tbody>
                    
                      
                </table>
            </div>
        </div>
    
    </article>
</section>