<div class="w-fill layout-vertical p-10 gap-10 rounded-8 border border-card-default card-background-default">
    <div class="w-fill layout-horizontal align-center-space-between">
        <p class="text-secondary text-body-strong">Khám phá</p>
        <a href="" class="link">Xem tất cả</a>
    </div>
    <div class="layout-horizontal pt-10 border-top border-card-default">
        <div class="layout-vertical w-fill">
            <p class="text-body-strong text-secondary">#2023</p>
            <p class="text-body text-tertiary">100 bài đăng</p>
        </div>
        <button type="button" class="button-subtle button-icon-only text-secondary">
            <i class="icon-size-16 icon icon-ic_fluent_more_horizontal_16_filled"></i>
        </button>
    </div>
    <div class="layout-horizontal pt-10 border-top border-card-default">
        <div class="layout-vertical w-fill">
            <p class="text-body-strong text-secondary">#2023</p>
            <p class="text-body text-tertiary">100 bài đăng</p>
        </div>
        <button type="button" class="button-subtle button-icon-only text-secondary">
            <i class="icon-size-16 icon icon-ic_fluent_more_horizontal_16_filled"></i>
        </button>
    </div>
    <div class="layout-horizontal pt-10 border-top border-card-default">
        <div class="layout-vertical w-fill">
            <p class="text-body-strong text-secondary">#2023</p>
            <p class="text-body text-tertiary">100 bài đăng</p>
        </div>
        <button type="button" class="button-subtle button-icon-only text-secondary">
            <i class="icon-size-16 icon icon-ic_fluent_more_horizontal_16_filled"></i>
        </button>
    </div>
    <div class="layout-horizontal pt-10 border-top border-card-default">
        <div class="layout-vertical w-fill">
            <p class="text-body-strong text-secondary">#2023</p>
            <p class="text-body text-tertiary">100 bài đăng</p>
        </div>
        <button type="button" class="button-subtle button-icon-only text-secondary">
            <i class="icon-size-16 icon icon-ic_fluent_more_horizontal_16_filled"></i>
        </button>
    </div>
    <div class="layout-horizontal pt-10 border-top border-card-default">
        <div class="layout-vertical w-fill">
            <p class="text-body-strong text-secondary">#2023</p>
            <p class="text-body text-tertiary">100 bài đăng</p>
        </div>
        <button type="button" class="button-subtle button-icon-only text-secondary">
            <i class="icon-size-16 icon icon-ic_fluent_more_horizontal_16_filled"></i>
        </button>
    </div>
    <div class="layout-horizontal pt-10 border-top border-card-default">
        <div class="layout-vertical w-fill">
            <p class="text-body-strong text-secondary">#2023</p>
            <p class="text-body text-tertiary">100 bài đăng</p>
        </div>
        <button type="button" class="button-subtle button-icon-only text-secondary">
            <i class="icon-size-16 icon icon-ic_fluent_more_horizontal_16_filled"></i>
        </button>
    </div>
</div>
<div class="w-fill layout-vertical rounded-8 border border-card-default card-background-default">
    <div class="w-fill layout-horizontal align-center-space-between px-20 py-10">
        <p class="text-secondary text-body-strong">Gợi ý kết bạn</p>
    </div>
    <div class="layout-horizontal gap-15 px-20 py-10 border-top border-card-default align-center-center">
        <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
        <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
        <a href="" class="link">Follow</a>
    </div>
    <div class="layout-horizontal gap-15 px-20 py-10 border-top border-card-default align-center-center">
        <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
        <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
        <a href="" class="link">Follow</a>
    </div>
    <div class="layout-horizontal gap-15 px-20 py-10 border-top border-card-default align-center-center">
        <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
        <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
        <a href="" class="link">Follow</a>
    </div>
    <div class="layout-horizontal gap-15 px-20 py-10 border-top border-card-default align-center-center">
        <img src="assets/image/avatar.png" alt="" style="width: 35px; height: 35px;">
        <p class="text-secondary text-body-strong w-fill">Châu Thành Cường</p>
        <a href="" class="link">Follow</a>
    </div>
    <div class="w-fill layout-horizontal align-center-space-between px-20 py-10 border-top border-card-default">
        <a href="" class="link">Xem thêm</a>
    </div>
</div>