<section class="gradient-background layout-vertical overflow-hidden" style="height: 100vh;">

    <div class="bg-page-login-left">
        <img style="left: 550px; top: 450px;" src="assets/image/3d-glassy-wide-wavy-gradient-ribbon 1.png" alt=""
            class="position-absolute moving moving-delay-1">
        <img style="left: 300px; top: 180px;" src="assets/image/3d-glassy-two-deformed-thin-lenses 2.png" alt=""
            class="position-absolute moving moving-delay-2">
        <img style="left: 250px; top: 500px;" src="assets/image/3d-glassy-bent-transparent-striped-plastic-card 1.png"
            alt="" class="position-absolute moving moving-delay-3">
    </div>
    <div class="bg-page-login-right">
        <img style="right: 200px; top: 250px;" src="assets/image/3d-glassy-flexible-display-with-contact-list 1.png"
            alt="" class="position-absolute moving moving-delay-1">
        <img style="right: 550px; top: 100px;" src="assets/image/3d-glassy-bent-plastic-card 2.png" alt=""
            class="position-absolute moving moving-delay-2">
    </div>

    <article class="layout-vertical w-fill h-fill align-center-center">
        <form (submit)="login(frm)" #frm="ngForm"
            class="layout-vertical acrylic-background-default blur-acrylic border border-card-default rounded-8 p-25 gap-25 shadow-card"
            style="width: 400px;">

            <p *ngIf="error" class="validation-message validation-critical text-body text-primary">
                <i class="icon-size-16 icon icon-ic_fluent_dismiss_circle_16_filled"></i>
                <span>{{error}}</span>
            </p>

            <div class="w-fill layout-horizontal gap-10 align-center-center">
                <img src="assets/image/Logo.png" alt="">
                <p class="text-subtitle text-primary">Infinix</p>
            </div>

            <p class="text-body-large text-primary">{{ 'login.title' | translate }}</p>

            <div class="w-fill layout-vertical gap-5">
                <label for="email" class="w-fill text-body text-primary">{{ 'login.email_label' | translate }}</label>
                <div class="control text-control w-fill ">
                    <input spellcheck="false" id="email" type="email" name="email" #email="ngModel" ngModel required
                        email (input)="error = ''">
                </div>
                <p *ngIf="email.errors?.['email']"
                    class="validation-message validation-critical text-caption text-system-critical">
                    <i class="icon-size-16 icon icon-ic_fluent_dismiss_circle_16_filled"></i>
                    <span class="text-body-strong">{{ 'login.email_label' | translate }}</span>
                    <span>{{ 'login.format_email' | translate }}</span>
                </p>
            </div>

            <div class="w-fill layout-vertical gap-5">
                <label for="password" class="w-fill text-body text-primary">{{ 'login.password_label' | translate
                    }}</label>
                <div class="control password-control w-fill">
                    <input spellcheck="false" id="password" type="password" name="password" #password="ngModel" ngModel
                        required minlength="8" (input)="error = ''">
                    <button type="button" class="input-button show-password-button">
                        <i class="icon-size-16 icon icon-ic_fluent_eye_16_regular"></i>
                    </button>
                </div>
                <p *ngIf="password.errors?.['minlength']"
                    class="validation-message validation-critical text-caption text-system-critical">
                    <i class="icon-size-16 icon icon-ic_fluent_dismiss_circle_16_filled"></i>
                    <span class="text-body-strong">Password</span>
                    <span>{{ 'login.format_password' | translate }}</span>
                </p>
            </div>

            <p class="text-body text-tertiary">{{ 'login.dont_have_account' | translate }}
                <a [routerLink]="['/register']" class="link">
                    {{ 'login.create_new_account' | translate }}
                </a>
            </p>


            <a [routerLink]="['/forgot-password']" class="link">{{ 'login.forgot_password' | translate }}</a>

            <div class="w-fill layout-horizontal align-center-right">
                <button type="submit" class="button-accent button-text-only" [disabled]="frm.invalid">
                    {{ 'login.login_button' | translate }}
                </button>
            </div>
        </form>
    </article>
</section>