<section class="gradient-background layout-vertical" style="height: 100vh;">

    <article class="layout-horizontal gap-20 px-20 w-fill h-fill overflow-hidden align-top-center">

        <div
            class="w-fill-column-3 h-fill layout-vertical gap-20 py-20 overflow-scroll-vertical in-tablet-w-fill in-mobile-w-fill">
            <div class="layout-vertical card-background-default border border-card-default rounded-8"
                style="height: calc(100vh - 85px);">

                <div class="overflow-scroll-vertical">
                    <div class="border-top">
                        <button type="button" class="button-subtle w-fill gap-15 px-20 py-15" style="cursor: pointer;">
                            <p class="text-secondary text-body-strong w-fill layout">
                                Tất cả
                            </p>
                        </button>
                    </div>
                    <div class="border-top">
                        <button type="button" class="button-subtle w-fill gap-15 px-20 py-15" style="cursor: pointer;">
                            <p class="text-secondary text-body-strong w-fill layout">
                                Đơn hàng
                            </p>
                        </button>
                    </div>
                    <div class="border-top">
                        <button type="button" class="button-subtle w-fill gap-15 px-20 py-15" style="cursor: pointer;">
                            <p class="text-secondary text-body-strong w-fill layout">
                                Thông tin
                            </p>
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div
            class="w-fill-column-6 h-fill layout-vertical gap-20 py-20 overflow-scroll-vertical hide-in-tablet hide-in-mobile">
            <div class="layout-vertical card-background-default border border-card-default rounded-8"
                style="height: calc(100vh - 85px);">

                <div class="layout-horizontal align-center-space-between px-20 py-15">
                    <p class="text-primary text-subtitle">Tất cả sản phẩm</p>

                    <select name="" id="" class="control text-primary">
                        <option value="">Tất cả</option>
                        <option value="">Tất cả</option>
                        <option value="">Tất cả</option>
                    </select>
                </div>

                <div class="layout-wrap gap-20 p-20 border-top border-card-default w-fill overflow-scroll-vertical">

                    <div class="border rounded-4 layout-vertical w-fill-column-4 overflow-hidden"><!-- for -->
                        <img src="assets/image/hinh.jpg" alt="" style="height: 150px;" class="w-fill object-fit-cover">
                        <div class="layout-vertical gap-20 w-fill p-10">
                            <p class="text-primary text-body-strong cursor-pointer"
                                (click)="showDiaLogDetailProduct({'id':1})">{{shortenTextByWords(text, 10)}}</p>
                            <div class="layout-horizontal align-center-space-between">
                                <p class="text-primary text-body w-fill">{{ 5000000 | currencyVND }}</p>
                                <button type="button" class="button-standard button-icon-only">
                                    <i class="icon-size-16 icon icon-ic_fluent_cart_16_filled"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="position-fixed top-0 start-0 {{(productId != 0) ? 'display-block' : 'display-none'}}"
                    style="width: 100%; height: 100vh; z-index: 20;">
                    <div class="position-absolute top-0 start-0" (click)="showDiaLogDetailProduct(null)"
                        style="width: 100%; height: 100vh; z-index: 1; background-color: rgba(0, 0, 0, 0.2); backdrop-filter: blur(2px);">
                    </div>
                    <div class="dialog-panel position-absolute top-50 start-50 translate-middle" style="z-index: 2;">
                        <div class="layout-vertical p-20 gap-20 rounded-8 solid-background-base border border-card-default"
                            style="width: 500px;">

                            <button type="button" class="button-subtle button-icon-only w-hug position-absolute"
                                (click)="showDiaLogDetailProduct(null)" style="right: 20px; top: 20px; z-index: 1;">
                                <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_filled"></i>
                            </button>

                            <div class="pb-20 pt-5 border-bottom">
                                <p class="text-subtitle text-primary text-center">Chi tiết sản phẩm</p>
                            </div>

                            <div class="border rounded-4 layout-vertical w-fill-column-4 overflow-hidden">
                                <img src="assets/image/hinh.jpg" alt="" style="height: 150px;"
                                    class="w-fill object-fit-cover">
                                <div class="layout-vertical gap-20 w-fill p-10">
                                    <p class="text-primary text-body-strong cursor-pointer">{{shortenTextByWords(text,
                                        10)}}</p>
                                    <div class="layout-horizontal align-center-space-between">
                                        <p class="text-primary text-body w-fill">{{ 5000000 | currencyVND }}</p>
                                        <button type="button" class="button-standard button-icon-only">
                                            <i class="icon-size-16 icon icon-ic_fluent_cart_16_filled"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </article>
</section>