<section class="gradient-background layout-vertical p-25" style="height: 100vh;">
    <!-- Article -->
    <article class="layout-horizontal gap-20 px-20 w-fill h-fill overflow-hidden align-center-center">

        <div class="w-fill-column-8 h-fill layout-vertical overflow-scroll-vertical gap-20">
            <p class="text-subtitle text-primary">Danh sách bài viết được lưu</p>
            <div class="w-fill h-hug layout-vertical gap-20">

                <!-- for -->
                <div *ngFor="let post of listPost"
                    class="w-fill card-background-default border border-card-default p-20 gap-20 rounded-8 layout-horizontal shadow-card">

                    <div *ngIf="post.post_type == 'with_media'"
                        class="rounded-6 border border-card-default overflow-hidden layout w-fill-column-3"
                        style="height: 150px !important;">
                        <img [src]="post.medias[0].path" alt=""
                            class="w-fill h-fill object-fit-cover">
                    </div>

                    <div class="layout-vertical w-fill gap-20">
                        <a [routerLink]="['/friend-profile', post.profile.user_id]" class="layout-horizontal w-fill align-center-left gap-5">
                            <img [src]="post.profile.profile_photo" alt=""
                                class="border border-card-default rounded-circle" style="width: 35px; height: 35px;">
                            <p class="text-body-strong text-primary">{{post.profile.display_name}}</p>
                        </a>
                        <div class="text-body text-primary w-fill h-fill">
                            {{post.content}}
                        </div>
                        <div class="layout-horizontal gap-10">
                            <a  [routerLink]="['/friend-profile', post.profile.user_id, post.id]" class="button-accent button-text-only">Xem chi tiết</a>

                            <button type="button" class="button-standard button-icon-only">
                                <i class="icon-size-16 icon icon-ic_fluent_share_android_16_filled"></i>
                            </button>

                            <button (click)="bookmarkPost(post.id)" type="button" class="button-standard button-icon-only">
                                <i class="icon-size-16 icon icon-ic_fluent_bookmark_off_20_filled"></i>
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </article>
    <!-- End Article -->
</section>