<header
    class="layout-horizontal in-mobile-layout-vertical w-fill gap-20 align-center-center layer-default px-10 py-5 in-mobile-gap-5 in-mobile-py-10">
    <div class="w-fill-column-8 layout-horizontal in-mobile-w-fill">
        <div class="w-fill hide-in-mobile hide-in-tablet">
            <a [routerLink]="['/']">
                <img src="assets/image/Logo.png" alt="">
            </a>
        </div>
        <div class="w-fill layout gap-20 in-mobile-gap-10">
            <div class="w-hug show-in-mobile show-in-tablet">
                <img src="assets/image/Logo.png" alt="">
            </div>
            <div class="search-dropdown-control w-fill">

                <div class="control search-control">
                    <input class="rounded-2" (keydown)="gotoSearch($event, keyword)" type="search" name="search"
                        [(ngModel)]="keyword" placeholder="Tìm kiếm" spellcheck="false" required>
                    <button type="button" class="input-button clear-content-button" (click)="clearSearch()">
                        <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_regular"></i>
                    </button>
                    <a [routerLink]="['/search', keyword]" class="input-button search-button">
                        <i class="icon-size-16 icon icon-ic_fluent_search_16_regular"></i>
                    </a>
                </div>

                <!-- <div class="dropdown-menu" *ngIf="friends.length > 0 && currentRoute != 'search'">
                    <div class="list-item layout-horizontal align-center-center" *ngFor="let friend of friends">
                        <div class="text-body w-fill">{{friend.profile.display_name}}</div>
                        <button *ngIf="!friend.is_friend" type="button"
                            class="button-accent button-text-only w-hug py-5 px-10"
                            (click)="addFriend(friend.id)">Thêm</button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="w-fill-column-4 in-mobile-w-fill">
        <div class="layout-horizontal gap-20 align-center-right in-mobile-align-center-space-evenly">
            <a [routerLink]="['/']"
                class="button-subtle button-icon-only {{(currentRoute == '')?'text-accent-default':'text-secondary'}}">
                <i *ngIf="(currentRoute == '')" class="icon-size-24 icon icon-ic_fluent_home_24_filled"></i>
                <i *ngIf="(currentRoute != '')" class="icon-size-24 icon icon-ic_fluent_home_24_regular"></i>
            </a>

            <a *ngIf="currentRoute == 'notification'" class="button-subtle button-icon-only text-accent-default">
                <i class="icon-size-24 icon icon-ic_fluent_alert_24_filled"></i>
            </a>

            <a (click)="viewDiaLogHeader('noti')" *ngIf="currentRoute != 'notification'"
                class="button-subtle button-icon-only {{(diaLogHeader == 'noti')?'text-accent-default':'text-secondary'}}">
                <i *ngIf="(diaLogHeader == 'noti')" class="icon-size-24 icon icon-ic_fluent_alert_24_filled"></i>
                <i *ngIf="(diaLogHeader != 'noti')" class="icon-size-24 icon icon-ic_fluent_alert_24_regular"></i>

                <p *ngIf="notification?.length > 0"
                    class="position-absolute rounded-circle top-0 end-0 text-on-accent-primary layout align-center-center"
                    style="background-color: #C42B1C; width: 13px; height: 13px; font-size: 10px; margin-right: 5px;">
                    <span>{{notification?.length}}</span>
                </p>
            </a>

            <a (click)="viewDiaLogHeader('cart')"
                class="button-subtle button-icon-only {{(diaLogHeader == 'cart')?'text-accent-default':'text-secondary'}}">
                <i *ngIf="(diaLogHeader == 'cart')" class="icon-size-24 icon icon-ic_fluent_cart_24_filled"></i>
                <i *ngIf="(diaLogHeader != 'cart')" class="icon-size-24 icon icon-ic_fluent_cart_24_regular"></i>

                <p *ngIf="cart.products?.length > 0"
                    class="position-absolute rounded-circle top-0 end-0 text-on-accent-primary layout align-center-center"
                    style="background-color: #C42B1C; width: 13px; height: 13px; font-size: 10px; margin-right: 5px;">
                    <span>{{cart.products?.length}}</span>
                </p>
            </a>

            <a [routerLink]="['/bookmark']"
                class="button-subtle button-icon-only {{(currentRoute == 'bookmark')?'text-accent-default':'text-secondary'}}">
                <i *ngIf="(currentRoute == 'bookmark')" class="icon-size-24 icon icon-ic_fluent_bookmark_24_filled"></i>
                <i *ngIf="(currentRoute != 'bookmark')"
                    class="icon-size-24 icon icon-ic_fluent_bookmark_24_regular"></i>
            </a>
            <a [routerLink]="['/chat']"
                class="button-subtle button-icon-only {{(currentRoute == 'chat')?'text-accent-default':'text-secondary'}}">
                <i *ngIf="(currentRoute == 'chat')" class="icon-size-24 icon icon-ic_fluent_chat_24_filled"></i>
                <i *ngIf="(currentRoute != 'chat')" class="icon-size-24 icon icon-ic_fluent_chat_24_regular"></i>
            </a>

            <a [routerLink]="['/setting']"
                class="button-subtle button-icon-only {{(currentRoute == 'setting')?'text-accent-default':'text-secondary'}}">
                <i *ngIf="(currentRoute == 'setting')" class="icon-size-24 icon icon-ic_fluent_settings_24_filled"></i>
                <i *ngIf="(currentRoute != 'setting')" class="icon-size-24 icon icon-ic_fluent_settings_24_regular"></i>
            </a>
            <a href="#" class="hide-in-desktop show-in-mobile button-subtle button-icon-only text-secondary">
                <i class="icon-size-24 icon icon-ic_fluent_navigation_24_regular"></i>
            </a>
        </div>
    </div>

    <div style="position: absolute; top: 50px; right: 100px; z-index: 40; width: 500px; height: 75vh;"
        *ngIf="diaLogHeader == 'noti' && currentRoute != 'notification'">
        <div class="layout-vertical h-fill rounded-8 border border-card-default solid-background-senary">

            <div class="layout-vertical gap-10 px-10 py-20 border-bottom border-card-default">
                <p class="text-subtitle text-primary">Thông báo</p>
                <div class="layout-horizontal align-center-space-between">
                    <div class="layout-horizontal gap-10">
                        <button type="button" class="button-accent button-text-only">Tất cả</button>
                        <button type="button" class="button-standard button-text-only">Chưa đọc</button>
                    </div>
                    <button type="button" class="button-standard button-text-only">Đánh dấu tất cả là đã
                        đọc</button>
                </div>
            </div>

            <div class="layout-vertical p-10 h-fill overflow-scroll-vertical">

                <!-- Thông báo like bài viết -->
                <div class="layout" *ngFor="let noti of notification">

                    <!-- Đánh dấu là thông báo chưa đọc -->
                    <div *ngIf="noti.is_read == 0" class="position-absolute accent-default rounded-2 start-0"
                        style="width: 3px; height: calc(100% - 25px); top: 13px;"></div>

                    <!-- Nội dung thông báo -->
                    <div class="noti-hover layout-horizontal gap-10 w-fill align-center-space-between ps-20 py-10">
                        <img [src]="noti.target_user.profile.profile_photo" alt=""
                            class="rounded-circle object-fit-cover" style="width: 35px; height: 35px;">
                        <div *ngIf="noti.is_read == 0" class="list-item layout-vertical gap-5 w-fill"
                            (click)="updateNotification(noti.id)">
                            <p class="text-body text-primary">{{noti.content}}</p>
                            <p class="text-secondary text-caption">{{noti.created_at_time}} - {{noti.created_at_date}}
                            </p>
                        </div>
                        <div *ngIf="noti.is_read != 0" class="list-item layout-vertical gap-5 w-fill">
                            <p class="text-body text-primary">{{noti.content}}</p>
                            <p class="text-secondary text-caption">{{noti.created_at_time}} - {{noti.created_at_date}}
                            </p>
                        </div>
                        <button type="button" class="button-standard button-icon-only"
                            (click)="deleteNotification(noti.id)">
                            <i class="icon-size-16 icon icon-ic_fluent_delete_16_filled"></i>
                        </button>
                    </div>
                </div>
                <!-- Thông báo comment bài viết -->

            </div>

            <div class="p-10">
                <a [routerLink]="['/notification']" class="button-subtle button-text-only w-fill">Xem thêm</a>
            </div>
        </div>
    </div>
    <div style="position: absolute; top: 50px; right: 20px; z-index: 40; width: 500px; height: 75vh;"
        *ngIf="diaLogHeader == 'cart'">
        <div class="layout-vertical h-fill rounded-8 border border-card-default solid-background-senary">

            <div class="layout-horizontal gap-10 px-10 py-20 border-bottom border-card-default">
                <p class="text-subtitle text-primary w-fill">Giỏ hàng</p>
                <button type="button" class="button-subtle button-icon-only" (click)="viewDiaLogHeader('cart')">
                    <i class=" icon-size-16 icon icon-ic_fluent_dismiss_16_filled"></i>
                </button>
            </div>

            <div class="layout-vertical p-10 h-fill overflow-scroll-vertical">

                <div class="border-bottom layout-horizontal align-center-center w-fill pb-10"
                    *ngFor="let item of cart?.products">
                    <img [src]="item.images[0].image" alt="" style="height: 100px; width: 100px;"
                        class="ms-10 object-fit-cover rounded-4">
                    <div class="layout-vertical gap-20 w-fill p-10">
                        <div class="layout-horizontal gap-10">
                            <p class="text-primary text-body-strong w-fill">{{item.name}}</p>
                            <button type="button" class="button-subtle button-icon-only"
                                (click)="removeToCart(item.id)">
                                <i class="icon-size-16 icon icon-ic_fluent_dismiss_16_filled"></i>
                            </button>
                        </div>
                        <div class="layout-horizontal align-center-space-between">
                            <div class="layout-vertical">
                                <p class="text-primary text-caption w-fill">{{
                                    item.price-((item.price*item.discount)/100) | currencyVND }}</p>
                                <p class="text-primary text-body-strong w-fill">{{
                                    (item.price-((item.price*item.discount)/100))*item.pivot.quantity | currencyVND }}
                                </p>
                            </div>
                            <div class="control number-control">
                                <input type="number" [(ngModel)]="item.pivot.quantity" min="1" step="1">
                                <button type="button" class="input-button increase-number-button"
                                    (click)="addQuantity(item.id)">
                                    <i class="icon-size-16 icon icon-ic_fluent_chevron_up_16_regular"></i>
                                </button>
                                <button type="button" class="input-button decrease-number-button"
                                    (click)="reduceQuantity(item.id)">
                                    <i class="icon-size-16 icon icon-ic_fluent_chevron_down_16_regular"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="p-10 layout-horizontal align-center-space-between gap-10 border-top">
                <p class="text-primary text-body-strong">Tổng tiền: <span class="text-body">{{cart?.total |
                        currencyVND}}</span></p>
                <!-- <button type="button" class="button-accent button-text-only" (click)="paymentVnpay()">Thanh toán
                    VnPay</button>
                <button type="button" class="button-accent button-text-only" (click)="paymentZalopay()">Thanh toán
                    ZaloPay</button> -->
                <button type="button" class="button-accent button-text-only">Thanh toán</button>
            </div>
        </div>
    </div>
</header>


<div *ngIf="
currentRoute == '' || 
currentRoute == 'profile' || 
currentRoute == 'notification' || 
currentRoute == 'search' || 
currentRoute == 'friend-profile' ||
currentRoute == 'shop' ||
currentRoute == 'store'
">
    <app-mini-chat *ngIf="conversation.length > 0"></app-mini-chat>
    <div *ngIf="conversation.length == 0">
        <div class="position-fixed layout-vertical align-center-center" style="z-index: 1; bottom: 10px; right: 10px;">
            <button type="button" class="button-accent button-icon-only layout align-center-center"
                style="border-radius: 999px !important; width: 50px !important; height: 50px !important;">
                <i class="icon-size-20 icon icon-ic_fluent_comment_edit_20_filled"></i>
            </button>
        </div>
    </div>
</div>