article{
    margin-top: 50px;
}
.table-product th,
.table-product td {
    padding: 10px;
}

.table-info-bill th,
.table-info-bill td {
    padding: 15px 10px;
}


.display-block {
    display: block;
}

.display-none {
    display: none;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.button-accent {
    background-color: #5283FF;
    color: #fff;
}

.button-secondary {
    background-color: #E0E0E0;
    color: #000;
}
