<section class="gradient-background layout-vertical" style="height: 100vh;">

    <article
        class="layout-horizontal in-mobile-layout-vertical gap-20 px-20 w-fill h-fill in-mobile-h-hug overflow-hidden align-top-center">

        <div
            class="w-fill-column-2 in-tablet-w-fill-column-3 in-mobile-w-fill h-fill layout-vertical gap-20 py-20 overflow-scroll-vertical nav_store">
            <div class="h-fill layout-vertical card-background-default border border-card-default rounded-8">

                <div class="layout-vertical in-mobile-layout-horizontal gap-10 p-10">
                    <div class="list-item w-fill" [class]="tab_shop == 'tab_product'?'active':''"
                        (click)="tabShop('tab_product')">
                        <p class="text-secondary text-body-strong w-fill p-10 in-mobile-py-5 in-mobile-text-center">
                            {{ 'store.tab_product' | translate }}
                        </p>
                    </div>
                    <div class="list-item w-fill" [class]="tab_shop == 'tab_order'?'active':''"
                        (click)="tabShop('tab_order')">
                        <p class="text-secondary text-body-strong w-fill p-10 in-mobile-py-5 in-mobile-text-center">
                            {{ 'store.tab_order' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <app-store-product *ngIf="tab_shop == 'tab_product'"
            class="w-fill-column-7 in-tablet-w-fill-column-9 in-mobile-w-fill h-fill layout-vertical gap-20 overflow-scroll-vertical my-tab">
        </app-store-product>
        <app-store-order *ngIf="tab_shop == 'tab_order'"
            class="w-fill-column-7 in-tablet-w-fill-column-9 in-mobile-w-fill h-fill layout-vertical gap-20 overflow-scroll-vertical my-tab">
        </app-store-order>
    </article>
</section>